
*{margin: 0px; padding: 0px;font-family: 'Noto Sans KR', sans-serif;box-sizing: border-box;}

ol,ul,li{list-style: none;}

body {
  font-family: termina, sans-serif;
  transition: 0.3s ease-out;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
    scroll-behavior: smooth;
}


body.color-orange{background-color: black;}

section{
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: block; 
}


.logo{font-size: 12px; font-weight: bold; position: fixed; top: 20px; left: 20px; color: #000!important;z-index: 9999; width: 80px; border: 3px solid #000; border-radius: 4px; text-align: center;}
.logo span{margin:10px 0px; display: block;}

.topSec {background: url('../img/main/main.jpg') no-repeat; background-position: center; background-size: cover; background-attachment: fixed; position: relative;}
.topSec .opa{width: 100%; height: 100vh; background-color: #fff; opacity: 0.5; position: absolute;}
.topSec .mainMent{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);}
.topSec h1{z-index: 4;overflow-wrap: break-word;hyphens: auto; text-align: center;}
.topSec span{display: block; font-size: 80px; font-weight: bold; line-height: 1.3;}
.topSec span.spanBig{ font-family: 'Train One', cursive!important;}
.topSec .topMent{margin: 50px 0px;}
.topSec p{overflow: hidden; text-align: center;}
.topSec p span{display: inline-block; font-size: 15px; vertical-align: middle;}
.topSec p img{display: inline-block; width: 20px; vertical-align: middle;}


.topSec .topImg{width: 600px; height: 550px; position: absolute; top: 120px; right: 150px; overflow: hidden; background: url('../img/myimg.jpg') no-repeat; background-size: cover; background-position: center center;}



.twoSec .conWrap{width: 1300px; margin: 0 auto; overflow: hidden;}
.twoSec .twoBig{font-size: 55px;font-weight: bold; text-align: right; margin-top: 150px;}
.twoSec .sec2Ment{font-size: 21px; font-weight: lighter;float: left; margin-top: 20px;}
.twoSec .sec2Right{width: 500px; height: 400px;font-weight: bold; float: right; margin-top: 200px;margin-right: 50px;}
.twoSec .sec2Right .imgWrap{position: relative; width: 450px; height: 300px; background: url('../img/myimg.jpg') no-repeat; background-position: center; background-size: cover;margin-right: 50px;}
.twoSec .sec2Right .imgWrap:before{content:""; position: absolute; top: -30px; left: -30px; display: block; width: 450px; height: 300px; border: 1px solid black; z-index: -1;}
.twoSec .sec2Right .imgWrap:after{content:""; position: absolute; top: 30px; left: 30px; display: block; width: 450px; height: 300px; border: 1px solid black; z-index: -1;}
.twoSec .sec2Right .imgWrap img{width: 100%;}

.thrSec .about{font-size: 55px; position: absolute; right: 120px; top: 60px;font-weight: bold; text-align: right;}
.thrSec .aboutList ul li span{display: block;}



