*{
    margin: 0px;
    padding: 0px;
}


html,body {
    width: 100%;
    height: 100%;
    
}


body{
    background-image: url(../img/page1-b2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; 
}

/**************preload******************/



ul, ol, li {
    list-style: none;
} 

a {
    text-decoration: none;
}


.containerN {
    z-index: 999;
}

.logo{
    width: 140px;
    height: 60px;
    float: left;
    position: absolute;
    top: 14px;
    left: 20px;
}
.logo img{
    width: 100%;
}


.pc-nav .menu{
    width: 30%;
    margin:  0 auto;
}


.menu ul {
    overflow: hidden;
}


.menu ul li{
    width: 33.3%;
    text-align: center;
    margin:  0 auto;
    float: left;
    font-family: 'Montserrat', sans-serif;
    line-height: 78px;

}

.menu ul li a{
    color: white;
    font-size: 16px;
}


.menu ul li a:hover{
    color: black;
    transition-duration: 1s;
}

.page1 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.page1-wrap {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
}


.page1-wrap .intro-ment{
    width: 90%;
    padding-left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
}

.page1-wrap .intro-ment h1 {
    font-size: 70px;
    font-family: 'Calistoga', cursive;
    font-weight: lighter;
    color: #fff!important;
    text-align: left;
}

.page1-wrap .intro-ment .intro-line {
    width: 250px;
    height: 2px;
    background-color: white;
    margin: 20px 0px;

}

.page1-wrap .intro-ment .font-sns{
    width: 200px;
    margin: 0px;
}

.page1-wrap .intro-ment .font-sns div{
    cursor: pointer;
    float: left;
    width: 33%;
    color: white;
    text-shadow: none;
}


.page1-wrap .intro-ment .font-sns div{
    cursor: pointer;
    float: left;
    text-align: left;
    width: 33%;
    font-size: 30px;
    color: white;
    transition-duration: 1s;
}

.page1-wrap .intro-ment .font-sns div:nth-child(1):hover {
    color: #3b5998;
}
.page1-wrap .intro-ment .font-sns div:nth-child(2):hover {
    color: #dd2a7b;
}
.page1-wrap .intro-ment .font-sns div:nth-child(3):hover {
    color: #ffe812;
}

.page2 {
    position: relative;
    width: 100%;
    padding:  60px 0px;
    background-color: #fff;
    animation: fadeInText 300ms 0ms forwards;

/*    background-color: #A5DAF1;*/
}

@keyframes fadeInText {
  from {
    transform: translateY(30px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}



.about-title h1 {
    font-family: 'Righteous', cursive;
    color: black;
    text-align: center;
    font-size: 65px;
    padding-bottom: 60px;
    font-weight: bold;
}


.page2 .p2-title {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.page2 .p2-title .p2-ment h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: black;
    text-shadow: 10px 10px 6px gray;
    text-align: center;
}

.page2 .p2-title .p2-ment p {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    line-height: 2;
    text-align: center;
}

.more-btn {
    width: 200px;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    text-align: center;
        font-size: 16px;

   background: linear-gradient(to right, black 50%, white 50%);
   background-size: 200% 100%;
   background-position: right bottom;
   transition: all .7s ease-out;
}

.more-btn:hover{
    color: white;
    transition-duration: .7s;
  background-position: left bottom;
}



.page3 {
    width: 100%;
    background-color: #eee;
    padding: 60px 0px;
    position: relative;
}


.work-title h1 {
    font-family: 'Righteous', cursive;
    color: black;
    text-align: center;
    font-size: 65px;
    padding-bottom: 55px;
    font-weight: bold;
}

.work-title h1 span {
    display: block;
    font-size: 16px;
    color: gray;
    font-weight: lighter;
}

.col-sm {
    margin: 15px;
}

.col-sm::before {
    content: " ";    
    display: block;
    padding-bottom: 100%;
}



.col-sm .caption {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition-duration: 1s;
    cursor: pointer;
}


.col-sm .caption .cap-wrap {
    overflow: hidden;
    margin-top: 50%;
    transform: translateY(-50%);
}

.col-sm .caption .cap-wrap p{
    
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 100%;
    margin-bottom: 30px;
    transition-duration: 0.5s;
    font-family: 'Righteous', cursive;
}

.col-sm .caption p span{
    color: white;
    border: 2px solid #fff;
    display: block;
}

.col-sm:hover .caption{
    opacity: 1;
}
.col-sm:hover .caption p{
    
    margin-bottom: 10px;
}

.col-sm .caption p:nth-child(3) a{
    border: 3px solid #fff;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
}

.col-sm .caption p:nth-child(3) a:hover{
    background-color: black;
    transition-duration: 1s;
}

.port1 {
    background-image: url(../img/port_1.png);
    background-size: cover;
    background-position: center;

}

.port2 {
    background-image: url(../img/port_2.jpg);
    background-size: cover;
    background-position: center;

}

.port3 {
    background-image: url(../img/port_3.png);
    background-size: cover;
    background-position: center;

}

.port4 {
    background-image: url(../img/port_4.png);
    background-size: cover;
    background-position: center;

}


.container {
    width: 1000px!important;
}

    
.about-title p {
    color: black;
    font-size: 20px;
    text-align: center;
}
    
footer {
    width: 100%;
    background-color: #1d1d1d;
}

footer h1{ 
    font-family: 'Calistoga', cursive;
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-top: 35px;
}


footer ul{ 
    overflow: hidden;
    width: 30%;
    margin: 0 auto;
}

footer ul li {
    float: left;
    font-weight: bold;
    width: 33.3%;
    text-align: center;
    margin-top: 40px;    
}


footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    color: #8792af;
}

footer ul li a:hover{
    text-decoration: none;
    color: #fff;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 120px;
    font-family: 'Roboto', sans-serif;
    margin: 0px!important;
    color: #eee;
}



@media screen and (max-width : 1200px) {
    

    .logo{
        width: 140px;
        height: 60px;
        float: left;
        position: absolute;
        top: 14px;
        left: 20px;
    }
    .logo img{
        width: 100%;
    }


    .page1-wrap .intro-ment{
        width: 80%;
        padding-left: 20%;
    }

    .page1-wrap .intro-ment h1 {
        font-size: 55px;
    }

    .page1-wrap .intro-ment .intro-line {
        width: 230px;
        height: 2px;
        background-color: white;
        margin: 15px 0px;

    }

    .page1-wrap .intro-ment .font-sns{
        width: 180px;
        margin: 0px;
    }


    .page1-wrap .intro-ment .font-sns div{
        cursor: pointer;
        float: left;
        text-align: left;
        width: 33%;
        font-size: 25px;
        color: white;
        transition-duration: 1s;
    }

    .page2 {
        position: relative;
        width: 100%;
        padding:  50px 0px;
        background-color: #fff;
        animation: fadeInText 300ms 0ms forwards;
    }

    .about-title h1 {
        font-family: 'Righteous', cursive;
        color: black;
        text-align: center;
        font-size: 55px;
        padding-bottom:50px;
        font-weight: bold;
    }


    .page2 .p2-title {
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
    }

    .page2 .p2-title .p2-ment h1 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 25px;
        color: black;
        text-shadow: 10px 10px 6px gray;
        text-align: center;
    }

    .page2 .p2-title .p2-ment p {
        color: black;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 17px;
        margin-top: 40px;
        line-height: 2;
        text-align: center;
    }

    .more-btn {
        width: 180px;
        margin: 0 auto;
        font-family: 'Nunito Sans', sans-serif;
        border: 2px solid black;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 40px;
        text-align: center;
        font-size: 15px;

       background: linear-gradient(to right, black 50%, white 50%);
       background-size: 200% 100%;
       background-position: right bottom;
       transition: all .7s ease-out;
    }

    .more-btn:hover{
        color: white;
        transition-duration: .7s;
      background-position: left bottom;
    }



    .page3 {
        width: 100%;
        background-color: #eee;
        padding: 50px 0px;
        position: relative;
    }


    .work-title h1 {
        font-family: 'Righteous', cursive;
        color: black;
        text-align: center;
        font-size: 55px;
        padding-bottom: 50px;
        font-weight: bold;
    }

    .work-title h1 span {
        display: block;
        font-size: 15px;
        color: gray;
        font-weight: lighter;
    }

    .col-sm {
        margin: 15px;
    }
    
    .col-sm .caption .cap-wrap p{

        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 100%;
        margin-bottom: 30px;
        transition-duration: 0.5s;
        font-family: 'Righteous', cursive;
    }

    .col-sm .caption p span{
        color: white;
        border: 2px solid #fff;
        display: block;
    }

    .col-sm:hover .caption{
        opacity: 1;
    }
    .col-sm:hover .caption p{

        margin-bottom: 10px;
    }

    .col-sm .caption p:nth-child(3) a{
        border: 3px solid #fff;
        display: inline-block;
        font-size: 18px;
        text-decoration: none;
        padding: 6px 20px;
        color: #fff;
    }


    footer h1{ 
        font-family: 'Calistoga', cursive;
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding-top: 30px;
    }


    footer ul{ 
        overflow: hidden;
        width: 30%;
        margin: 0 auto;
    }

    footer ul li {
        float: left;
        font-weight: bold;
        width: 33.3%;
        text-align: center;
        margin-top: 30px;    
    }


    footer ul li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        color: #8792af;
        font-family: 'Roboto', sans-serif;
    }

    footer ul li a:hover{
        text-decoration: none;
        color: #fff;
    }

    footer p {
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 100px;
        font-family: 'Roboto', sans-serif;
        margin: 0px!important;
        color: #eee;
    }



}





@media screen and (max-width : 800px) {
    

    .logo{
        width: 140px;
        height: 60px;
        float: left;
        position: absolute;
        top: 14px;
        left: 20px;
    }
    .logo img{
        width: 100%;
    }


    .page1-wrap .intro-ment{
        width: 80%;
        padding-left: 20%;
    }

    .page1-wrap .intro-ment h1 {
        font-size: 45px;
    }

    .page1-wrap .intro-ment .intro-line {
        width: 200px;
        height: 2px;
        background-color: white;
        margin: 10px 0px;

    }

    .page1-wrap .intro-ment .font-sns{
        width: 160px;
        margin: 0px;
    }


    .page1-wrap .intro-ment .font-sns div{
        cursor: pointer;
        float: left;
        text-align: left;
        width: 33%;
        font-size: 22px;
        color: white;
        transition-duration: 1s;
    }

    .page2 {
        position: relative;
        width: 100%;
        padding:  40px 0px;
        background-color: #fff;
        animation: fadeInText 300ms 0ms forwards;
    }

    .about-title h1 {
        font-family: 'Righteous', cursive;
        color: black;
        text-align: center;
        font-size: 38px;
        padding-bottom:40px;
        font-weight: bold;
    }


    .page2 .p2-title {
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
    }

    .page2 .p2-title .p2-ment h1 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 22px;
        color: black;
        text-shadow: 10px 10px 6px gray;
        text-align: center;
    }

    .page2 .p2-title .p2-ment p {
        color: black;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 14px;
        margin-top: 30px;
        line-height: 2;
        text-align: center;
    }

    .more-btn {
        width: 160px;
        margin: 0 auto;
        font-family: 'Nunito Sans', sans-serif;
        border: 2px solid black;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        margin-top: 40px;
        text-align: center;

       background: linear-gradient(to right, black 50%, white 50%);
       background-size: 200% 100%;
       background-position: right bottom;
       transition: all .7s ease-out;
    }

    .more-btn:hover{
        color: white;
        transition-duration: .7s;
      background-position: left bottom;
    }



    .page3 {
        width: 100%;
        background-color: #eee;
        padding: 40px 0px;
        position: relative;
    }


    .work-title h1 {
        font-family: 'Righteous', cursive;
        color: black;
        text-align: center;
        font-size: 45px;
        padding-bottom: 50px;
        font-weight: bold;
    }

    .work-title h1 span {
        display: block;
        font-size: 15px;
        color: gray;
        font-weight: lighter;
    }

    .col-sm {
        margin: 15px;
    }
    
    .col-sm .caption .cap-wrap p{

        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 100%;
        margin-bottom: 10px;
        transition-duration: 0.5s;
        font-family: 'Righteous', cursive;
    }

    .col-sm .caption p span{
        color: white;
        border: 2px solid #fff;
        display: block;
    }

    .col-sm:hover .caption{
        opacity: 1;
    }
    .col-sm:hover .caption p{

        margin-bottom: 10px;
    }

    .col-sm .caption p:nth-child(3) a{
        border: 3px solid #fff;
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        padding: 6px 20px;
        color: #fff;
    }

    footer h1{ 
        font-family: 'Calistoga', cursive;
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding-top: 30px;
    }


    footer ul{ 
        overflow: hidden;
        width: 30%;
        margin: 0 auto;
    }

    footer ul li {
        float: left;
        font-weight: bold;
        width: 33.3%;
        text-align: center;
        margin-top: 30px;    
    }


    footer ul li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        color: #8792af;
        font-family: 'Roboto', sans-serif;
    }

    footer ul li a:hover{
        text-decoration: none;
        color: #fff;
    }

    footer p {
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 100px;
        font-family: 'Roboto', sans-serif;
        margin: 0px!important;
        color: #eee;
    }



}





@media screen and (max-width : 640px) {
    

    .logo{
        width: 140px;
        height: 60px;
        float: left;
        position: absolute;
        top: 14px;
        left: 20px;
    }
    .logo img{
        width: 100%;
    }


    .page1-wrap .intro-ment{
        width: 80%;
        padding-left: 20%;
    }

    .page1-wrap .intro-ment h1 {
        font-size: 45px;
    }

    .page1-wrap .intro-ment .intro-line {
        width: 200px;
        height: 2px;
        background-color: white;
        margin: 10px 0px;

    }

    .page1-wrap .intro-ment .font-sns{
        width: 160px;
        margin: 0px;
    }


    .page1-wrap .intro-ment .font-sns div{
        cursor: pointer;
        float: left;
        text-align: left;
        width: 33%;
        font-size: 22px;
        color: white;
        transition-duration: 1s;
    }

    .page2 {
        position: relative;
        width: 100%;
        padding:  30px 0px;
        background-color: #fff;
        animation: fadeInText 300ms 0ms forwards;
    }

    .about-title h1 {
        font-family: 'Righteous', cursive;
        color: black;
        text-align: center;
        font-size: 48px;
        padding-bottom:30px;
        font-weight: bold;
    }


    .page2 .p2-title {
        width: 70%;
        margin: 0 auto;
        overflow: hidden;
    }

    .page2 .p2-title .p2-ment h1 {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
        color: black;
        text-shadow: 10px 10px 6px gray;
        text-align: center;
    }

    .page2 .p2-title .p2-ment p {
        color: black;
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        margin-top: 30px;
        line-height: 2;
        text-align: center;
    }

    .more-btn {
        width: 150px;
        margin: 0 auto;
        font-family: 'Nunito Sans', sans-serif;
        border: 2px solid black;
        padding: 8px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 13px;
        margin-top: 30px;
        text-align: center;

       background: linear-gradient(to right, black 50%, white 50%);
       background-size: 200% 100%;
       background-position: right bottom;
       transition: all .7s ease-out;
    }

    .more-btn:hover{
        color: white;
        transition-duration: .7s;
      background-position: left bottom;
    }



    .page3 {
        width: 100%;
        background-color: #eee;
        padding: 40px 0px;
        position: relative;
    }


    .work-title h1 {
        font-family: 'Righteous', cursive;
        color: black;
        text-align: center;
        font-size: 45px;
        padding-bottom: 50px;
        font-weight: bold;
    }

    .work-title h1 span {
        display: block;
        font-size: 15px;
        color: gray;
        font-weight: lighter;
    }

    .container {
        width: 400px!important;
    }
    
    .col-sm {
        margin: 15px;
    }
    .col-sm .caption {
        opacity: 1;
    }
    
    .col-sm .caption .cap-wrap p{

        color: white;
        font-size: 20px;
        text-align: center;
        line-height: 100%;
        margin-bottom: 10px;
        transition-duration: 0.5s;
        font-family: 'Righteous', cursive;
    }

    .col-sm .caption p span{
        color: white;
        border: 2px solid #fff;
        display: block;
    }

    .col-sm:hover .caption{
        opacity: 1;
    }
    .col-sm:hover .caption p{

        margin-bottom: 10px;
    }

    .col-sm .caption p:nth-child(3) a{
        border: 3px solid #fff;
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        padding: 6px 20px;
        color: #fff;
    }
    
    
    

    footer h1{ 
        font-family: 'Calistoga', cursive;
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding-top: 30px;
    }


    footer ul{ 
        overflow: hidden;
        width: 30%;
        margin: 0 auto;
    }

    footer ul li {
        float: left;
        font-weight: bold;
        width: 33.3%;
        text-align: center;
        margin-top: 30px;    
    }


    footer ul li a {
        color: white;
        text-decoration: none;
        font-size: 12px;
        color: #8792af;
        font-family: 'Roboto', sans-serif;
    }

    footer ul li a:hover{
        text-decoration: none;
        color: #fff;
    }

    footer p {
        width: 100%;
        text-align: center;
        font-size: 15px;
        line-height: 100px;
        font-family: 'Roboto', sans-serif;
        margin: 0px!important;
        color: #eee;
    }



}




