*{
    margin: 0px;
    padding: 0px;
}


html,body {
    width: 100%;
    height: 100%;
    
}


body{
    background-image: url(../img/page1-b.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; 
}

/**************preload******************/



ul, ol, li {
    list-style: none;
} 

a {
    text-decoration: none;
}

.pc-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    z-index: 99;
}

.containerN {
    display: none;
    z-index: 999;
}

.logo{
    width: 160px;
    float: left;
    position: absolute;
    left: 20px;
}

.menu ul {
    width: 30%;
    margin:  0 auto;
    float: left;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.menu ul li{
    width: 33.3%;
    text-align: center;
    margin:  0 auto;
    float: left;
    font-family: 'Montserrat', sans-serif;
    padding: 18px 0px;

}

.menu ul li a{
    color: white;
    font-size: 16px;
}


.menu ul li a:hover{
    color: black;
    transition-duration: 1s;
}

.page1 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
}

.page1-wrap {
    width: 100%;
    height: 100%;
    background: rgba(114,114,114,0.5);
    position: absolute;
}


.page1-wrap .intro-ment{
    width: 90%;
    padding-left: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin:auto;
}

.page1-wrap .intro-ment h1 {
    font-size: 70px;
    font-family: 'Calistoga', cursive;
    font-weight: lighter;
    color: #fff!important;
    text-align: left;
}

.page1-wrap .intro-ment h1 span {
    font-size: 15px;
    display: block;
}

.page1-wrap .intro-ment .intro-line {
    width: 250px;
    height: 2px;
    background-color: white;
    margin: 20px 0px;

}

.page1-wrap .intro-ment .font-sns{
    width: 200px;
    margin: 0px;
}

.page1-wrap .intro-ment .font-sns div{
    cursor: pointer;
    float: left;
    width: 33%;
    color: white;
    text-shadow: none;
}


.page1-wrap .intro-ment .font-sns div{
    cursor: pointer;
    float: left;
    text-align: left;
    width: 33%;
    font-size: 30px;
    color: white;
    transition-duration: 1s;
}

.page1-wrap .intro-ment .font-sns div:nth-child(1):hover {
    color: #3b5998;
}
.page1-wrap .intro-ment .font-sns div:nth-child(2):hover {
    color: #dd2a7b;
}
.page1-wrap .intro-ment .font-sns div:nth-child(3):hover {
    color: #ffe812;
}

.page2 {
    position: relative;
    width: 100%;
    padding:  70px 0px;
    background-color: #fff;
/*    background-color: #A5DAF1;*/
}

/*

.page2-tri{
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 400px solid #da9743;
    border-right: 400px solid transparent;
}

.page2-tri-bot{
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-bottom: 400px solid #da9743;
    border-left: 400px solid transparent;
}
*/


.about-title h1 {
    font-family: 'Righteous', cursive;
    color: black;
    text-align: center;
    font-size: 65px;
    padding-bottom: 40px;
}


.page2 .p2-title {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
}

.page2 .p2-title .p2-ment h1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 30px;
    color: black;
    text-shadow: 10px 10px 6px gray;
    text-align: center;
}

.page2 .p2-title .p2-ment p {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    margin-top: 40px;
    line-height: 2;
    text-align: center;
}

.more-btn {
    width: 200px;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
    text-align: center;
}

.more-btn:hover{
    background-color: black;
    color: white;
    transition-duration: 1s;
}



.page3 {
    width: 100%;
    background-color: #eee;
/*    background-color: #0d0d0d;*/
/*    background-color: #A5DAF1;*/
    padding: 70px 0px;
    position: relative;
}


/*
.page3-tri{
    position: absolute;
    top: 0px;
    right: 0px;
    border-top: 400px solid #da9743;
    border-left: 400px solid transparent;
}

.page3-tri2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-bottom: 400px solid #da9743;
    border-right: 400px solid transparent;
}
*/

.work-title h1 {
    font-family: 'Righteous', cursive;
    color: black;
    text-align: center;
    font-size: 65px;
    padding-bottom: 55px;
}

.col-sm {
    margin: 15px;
}

.col-sm::before {
    content: " ";    
    display: block;
    padding-bottom: 100%;
}

.port1 {
    background-image: url(../img/back_how.jpg);
    background-size: cover;
    background-position: center;

}

.port2 {
    background-image: url(../img/back_how.jpg);
    background-size: cover;
    background-position: center;

}

.port3 {
    background-image: url(../img/back_how.jpg);
    background-size: cover;
    background-position: center;

}