*{
    margin: 0px;
    padding: 0px;
}


html,body {
    width: 100%;
    height: 100%;
    
}


.body_bg1{
    background-image: url(../img/port_1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; 
}


.body_bg2 {
    
    background-image: url(../img/port_2.jpg);
}


.body_bg3 {
    background-image: url(../img/port_3.png);
}

.body_bg4 {
    background-image: url(../img/port_4.png);
    background-size: 100% 110%;
}


/**************preload******************/



ul, ol, li {
    list-style: none;
} 

a {
    text-decoration: none;
    color: #b30c2f;
}


a:hover {
    text-decoration: none;
    color: #00174f;
}


.containerN {
    z-index: 999;
}

.logo{
    width: 140px;
    height: 60px;
    float: left;
    position: absolute;
    top: 14px;
    left: 20px;
}
.logo img{
    width: 100%;
}

.port_top{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.port_top .color1{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #00174f;
    top: 0;
    left: 0;
    opacity: .3;
}

.port_top .color2{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #b30c2f;
    top: 0;
    right: 0;
    opacity: .3;
}

.port_top h1{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 70px;
    color: #fff;
    font-family: 'Righteous', cursive;
}

/*************PORT_1*********************/


.port_page2 {
    width: 100%;
    background-color: #fff;
    padding-top: 60px;
}


.port_page2 h1{
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: 'Righteous', cursive;
    color: #00174f;
}

.port_page2 h1 span{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-family: 'Righteous', cursive;
    text-decoration: none;
}

.port_page2 h1 span a{
}


.port_page2 h1 span a i {
    padding-left: 5px;
}

.port_page2 p{
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto sans', sans-serif;
}


.port_page2 .prev {
    width:90%;
    padding: 0% 5%;
    margin: 0 auto;
    overflow: hidden;
}

.port_page2 .prev div{
    
        box-shadow: 0px 0px 20px 0px gray;
}

.port_page2 .prev .pre_wrap1{
    width: 47.5%;
    height: 600px;
    background-image: url(../img/port/tommy_1.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 60px;
}


.port_page2 .prev .pre_wrap2{
    background-image: url(../img/port/tommy_2.png);
    margin-left: 5%;
}



.port_page2 .prev .pre_wrap3{
    background-image: url(../img/port/tommy_3.png);
}



.port_page2 .prev .pre_wrap4{
    background-image: url(../img/port/tommy_4.png);
    margin-left: 5%;
}



.port_page2 .prev .pre_wrap5{
    background-image: url(../img/port/tommy_5.png);
}


.port_page2 .info_wrap{
    width: 100%;
    overflow: hidden;
    padding: 0px 10%;
}



.port_page2 .info_wrap .color,
.port_page2 .info_wrap .skill {
    width: 50%;
    float: left;
    margin-top: 30px;
}

.port_page2 .info_wrap div h1 {
    font-size: 30px;
}

.port_page2 .info_wrap .color ul{
    width: 110px;
    margin: 0 auto;
    overflow: hidden;
}

.port_page2 .info_wrap .color ul li{
    width: 50px;
    height: 50px;
    margin-bottom: 60px;
    float: left;
}

.port_page2 .info_wrap .color ul .color_1{
    background-color: #b30c2f;
}

.port_page2 .info_wrap .color ul .color_2{
    background-color: #00174f;
    margin-left: 10px;
}



/************PORT_2******************/

.port_top2{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(181,117,25,0.3);
}

.port_top2 h1{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 70px;
    color: #fff;
    font-family: 'Righteous', cursive;
}


.port_page2 .prev .pre_2wrap1{
    width: 47.5%;
    height: 600px;
    background-image: url(../img/port/brick_1.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 60px;
}


.port_page2 .prev .pre_2wrap2{
    background-image: url(../img/port/brick_2.png);
    margin-left: 5%;
}



.port_page2 .prev .pre_2wrap3{
    background-image: url(../img/port/brick_3.png);
}



.port_page2 .prev .pre_2wrap4{
    background-image: url(../img/port/brick_4.png);
    margin-left: 5%;
}



.port_page2 .info_wrap .color ul .color_1{
    background-color: #b30c2f;
}

.port_page2 .info_wrap .color ul .color_2{
    background-color: #00174f;
    margin-left: 10px;
} 

/************PORT_3******************/

.port_top3{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(181,117,25,0.3);
}

.port_top3 h1{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 70px;
    color: #fff;
    font-family: 'Righteous', cursive;
}

.port_page2 .prev .pre_3wrap1{
    width: 70%;
    height: 1000px;
    background-image: url(../img/port_3.png);
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
}


/************PORT_4******************/

.port_4top{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.port_4top h1{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 70px;
    color: #fff;
    font-family: 'Righteous', cursive;
}


.port_4top .color1{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #231f20;
    top: 0;
    left: 0;
    opacity: .3;
}


.port_4top .color2{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #9fad3b;
    top: 0;
    right: 0;
    opacity: .3;
}


.port_page2 h1 span a{
}


.port_page2 h1 span a i {
    padding-left: 5px;
}

.port_page2 p{
    color: black;
    text-align: center;
    font-size: 18px;
    font-family: 'Noto sans', sans-serif;
}


.port_page2 .prev {
    width:90%;
    padding: 0% 5%;
    margin: 0 auto;
    overflow: hidden;
}

.port_page2 .prev div{
    
        box-shadow: 0px 0px 20px 0px gray;
}

.port_page2 .prev .pre_4wrap1{
    width: 47.5%;
    height: 600px;
    background-image: url(../img/port/momo_1.png);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-bottom: 60px;
}


.port_page2 .prev .pre_4wrap2{
    background-image: url(../img/port/momo_2.png);
    margin-left: 5%;
}



.port_page2 .prev .pre_4wrap3{
    background-image: url(../img/port/momo_3.png);
}



.port_page2 .prev .pre_4wrap4{
    background-image: url(../img/port/momo_4.png);
    margin-left: 5%;
}



.port_page2 .prev .pre_4wrap5{
    background-image: url(../img/port/momo_5.png);
}


.port_page2 .info_wrap .color ul .color_1{
    background-color: #231f20;
}

.port_page2 .info_wrap .color ul .color_2{
    background-color: #9fad3b;
    margin-left: 10px;
}






/************FOOTER******************/



footer {
    width: 100%;
    background-color: #1d1d1d;
}

footer h1{ 
    font-family: 'Calistoga', cursive;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding-top: 40px;
}


footer ul{ 
    overflow: hidden;
    width: 30%;
    margin: 0 auto;
}

footer ul li {
    float: left;
    font-weight: bold;
    width: 33.3%;
    text-align: center;
    margin-top: 40px;    
}


footer ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    color: #8792af;
}

footer ul li a:hover{
    text-decoration: none;
    color: #fff;
}

footer p {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 120px;
    font-family: 'Roboto', sans-serif;
    margin: 0px!important;
    color: #eee;
}



@media screen and (max-width : 1200px) {

    .port_top h1{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 60px;
        color: #fff;
        font-family: 'Righteous', cursive;
    }

    .port_page2 {
        padding-top: 50px;
    }


    .port_page2 h1{
        font-size: 50px;
    }

    .port_page2 h1 span{
        font-size: 18px;
    }

    .port_page2 p{
        font-size: 15px;
    }
    
    .port_page2 .info_wrap .color,
    .port_page2 .info_wrap .skill {
        margin-top: 30px;
    }

    .port_page2 .info_wrap div h1 {
        font-size: 27px;
    }

    .port_page2 .info_wrap .color ul{
        width: 100px;
    }

    .port_page2 .info_wrap .color ul li{
        width: 45px;
        height: 45px;
        margin-bottom: 50px;
    }
    

    .port_page2 .prev .pre_wrap1{
        width: 47.5%;
        height: 500px;
        margin-bottom: 50px;
    }

}


@media screen and (max-width : 800px) {

    .port_top h1{
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: 45px;
        color: #fff;
        font-family: 'Righteous', cursive;
    }

    .port_page2 {
        padding-top: 40px;
    }


    .port_page2 h1{
        font-size: 40px;
    }

    .port_page2 h1 span{
        font-size: 17px;
    }

    .port_page2 p{
        font-size: 14px;
    }
    
    .port_page2 .info_wrap .color,
    .port_page2 .info_wrap .skill {
        margin-top: 30px;
    }

    .port_page2 .info_wrap div h1 {
        font-size: 24px;
    }

    .port_page2 .info_wrap .color ul{
        width: 100px;
    }

    .port_page2 .info_wrap .color ul li{
        width: 45px;
        height: 45px;
        margin-bottom: 50px;
    }
    

    .port_page2 .prev .pre_wrap1{
        width: 47.5%;
        height: 400px;
        margin-bottom: 50px;
    }

}


