li {
    list-style: none;
}
.navbar .logo {
    width: 200px;
}

.navbar img{
    width: 160px;
}


.bg-light {
    background-color: #231f20!important;
    overflow: hidden;
}

.nav-link{
    color: white;    
}

.navbar-expand-lg .navbar-nav .nav-link {
  width:190px;
  text-align: center;
padding-right: 0.5rem;
padding-left: 0.5rem;
}




.cinewrap{
    margin-top: 40px;
}


.ban_wrap {
    padding: 0px!important;
}

.cinemawrap .row:nth-child(4){
    padding-bottom: 40px;
}
.cinemawrap .rowtitle{
    font-family: 'Pacifico';
    text-align: center;
    font-size: 3rem;
    background-color: #231f20!important;
    margin: 0px;
    padding-top: 40px;
    margin-top: 40px;
    color: white;
}



.col1, .col2, .col3, .col4 {
    padding: 0px;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
}

.col .img1, .col .img2 {
}

.col1:hover, .col2:hover,.col3:hover,.col4:hover img{
    opacity: 0.7;
    transition-duration: 1s;
}



.morebtn, .ticketbtn {
    width: 42%;
    margin-left: 3%;
}

.ticketbtn{
    margin-left: 10%;
}

.modal-body img{
    width: 50%;
    float: left;
    border-radius: 0px;
}

.modalc {
    width: 50%;
    float: left;
}

.modalc h2{
   font-family: 'Black Han Sans', sans-serif;
    margin-left: 10px;
}

.title-main{
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    font-family: 'Noto Sans';
    border-top: 2px solid white;
    padding-top: 20px;
    margin-top: 20px;
    color: white;
}
.date-main{
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: bold;
    color: white;
    padding-left: 15px;
}


.theaterwrap {
    margin-top: 40px;
}

.theawrap1 {
    padding: 0px 0px 20px 20px;
}
.theawrap1 table,
.theawrap1 h2 {
    color: white;
}

.theawrap2 {
    border-left: 2px solid #eee;
}


.theawrap3 {
    border-right: 2px solid #eee;
}

.theawrap1 h2 {
    font-family: 'Roboto Condensed';
    padding-top: 20px;
    padding-left: 20px;
}

.theawrap1 table th,
.theawrap1 table td{
    font-family: 'Roboto Condensed';
    font-size: 20px;
    padding: 10px 0px 10px 20px;
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 2px solid white;
    cursor: pointer;
}


.theawrap1 table th:hover,
.theawrap1 table td:hover{
    color: #9fad3b;

}

.theawrap1 table td span{
    padding: 0px 4px;
}

.circleall {
    display: inline-block;
    background-color: lightgreen;
    width: 30px;
    border-radius: 40px;
    text-align: center;
}
.circle12 {
    display: inline-block;
    background-color: lightblue;
    width: 30px;
    border-radius: 40px;
    text-align: center;
}
.circle15 {
    display: inline-block;
    background-color: orange;
    width: 30px;
    border-radius: 40px;
    text-align: center;
}

.circle18 {
    display: inline-block;
    background-color: red;
    width: 30px;
    border-radius: 40px;
    text-align: center;
}

.circle {
    
    margin-top: 2%;
}

.howrap{
    width: 15.5%;
    padding: 3% 0px;
    margin-left: 4%;
    
}

.howrap .iconwrap {
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: 100%;
/*    border: 4px solid white;*/
    cursor: pointer;
}

.subt{
    background-color: white!important;
    margin-top: 40px;
    font-size: 5vh;
    color: #9fad3b;
    border-left: 8px solid #9fad3b;
    padding-left: 2%;
}

.main-st h1{
    font-size: 7vw;
    color: #9fad3b;
    padding-left: 2%;
    cursor:default;
    margin-bottom: 0px!important;
    text-align: center;
    font-family: 'Allura', cursive;

}

.main-st p{
    display: inline;
    float: right;
    text-align: right;
    font-size:3vh;
    color: white;
    border: 2px solid white;
    padding: 1%;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 1s;
    margin-top: 2%;
}


.main-st p:hover{
    color: #9fad3b;
    border: 2px solid #9fad3b;
    
}

.howrap .iconwrap:hover {
/*    border: 4px solid #9fad3b;*/
    background-color: white;
    transition-duration: 0.5s;
}

.howrap .iconwrap .hoverwrap {
    position: absolute;
    font-size: 4vw;
    width: 100%;
    text-align:center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.howrap .iconwrap:hover .hoverwrap{
    color: #9fad3b;
    transition-duration: 0.5s;
}


.howrap .iconwrap .hoverwrap p{
    font-size: 1vw;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0px!important;
}

.foot {
    margin-top: 3%;
}

.footer {
    width: 100%;
    
}

.footer h2 {
    text-align: center;
    padding: 40px;
    font-weight: bold;
    font-size: 2vw;
    color: white;
}

.footer div ul{
    overflow: hidden;
    width: 100%;
    border-bottom: 2px solid #9fad3b;
}

.footer div ul li {
    float: left;
    font-family: 'Roboto Condensed';
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1vw;
    font-weight: bold;
}


.footer div ul li:hover{
    color: #9fad3b;
}

.footer div ul li:nth-child(1){
    padding-left: 0px;
}



@media screen and (max-width: 1200px) {

    .navbar-expand-lg .navbar-nav .nav-link {
      width:160px;
      text-align: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }
    
    
}
@media screen and (max-width: 800px) {

    .navbar-expand-lg .navbar-nav .nav-link {
      width:140px;
      text-align: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }
    
}


@media screen and (max-width: 640px) {

    .navbar-expand-lg .navbar-nav .nav-link {
      width:100%;
      text-align: center;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    }
    .navbar-expand-lg .navbar-nav li{
    border-top: 1px solid #eee;
    }
    
    .navbar-expand-lg .navbar-nav li:nth-child(1){
    border-top:none;
    }
    
    
}