*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #231f20;
    display: none;
}

ul,ol,li {
    list-style: none;
}

header {
    width: 100%;
    background-color: #231f20;
    padding: 20px 0px;
}

.gnb, .menu {
    font-family: 'Roboto Condensed', sans-serif; 
    color: white;
}

.gnb {
    font-size: 12px;
}

.gnb{
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;

}

.gnb ul {
    width: 200px;
    float: right;
}

.gnb ul li {
    width: 33.33%;
    float: left;
    text-align: right;
    cursor: pointer;
}
.gnb ul li:hover {
    color: #9fad3b;
}



.main_wrap{
    padding: 0px 10px;
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    width: 200px;
    float: left;
}

.logo img{
    width: 200px;
}

.menu{
    width: 1000px;
    float: right;
}

.menu ul li{
    width: 16.666%!important;
    float: left;
    text-align: right;
    cursor: pointer;
    padding: 22px 0px;
}

.menu ul li:hover {
    color: #9fad3b;
}

.cont {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}

.left{
    float: left;
    width: 10%;
}

.center {
    width: 80%;
    background-color: #544e4e;
    float: left;
    height: 472px;
}

.center h2 {
    font-size: 40px;
    text-align: center;
    color: #231f20;
    padding-top: 20px;
}

.cinema {
    font-size: 25px;
    color: #555;
    background-color: white;
    
}

.center h2{
    font-family: 'Pacifico', cursive;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid #9fad3b;
}


.cinema .cinema-list {
    width: 100%;
    overflow: hidden;
} 


.cinema .cinema-list .cine {
    width: 24%;
    float: left;
    margin-left: 1%;
}
.cinema .cinema-list .cine1, 
.cinema .cinema-list .cine5,
.cinema .cinema-list .cine9{
    margin-left: 0.5%;
}   

.cinema .cinema-list .cine img{
    width: 100%;
}


.right{
    float: left;
    width: 10%;
}

.bottom {
    width: 1200px;
    margin: 0 auto;
}

.bxslider1 .divwrap{
    position: relative;
    margin: 20px 0px;
    cursor: pointer;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    
}

.hover {
    background-color: rgba(114,114,114,0.7);
    opacity: 0;
}

.hover2 .subject{
    margin-top: 20px;
}

.bxslider1 div:hover span{
    opacity: 1;
    transition-duration: 1s;
}


.center .bx-viewport {
    height: 388.775px;
}

.subject{
    font-size: 25px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    margin-top: 40px;
    text-align: center;
}

.director {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    text-align: center;
}


.date {
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    color: white;
    text-align: center;
}


.btnwrap {
    margin-top: 20px;
}
.btnwrap1 {
    margin-top: 30px;
}

.hover1 .btnwrap1 {
    margin-top: 20px;
}

.hover4 .btnwrap1 {
    margin-top: 20px;
}

.hover5 .btnwrap1 {
    margin-top: 20px;
}

.ticket_btn{
    margin-top: 20px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    display: block;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    border-radius:5px;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    cursor: pointer;
    font-weight: bold;
}
.preview{
    background-color: #b30c2f; /* Green */
    border: none;
    color: white;
    display: block;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius:5px;
    margin: 0 auto;
    font-weight: bold;
    cursor: pointer;
}


.ticket_btn:hover, 
.preview:hover {
    color: #231f20;
    transition-duration: 1s;
}

.sns_list {
    width:70%;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    
}

.sns_list1{
    margin-top: 0px;
}

.sns_list img{
    width: 100%;
    text-align: center;
}


.movietime {
    clear: both;
    width: 80%;
    margin: 0 auto;    
    margin-top: 40px;
}

.theater {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #544e4e;
}

.theatab {
    width: 45%;
    float: left;
}

.theatab h3{
    
    font-family: 'Noto Sans KR', sans-serif;
    padding: 10px 30px;
    color: #9fad3b;
    font-size: 30px;
}

.theater2 {
    margin-left: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #544e4e;
} 

th {
    width: 30%;
    padding: 10px 12px;
    color: white;
}

th:hover{
    color: #9fad3b;
    cursor: pointer;
}
td:hover a{
    color: #9fad3b;
    cursor: pointer;
}

td{
    width: 70%;
    padding: 10px 8px;
    font-size: 14px;
    font-weight: bold;
    color: white;

}

.circleall {
    display: inline-block;
    background-color: lightgreen;
    width: 20px;
    border-radius: 40px;
    padding: 2px;
}
.circle12 {
    display: inline-block;
    background-color: lightblue;
    width: 20px;
    border-radius: 40px;
    padding: 2px;
}
.circle15 {
    display: inline-block;
    background-color: orange;
    width: 20px;
    border-radius: 40px;
    padding: 2px;
}

.circle18 {
    display: inline-block;
    background-color: red;
    width: 20px;
    border-radius: 40px;
    padding: 2px;
}

.footer {
    width: 80%;
    margin: 0 auto;
}

.footcon {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    background-color: #544e4e;
    margin-top: 40px;
}

.fot-gnb {
    width: 100%;
    overflow: hidden;
    border-bottom: 2px solid #9fad3b;
}

.footcon ul li{
    float: left;
    font-size: 13px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.adresswrap {
    margin-top: 30px;
}

.adresswrap div  {
    float: left;
    padding: 0px 10px 20px 10px;
    color: white;
}


@media (max-width: 1400px) {
    
.gnb {
    width: 1150px;
}
    
.subject{
    font-size: 20px;
}

.director {
    font-size: 12px;
}


.date {
    font-size: 12px;
}
.main_wrap{
    padding: 0px 10px;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    width: 180px;
    float: left;
}

.logo img{
    width: 200px;
}

.menu{
    width: 800px;
    float: right;
}

.menu ul li{
    padding: 20px 0px;
}
}



@media (max-width: 1300px) {
    .hover1 .btnwrap1 {
        margin-top: 10px;}
    
    .btnwrap1{
        margin-top: 10px;
    }
    .btnwrap2{
        margin-top: 10px;
    }
}


@media (max-width: 1200px) {
    .hover1 .btnwrap1 {
        margin-top: 10px;}
    
    .btnwrap1{
        margin-top: 10px;
    }
    .btnwrap2{
        margin-top: 10px;
    }
    .logo{
        width: 180px;
        float: left;
    }

    .logo img{
        width: 200px;
    }

    .menu{
        width: 800px;
        float: right;
    }

    .menu ul li{
        padding: 20px 0px;
    }
}