*{
    margin: 0px;
    padding: 0px;
}

ul,ol,li{
    list-style: none;
}

a{
    color: #010101;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    background: url(../img/intro_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
 
               
.tick-flip{
   font-size: 63px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    border-radius: 5px;
    width: 68px;
}


.opa{
    position: absolute;
    overflow: hidden;
    width: 360px;
}
.opa .zero{
    width: 68px;
    height: 84px;
    border-radius: 5px;
    position: relative;
    float: left;
    margin-left: 5px;
}


.opa .zero:nth-child(1){
    margin-left: 0px;
}

.opa .zero .number-top{
    width: 67.5px;
    height: 42px;
    top: 0px;
    position: absolute;
    border-radius: 5px 5px 0px 0px;
}

.opa .zero .number-bottom{
    width: 67.5px;
    height: 42px;
    bottom: 0px;
    position: absolute;  
    border-radius: 0px 0px 5px 5px;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.15) 1px, transparent 30%);
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 1px, rgba(0, 0, 0, 0.15) 1px, transparent 30%);
}
     
.opa .zero .number-zero{    
    font-size: 63px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #223267;
    display: block;
    float: left;
    position: absolute;
    text-align: center;
    display: block;
    width: 67.5px;
    background-color: #fff;
    line-height: 84px;
    border-radius: 5px;
    height: 84px;
}

.intro_wrap {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    
}



.intro_wrap .it-top{
    margin-top: 75px;
    overflow: hidden;
    width: 100%;
}


.intro_wrap .it-top .logo{
    width: 177px;
    float: left;
}

.intro_wrap .it-top .logo img{
    display: block;
    width: 100%;
}

.intro_wrap .it-top .it-gnb{
    float: right;
    overflow: hidden;
    margin-top: 14px;
}

.intro_wrap .it-top .it-gnb li{
    float: left;
    font-size: 15px;
    height: 14px;
    line-height: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    position: relative;
}

.intro_wrap .it-top .it-gnb li:hover{
    font-weight: 500;
}

.intro_wrap .it-top .it-gnb li:nth-child(1)::after{
    content: "";
    height: 10px;
    border-right: 1px solid #b7b7b7;
}
.intro_wrap .it-top .it-gnb li a{
    color: #010101;
    margin: 0px 15px;
}

.intro_wrap .it-mid{
    width: 1400px;
    overflow: hidden;
    margin-top: 118px;
}



.intro_wrap .it-mid .left_t{
    
    font-size: 72px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500; 
    line-height: 85px;
    float: left;
}

.intro_wrap .it-mid p{
    letter-spacing: -1.296px;
}
.intro_wrap .it-mid p .p_st{
    font-weight: 700;
    color: #17375e;
}

.intro_wrap .it-mid p .italic{
    font-style: italic; 
}

.intro_wrap .it-mid .it-link{
    float: right;
    cursor: pointer;
}

.intro_wrap .it-mid .it-link p{
    font-size: 16px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color:  black;
    border: 1px solid #d7d7d7;
    border-radius: 100px;
    margin-top: 100px;
    width: 220px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 180px center;
    background-color: #fff;
    transition-duration: .3s;
}


.intro_wrap .it-mid .it-link p .s-wrap{
    display: inline-block;
    margin: 0 auto;
}

.intro_wrap .it-mid .it-link p span:nth-child(1){
}

.intro_wrap .it-mid .it-link p span span{
    margin-top: -5px;
    margin-left: 10px;
    float: none;
    display: inline-block;
}


.intro_wrap .it-mid .it-link p span img{
    width: 20px;
    margin-top: -6px;
    vertical-align: middle;
}


.intro_wrap .it-mid .it-link p:hover{
    background-color: #223763;
    color: #fff;
}

.intro_wrap .it-boxt{
    margin-top: 50px;
    width: 1400px;
    height: 158px;
    overflow: hidden;
    background-color: #dfe6ed;
}


.intro_wrap .it-boxt .itbt-l {
    float: left;
    margin-top: 52px;
    margin-left: 44px;
}

.intro_wrap .it-boxt .itbt-l .itbt-t {
    font-size: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #0d0d0d;
    overflow: hidden;
    line-height: 30px;
    letter-spacing: -0.6px;
}
 
.intro_wrap .it-boxt .itbt-l .itbt-t span{
    color: #223763;
}
.intro_wrap .it-boxt .itbt-l .itbt-d .date{
    font-size:20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: rgba(34,55,99,0.7);
    display: inline-block;
    float: left;
    letter-spacing: -0.4px;
}
.intro_wrap .it-boxt .itbt-l .itbt-d .date_bar{
    width: 50px;
    height: 1px;
    background-color: rgba(34,55,99,0.7);
    display: inline-block;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
}

.intro_wrap .it-boxt .itbt-l2{
    float: left;
    margin-top: 39.5px;
    margin-left: 33px;
}
.intro_wrap .it-boxt .itbt-l2 .number-all {
    overflow: hidden;
    position: relative;
    width: 360px;
    height: 120px;
}
.intro_wrap .it-boxt .itbt-l2 .number-all {
    overflow: hidden;
    position: relative;
    width: 360px;
    height: 79px;
}

/*

.intro_wrap .it-boxt .itbt-l2 .number-all li{
    float: left;
    background: url('../img/number_line.png');
    background-size: 68px;
    background-repeat: no-repeat;
    background-position: center 47px;
    width: 68px;
    height: 80px;
    background-color: #fff;
    margin-left: 5px;
}

.intro_wrap .it-boxt .itbt-l2 .number-all li:nth-child(1){
    margin-left: 0px;
}


.intro_wrap .it-boxt .itbt-l2 .number-all li span{
    font-size: 68px;
    line-height: 80px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #223763;
    text-align: center;
    display: block;
    text-align: center;
}
*/

.intro_wrap .it-boxt .itbt-b {
    overflow: hidden;
    float: left;
    margin-left: 40px;
    margin-top: 22.5px;
}
         

.single-chart {
  width: 115px;
  justify-content: space-around ;
}

.circular-chart {
  display: block;
    position: absolute;
}

.circle-bg {
  fill: none;
  stroke: #fff;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 3.8;
  stroke-linecap: round;
  animation: progress 2s ease-in forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #374c75;
}

.circular-chart.green .circle {
  stroke: #4f81bd;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.intro_wrap .it-boxt .itbt-b  ul .circle_bg {
    float: left;
    width: 115px;
    height: 115px;
    position: relative;
    margin-left: 30px;
    border-radius: 200px;
}

.intro_wrap .it-boxt .itbt-b  ul .circle_bg:last-child {
    float: left;
    width: 85px;
    height: 85px;
    position: relative;
    margin-left: 30px;
    border-radius: 200px;
    margin-top: 30px;
}


.intro_wrap .it-boxt .itbt-b  ul .circle_bg:last-child {
    float: left;
    width: 85px;
    height: 85px;
    position: relative;
    margin-left: 30px;
    border-radius: 200px;
    margin-top: 30px;
}

.intro_wrap .it-boxt .itbt-b  ul .circle_bg .text-wrap{
    position: absolute;
    top: 52px;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}


.intro_wrap .it-boxt .itbt-b  ul .circle_bg:last-child .text-wrap{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.intro_wrap .it-boxt .itbt-b  ul .circle_bg .circle_g{
}

.intro_wrap .it-boxt .itbt-b  ul .circle_bg:nth-child(1){
    margin-left: 0px;
}


.intro_wrap .it-boxt .itbt-b  ul .circle_bg .title {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    display: block;
    color: #010101;
    text-align: center;
    line-height: 25px;
}


.intro_wrap .it-boxt .itbt-b  ul .circle_bg .t-num {
    font-size: 27px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    display: block;
    color: #223763;
    text-align: center;
    line-height: 27px;
    letter-spacing: -0.486px;
}

.intro_wrap .it-boxt .itbt-b  ul .circle_bg:last-child .title {
    font-size: 13px;
    line-height: 20px;
}


.intro_wrap .it-boxt .itbt-b  ul .circle_bg:last-child .t-num {
    font-size: 18px;
    line-height: 18px;
}

.intro_wrap .it-boxb {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 18px;
}

.intro_wrap .it-boxb .slider-wrap{
    width: 279px;
    height: 264px;
    background-color: rgba(114,114,114,0.3);
    float: left;
    margin-left: 1px;
    position: relative;
}

.intro_wrap .it-boxb .slider-wrap:first-child{
    margin-left: 0px;
}

.intro_wrap .it-boxb .slider-wrap .item{
    cursor: pointer;
    width: 279px;
    height: 264px;
}


.bxslider-1 .itema{
    background: url('../img/int1.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
    
}
.bxslider-1 .itemb{
    background: url('../img/int1_1.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
}

.bxslider-2 .itema{
    background: url('../img/int2.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
}
.bxslider-2 .itemb{
    background: url('../img/int2_1.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
}


.bxslider-3 .itema{
    background: url('../img/int3.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
}
.bxslider-3 .itemb{
    background: url('../img/int3_1.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
}


.bxslider-4 .itema{
    background: url('../img/int4.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
}
.bxslider-4 .itemb{
    background: url('../img/int4_1.jpg');
    background-repeat: no-repeat;
    background-size: 279px 265px;
    background-position: center;
}


.boxb-last{
    background-color: #9fd00b;
    width: 279.2px;
    height: 265px;
    cursor: pointer;
}


.intro_wrap .it-boxb .slider-wrap .item_q,
.intro_wrap .it-boxb .slider-wrap .item_a {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    color: #fff;
    display: block;
    margin-left: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    letter-spacing: -0.820px;
}

.intro_wrap .it-boxb .slider-wrap .item_a {
}







   .numCounter {
	 display: inline-block;
	 height: 79px;
	 line-height: 79px;
	 text-shadow: 0 0 2px #fff;
	 font-weight: bold;
	 white-space: normal;
	 font-size: 68px;
}

    .intro_wrap .it-boxt .itbt-l2 .number-all .ie-num{
    display: none;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .allt-num{
        display: block;
         font-size: 60px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 700;
        letter-spacing: 30px;
        text-align: right;
        position: absolute;
        z-index: 10;
        right: 0px;
    }

    .numCounter{
        display: none;
    }
        

    .intro_wrap .it-boxt .itbt-l2 .number-all .ie-num{
        overflow: hidden;
        display: block;
    }


    .intro_wrap .it-boxt .itbt-l2 .number-all .ie-num li{
        float: left;
        background: url('../img/number_line.png');
        background-size: 68px;
        background-repeat: no-repeat;
        background-position: center 47px;
        width: 68px;
        height: 80px;
        background-color: #fff;
        margin-left: 5px;
    }

    .intro_wrap .it-boxt .itbt-l2 .number-all .ie-num li:nth-child(1){
        margin-left: 0px;
    }


    .intro_wrap .it-boxt .itbt-l2 .number-all .ie-num li span{
        font-size: 68px;
        line-height: 80px;
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: 500;
        color: #223763;
        text-align: center;
        display: block;
        text-align: center;
    }
}
 


.numCounter > div {
	 display: inline-block;
	 vertical-align: top;
	 height: 100%;
}
 .numCounter > div > b {
	 display: inline-block;
	 width: 67px;
	 height: 100%;
	 text-align: center;
	 text-shadow: 2px 1px 3px rgba(0, 0, 0, .2);
	 box-shadow: 2px 2px 3px rgba(0, 0, 0, .1) inset, -2px -2px 2px rgba(255, 255, 255, .12) inset;
	 overflow: hidden;
     background-color: #fff;
     margin-left: 5px;
     color: #223763;
}

 .numCounter > div > b::before {
	 content: ' 0 1 2 3 4 5 6 7 8 9 ';
	 display: block;
	 word-break: break-all;
	 word-break: break-word;
	 transition: 0.5s cubic-bezier(0.75, 0.15, 0.6, 1.15), text-shadow 150ms;
}
 .numCounter > div > b.blur {
	 opacity: 0.8;
	 text-shadow: 2px 1px 3px rgba(0, 0, 0, .2), 0 0.1em 2px rgba(255, 255, 255, .6), 0 0.3em 3px rgba(255, 255, 255, .3), 0 -0.1em 2px rgba(255, 255, 255, .6), 0 -0.3em 3px rgba(255, 255, 255, .3);
}
 .numCounter > div > b[data-value="1"]::before {
	 margin-top: -79px;
}
 .numCounter > div > b[data-value="2"]::before {
	 margin-top: -158px;
}
 .numCounter > div > b[data-value="3"]::before {
	 margin-top: -237px;
}
 .numCounter > div > b[data-value="4"]::before {
	 margin-top: -316px;
}
 .numCounter > div > b[data-value="5"]::before {
	 margin-top: -395px;
}
 .numCounter > div > b[data-value="6"]::before {
	 margin-top: -474px;
}
 .numCounter > div > b[data-value="7"]::before {
	 margin-top: -553px;
}
 .numCounter > div > b[data-value="8"]::before {
	 margin-top: -632px;
}
 .numCounter > div > b[data-value="9"]::before {
	 margin-top: -711px;
}








   .numCounter1 {
	 display: inline-block;
	 height: 27px;
	 line-height: 27px;
	 font-weight: bold;
	 white-space: normal;
	 font-size: 27px;
       width: 69px;
}
 .numCounter1 > div {
	 display: inline-block;
	 vertical-align: top;
	 height: 100%;
}
 .numCounter1 > div > b {
	 display: inline-block;
	 width: 16px;
	 height: 100%;
	 text-align: center;
	 overflow: hidden;
    font-size: 27px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    display: block;
    color: #223763;
}
 .numCounter1 > div > b::before {
	 content: ' 0 1 2 3 4 5 6 7 8 9 ';
	 display: block;
	 word-break: break-all;
	 word-break: break-word;
	 transition: 0.5s cubic-bezier(0.75, 0.15, 0.6, 1.15), text-shadow 150ms;
}
 .numCounter1 > div > b[data-value="1"]::before {
	 margin-top: -27px;
}
 .numCounter1 > div > b[data-value="2"]::before {
	 margin-top: -54px;
}
 .numCounter1 > div > b[data-value="3"]::before {
	 margin-top: -81px;
}
 .numCounter1 > div > b[data-value="4"]::before {
	 margin-top: -108px;
}
 .numCounter1 > div > b[data-value="5"]::before {
	 margin-top: -135px;
}
 .numCounter1 > div > b[data-value="6"]::before {
	 margin-top: -162px;
}
 .numCounter1 > div > b[data-value="7"]::before {
	 margin-top: -189px;
}
 .numCounter1 > div > b[data-value="8"]::before {
	 margin-top: -216px;
}
 .numCounter1 > div > b[data-value="9"]::before {
	 margin-top: -243px;
}











