
@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.woff'); 
    src:local(※), format(‘woff’) 
}




@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.eot'); 
    src:local(※), format(‘eot’) 
}



.delete {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* delete Content */
.delete-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
    width: 450px;
    position: relative;
}
.delete_mtitle{
    font-size: 16px;
    font-family: rb;
    font-weight: bold;
    color: #646464;
    margin-top: 20px;
}

.delete_c{
    font-size: 14px;
    font-family: rl;
    font-weight: bold;
    color: #8a8a8a;
    margin-top: 20px;
    line-height: 20px;
}

.delete_input {
    overflow: hidden;
    margin-top: 20px;
}

.delete_input label {
    font-size: 14px;
    font-family: rb;
    color: #646464;
}

.delete_input input{
    border: 1px solid #a7a7a7;
    margin-left: 20px;
    padding: 5px 10px;
}

.delete_input .confirm_d input{
    margin-left: 0px;
}

.delete_input .delete_bwrap {
    overflow: hidden;
    width: 288px;
    margin: 20px auto 0px auto;
}


.delete_input .delete_bwrap div input[type="button"] {
    border: none;
    background-color: #4a8ce8;
    color: #fff;
    font-size: 14px;
    font-family: rl;
    font-weight: bold;
    float: left;
}


.delete_input .delete_bwrap div input[type="button"]:disabled{
    background-color: #fff;
    color: #4a8ce8;
}

/* The Close Button */
.deleteclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-family: rb;
    position: absolute;
    top: 0px;
    right: 10px;
}

.deleteclose:hover,
.deleteclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



@media screen and (max-width: 640px) {


.delete {
  padding-top: 200px; /* Location of the box */
}

/* delete Content */
.delete-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
    width: 280px;
    position: relative;
}
.delete_mtitle{
    font-size: 14px;
}

.delete_c{
    font-size: 13px;
}
.delete_input label {
    font-size: 15px;
    font-weight: bold;
}

.delete_input input{
    margin-left: 0px;
}


.delete_input .delete_bwrap {
    overflow: hidden;
    width: 260px;
    margin: 20px auto 0px auto;
}


.delete_input .delete_bwrap div input[type="button"] {
    border: none;
    background-color: #4a8ce8;
    color: #fff;
    font-size: 12px;
    float: left;
    margin-left: 20px;
}

    .delete_input .delete_bwrap .confirm_d input[type="button"] {
        margin-left: 0px;
    }

.delete_input .delete_bwrap div input[type="button"]:disabled{
    background-color: #fff;
    color: #4a8ce8;
}

/* The Close Button */
.deleteclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
    position: absolute;
    top: 0px;
    right: 10px;
}

.deleteclose:hover,
.deleteclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




}
