
@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.woff'); 
    src:local(※), format(‘woff’) 
}




@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.eot'); 
    src:local(※), format(‘eot’) 
}



.static {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.static-content {
  background-color: #fefefe;
  margin: auto;
  padding: 30px;
  border: 1px solid #888;
    width: 640px;
    position: relative;
}

.static-header {
    font-size: 18px;
    color: #646464;
    font-family: rb;
    text-align: left;
}



/* The Close Button */
.staticclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
    font-family: rb;
    position: absolute;
    top: 0px;
    right: 10px;
}

.staticclose:hover,
.staticclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.static-content .static_wrap{
    width: 640px;
    overflow: hidden;
    margin:  0 auto;
    margin-top: 20px;
}

.static-content .static_wrap .static_video{
    width: 640px;

}

.static-content .static_wrap .static_video .sv_wrap {
    width: 640px;
    overflow: hidden;
}

.static-content .static_wrap .static_video .sv_wrap .sv_img{
    width: 212px;
    height: 121px;
    float: left;
}

.static-content .static_wrap .static_video .sv_wrap .sv_img iframe{
    width: 212px!important;
    height: 121px!important;
    pointer-events: none;
}

.static-content .static_wrap .static_video .sv_wrap .sv_info {
    float: left;
    width: 407px;
    padding: 7.8px 10px;
    border: 1px solid #646464;
    border-left: none;
}

.static-content .static_wrap .static_video .sv_wrap .sv_info .title{
    font-size: 14px;
    font-family: rr;
    color: #646464;
}

.static-content .static_wrap .static_video .sv_wrap .sv_info .user{
    font-size: 12px;
    font-family: rr;
    color: #646464;
    margin-top: 7px;
}

.static-content .static_wrap .static_video .sv_wrap .sv_info .info{
    font-size: 12px;
    font-family: rr;
    color: #646464;
    height: 28px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.static-content .static_wrap .static_video .sv_wrap .sv_info .moreview{
    font-size: 14px;
    font-family: rr;
    color: #646464;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.static-content .static_wrap .static_video .sv_wrap .sv_info .moreview span:nth-child(2),
.static-content .static_wrap .static_video .sv_wrap .sv_info .moreview span:nth-child(3){
    margin-left: 10px;
}
.static-content .static_wrap .static_video .sv_wrap .sv_info .moreview span:nth-child(3){
    border-bottom: 1px solid #646464;
}


.static-content .static_wrap .static_video .sv_total{
    color: #646464;
    font-size: 14px;
    font-family: rr;
    overflow: hidden;
}

.static-content .static_wrap .static_video .sv_total div {
    margin-top: 30px;
    overflow: hidden;
}

.static-content .static_wrap .static_video .sv_total div > span:nth-child(1){
    width: 220px;
    display: block;
    font-family: rr;
    float: left;
}

.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap{
    display: block;
    float: left;
    width: 375px;
    margin-top: 0px;
}

.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b,
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i,
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a {
    display: block;
    width: 100%;
}


.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i,
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a {
    margin-top: 0px;
    overflow: hidden;
}

.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b span,
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i span,
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a span{
    display: block;
    float: left;
}

.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b span:nth-child(1){
    float: left;
}
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b span:nth-child(2){
    width: 61px;
}
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i span:nth-child(2){
    width: 40px;
}
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a span:nth-child(2) {
    width: 64px;
}
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b span:nth-child(3),
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i span:nth-child(3),
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a span:nth-child(3){
    width: 30px;
    text-align: right;
}
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b span:nth-child(4),
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i span:nth-child(4),
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a span:nth-child(4){
    width: 100px;
    text-align: right;
}

.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b span:nth-child(5),
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i span:nth-child(5),
.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a span:nth-child(5){
    width: 90px;
    text-align: right;
    padding-bottom: 20px;
}

.static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap span span:nth-child(5) button{
    border-bottom: 1px solid #646464;
    color: #646464;
    background-color: #fff;
}


@media screen and (max-width: 900px) {
    
    .static {
        padding-top: 100px;
    }
    
    
    .static-content {
      width: 540px;
    }

    .static-header {
        font-size: 18px;
    }

    .static-content .static_wrap{
        width: 538px;
    }

    .static-content .static_wrap .static_video{
        width: 538px;

    }

    .static-content .static_wrap .static_video .sv_wrap {
        width: 538px;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_img{
        width: 199px;
    }



    .static-content .static_wrap .static_video .sv_wrap .sv_info {
        width: 318px;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_info .title{
        font-size: 13px;
        font-weight: bold;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_info .user{
        font-size: 11px;
        margin-top: 6px;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_info .info{
        font-size: 11px;
        margin-top: 5px;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_info .moreview{
        font-size: 11px;
        margin-top: 6px;
    }

    .static-content .static_wrap .static_video .sv_total{
        color: #646464;
        font-size: 15px;
    }
    .static-content .static_wrap .static_video .sv_total div > span:nth-child(1){
        width: 150px;
        display: block;
        font-family: rr;
        float: left;
    }

    .static-content .static_wrap .static_video .sv_total .svt_lev p{
        display: block;
        float: left;
        width: 375px;
    }

}



@media screen and (max-width: 640px) {

    .static {
      padding-top: 10px; /* Location of the box */
    }

    /* Modal Content */
    .static-content {
    padding: 10px 20px;
        width: 250px;
    }


    .static-content .static_wrap{
        width: 250px;
        margin-top: 10px;
    }

    .static-content .static_wrap .static_video{
        width: 250px;

    }

    .static-content .static_wrap .static_video .sv_wrap {
        width: 250px;
        height: 139px;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_img iframe{
        width: 250px!important;
        height: 139px!important;
    }
    .static-content .static_wrap .static_video .sv_wrap .sv_img{
        width: 250px;
        float: left;
    }


    .static-content .static_wrap .static_video .sv_wrap .sv_info {
        float: left;
        width: 228px;
        padding: 10px;
        border: none;
        border: 1px solid #a7a7a7;
        margin-top: -5px;
    }
    .static-content .static_wrap .static_video .sv_wrap .sv_info .title{
        font-size: 14px;
        font-family: r;
        color: #646464;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_info .user{
        font-size: 11px;
        font-family: rr;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_info .info{
        font-size: 11px;
        font-family: rr;
    }

    .static-content .static_wrap .static_video .sv_wrap .sv_info .moreview{
        font-size: 12px;
    }

    .static-content .static_wrap .static_video .sv_total div {
        margin-top: 10px;
        overflow: hidden;
    }

    .static-content .static_wrap .static_video .sv_total div > span:nth-child(1){
        width: 220px;
        display: block;
        font-family: rr;
        font-size: 13px;
        float: left;
    }
    .static-content .static_wrap .static_video .sv_total {
        font-size: 13px;
    }
    .static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap {
        width: 250px;
    }
    .static-content .static_wrap .static_video .sv_total .svt_lev p{
        display: block;
        float: left;
        width: 250px;
        font-size: 13px;
    }

    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_b,
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_i,
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_a {
        display: block;
        overflow: hidden;
    }


    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_i,
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_a {
        margin-top: 10px;
    }

    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_b span,
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_i span,
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_a span{
        display: block;
        float: left;
    }

    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_b span:nth-child(2){
        width: 43px;
    }
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_i span:nth-child(2){
        width: 25px;
    }
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_a span:nth-child(2) {
        width: 44px;
    }
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_b span:nth-child(3),
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_i span:nth-child(3),
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_a span:nth-child(3){
        width: 60px;
        text-align: right;
        float: left;
    }
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_b span:nth-child(4),
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_i span:nth-child(4),
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_a span:nth-child(4){
        text-align: right;
        float: left;
        width: 80px;
    }

    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_b span:nth-child(5),
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_i span:nth-child(5),
    .static-content .static_wrap .static_video .sv_total .svt_lev p .lev_a span:nth-child(5){
        text-align: right;
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }
    .static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_b span:nth-child(5), .static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_i span:nth-child(5), .static-content .static_wrap .static_video .sv_total .svt_lev .lev_wrap .lev_a span:nth-child(5) {
        width: 71px;
        text-align: right;
        padding-bottom: 20px;
    }

    .static-content .static_wrap .static_video .sv_total .svt_lev p span span:nth-child(5) a{
        border-bottom: 1px solid #646464;
        color: #646464;
    }




}
