
@font-face{ font-family: nbl; src:url(../font/NotoSansCJKkr-Light.woff); src:local(※), format(‘woff’) }
@font-face{ font-family: nbb; src:url(../font/NotoSansCJKkr-Bold.woff); src:local(※), format(‘woff’) }

@font-face{ font-family: nbl; src:url(../font/NotoSansCJKkr-Light.eot); src:local(※), format(‘eot’) }
@font-face{ font-family: nbb; src:url(../font/NotoSansCJKkr-Bold.eot); src:local(※), format(‘eot’) }







.sub_1 {padding-top: 80px; padding-bottom: 300px; width: 600px; margin: 0 auto;}

.sub_1 h1{    text-align: center; margin-top: 40px; font-size: 30px; font-family: nbb;  }

.sub_1 .mp_btn { width: 304px; height: 40px; margin: 40px auto; border: 2px solid #646464;}

.sub_1 .mp_btn ul li {float: left; width: 100px; border-left: 2px solid #646464;}
.sub_1 .mp_btn ul li:nth-child(1) {border-left: none;}
.sub_1 .mp_btn ul li a{display: block; display: block;text-align: center;position: relative; line-height: 40px; font-family: nbl; font-size: 14px;}
.sub_1 .mp_btn ul li a:hover{background-color: #646464; color: #fff; transition-duration: 1s;}
.sub_1 .mp_btn ul li a.on{background-color: #2a2a2a; color: #fff;}

.sub_1 form .my_page h2 { font-size: 20px; padding: 60px 0px 20px 0px; font-family: nbb; font-weight: bold;}



.sub_1 form .my_page h1,
.sub_1 form .store h1 {font-size: 25px; text-align: center; font-family: nbb;}


.sub_1 form .my_page .infow p {font-size: 13px; font-family: nbl;}

.sub_1 form .my_page .infow input[type="text"] {border: none; border-bottom: 2px solid #a7a7a7; width: 400px; padding: 10px; font-size: 15px;}
.sub_1 form .my_page .infow input[type="text"].w300 {width: 300px;}

.sub_1 form .store {margin-top: 120px;}
.sub_1 form .store h2 { font-size: 20px; padding: 60px 0px 20px 0px; font-family: nbb;}

.sub_1 form .my_page .infow input{cursor: pointer;}
.sub_1 form .store .storew input{cursor: pointer;}
.sub_1 form .store .storew input[type="text"] {border: none; border-bottom: 2px solid #a7a7a7; width: 400px; padding: 10px; font-size: 15px;}

.sub_1 form .store .storew  input[type="text"].w300 {width: 300px;}

.sub_1 form .my_page .infow input[type="button"],
.sub_1 form .store .storew input[type="button"] {width: 100px;padding: 10px 0px; border: none; background-color: #646464; color: #fff; border-radius: 5px; font-family: nbl;}

.info_1 input[type="text"]:nth-child(2){
    width: 200px;
}

.sub_1 .btn_change {border-top: 2px solid black; position: relative;margin-top: 20px; padding-bottom: 20px;}

.sub_1 .btn_change input[type="button"] {width: 100px;padding: 10px 0px; border: none; background-color: black; color: #fff; margin-top: 20px;  position: absolute; font-family: nbb;}

.sub_1 .btn_change input[type="button"]:nth-child(1) {top: 0px; right: 120px; border: 2px solid #a7a7a7; background-color: #fff; color: black;}
.sub_1 .btn_change input[type="button"]:nth-child(2) {top: 0px; right: 0px; border: 2px solid black;}




.sub_2 {padding-top: 80px; width: 800px; margin: 0 auto;}



.sub_2 h1{    text-align: center; margin-top: 40px; font-size: 30px; font-family: nbb;}

.sub_2 .mp_btn { width: 304px; height: 40px; margin: 40px auto; border: 2px solid #646464; }

.sub_2 .mp_btn ul li {float: left; width: 100px; border-left: 2px solid #646464;}
.sub_2 .mp_btn ul li:nth-child(1) {border-left: none;}
.sub_2 .mp_btn ul li a{display: block; display: block;text-align: center;position: relative; line-height: 40px; font-size: 14px; font-family: nbl;}
.sub_2 .mp_btn ul li a:hover{background-color: #646464; color: #fff; transition-duration: 1s;}
.sub_2 .mp_btn ul li a.on{background-color: #2a2a2a; color: #fff;}


.sub_2 table{  width: 100%; border-collapse: collapse; text-align: center; font-size: 15px;}
.sub_2 table th,
.sub_2 table td{padding: 10px 0px;border: 1px solid #fff;}

.sub_2 table th {background-color: black; color: #fff; font-weight: lighter;}
.sub_2 table td {background-color: #eee; color: black; padding: 20px 0px;}

.sub_2 .number_pt {font-size: 14px; width: 223px; overflow: hidden; margin: 20px auto 0px auto;}
.sub_2 .number_pt img{width: 15px; display: block; margin-top: 3px;}

.sub_2 .number_pt ul li {float: left; border-top: 1px solid #a7a7a7;  border-right: 1px solid #a7a7a7;  border-bottom: 1px solid #a7a7a7; padding: 5px 9px;}
.sub_2 .number_pt ul li:nth-child(1) {border-left: 1px solid #a7a7a7;;}

.sub_2 .number_pt ul li:nth-child(2),
.sub_2 .number_pt ul li:nth-child(3),
.sub_2 .number_pt ul li:nth-child(4),
.sub_2 .number_pt ul li:nth-child(5),
.sub_2 .number_pt ul li:nth-child(6){   padding: 5px 11px;}


.sub_3 { padding-top: 80px; padding-bottom: 300px; width: 800px; margin: 0 auto;}



.sub_3 h1{    text-align: center; margin-top: 40px; font-size: 30px; font-family: dr;}

.sub_3 .mp_btn { width: 304px; height: 40px; margin: 40px auto; border: 2px solid #646464;}

.sub_3 .mp_btn ul li {float: left; width: 100px; border-left: 2px solid #646464;}
.sub_3 .mp_btn ul li:nth-child(1) {border-left: none;}
.sub_3 .mp_btn ul li a{display: block; display: block;text-align: center;position: relative; line-height: 40px; font-size: 14px; font-family: nbl;}
.sub_3 .mp_btn ul li a:hover{background-color: #646464; color: #fff; transition-duration: 1s;}
.sub_3 .mp_btn ul li a.on{background-color: #2a2a2a; color: #fff;}


.sub_3 .product {width: 600px; margin: 0 auto; overflow: hidden;}
.sub_3 .product p{font-size: 20px; font-family: nbb; font-weight: bold;text-align: center; background: url("../img/sub/coupon.png"); background-repeat: no-repeat; background-size: 100%; background-position: center; padding: 100px 0px;}
.sub_3 .product a{width: 200px; margin: 0 auto; display: block; text-align: center; margin-top: 20px;  padding: 5px 10px; background-color: #646464; color: #fff; transition-duration: 1s; font-size: 15px; font-family: nbl;}
.sub_3 .product a:hover{background-color: black;}





.sign_up {padding-top: 80px; padding-bottom: 300px; width: 600px; margin: 0 auto;}

.sign_up h1{    text-align: center; margin-top: 40px; font-size: 30px; font-family: nbb;}

.sign_up .mp_btn { width: 304px; height: 40px; margin: 40px auto; border: 2px solid #646464;}

.sign_up .mp_btn ul li {float: left; width: 100px; border-left: 2px solid #646464;}
.sign_up .mp_btn ul li:nth-child(1) {border-left: none;}
.sign_up .mp_btn ul li a{display: block; display: block;text-align: center;position: relative; line-height: 40px; font-family:nbl; font-size: 15px;}
.sign_up .mp_btn ul li a:hover{background-color: #646464; color: #fff; transition-duration: 1s;}
.sign_up .mp_btn ul li a.on{background-color: #2a2a2a; color: #fff;}

.sign_up form .my_page h2 { font-size: 20px; padding: 60px 0px 20px 0px; font-family: dr;}



.sign_up form .my_page h1,
.sign_up form .store h1 {font-size: 25px; text-align: left; font-family: nbb;}

.sign_up form .my_page .infow label {font-size: 14px;margin-left: 40px; cursor: pointer; font-family: nbl;}
.sign_up form .my_page .infow label:nth-child(2) {margin-left: 0px;}
.sign_up form .my_page .infow input[type="radio"] {font-size: 15px; vertical-align: baseline;}

.sign_up form .my_page .infow p {font-size: 12px; font-family: nbl;}

.sign_up form .my_page .infow input[type="text"] {border: none; border-bottom: 2px solid #a7a7a7; width: 400px; padding: 10px; font-size: 15px;}
.sign_up form .my_page .infow input[type="text"].w300 {width: 300px;}

.sign_up form .store {margin-top: 120px;}
.sign_up form .store h2 { font-size: 20px; padding: 60px 0px 20px 0px; font-family: nbb;}

.sign_up form .my_page .infow input{cursor: pointer;}
.sign_up form .store .storew input{cursor: pointer;}
.sign_up form .store .storew input[type="text"] {border: none; border-bottom: 2px solid #a7a7a7; width: 400px; padding: 10px; font-size: 15px;}

.sign_up form .store .storew  input[type="text"].w300 {width: 300px;}

.sign_up form .my_page .infow input[type="button"],
.sign_up form .store .storew input[type="button"] {width: 100px;padding: 10px 0px; border: none; background-color: #646464; color: #fff; border-radius: 5px;}

.info_7 input[type="text"]:nth-child(2){
    width: 200px;
}

.sign_up .btn_change {border-top: 2px solid black; position: relative;margin-top: 20px; padding-bottom: 20px;}

.sign_up .btn_change input[type="button"] {width: 100px;padding: 10px 0px; border: none; background-color: black; color: #fff; margin-top: 20px;  position: absolute; font-family: nbl;}

.sign_up .btn_change input[type="button"]:nth-child(1) {top: 0px; right: 120px; border: 2px solid #a7a7a7; background-color: #fff; color: black;}
.sign_up .btn_change input[type="button"]:nth-child(2) {top: 0px; right: 0px; border: 2px solid black;}







.center { padding-top: 80px; padding-bottom: 178px; width: 800px; margin: 0 auto;}



.center h1{    text-align: center; margin-top: 40px; font-size: 30px; font-family: nbb;}

.center .center_btn { width: 304px; height: 40px; text-align: center;line-height: 40px; margin: 40px auto; border: 2px solid #646464;}

.center .center_btn ul li {float: left; width: 100px; border-left: 2px solid #646464; font-size: 14px; font-family: nbl; cursor: pointer; transition-duration: 1s;}
.center .center_btn ul li:hover {background: #646464; color: #fff;}
.center .center_btn ul li.on {background: #646464; color: #fff;}
.center .center_btn ul li:nth-child(1) {border-left: none;}


.center .notice_wrap table{  width: 100%; border-collapse: collapse; text-align: center; font-size: 15px; font-family:nbb;}
.center .notice_wrap table th,
.center .notice_wrap table td{padding: 10px 0px; border: 1px solid #fff; }

.center .notice_wrap table th {background-color: #646464; color: #fff; font-weight: bold;}
.center .notice_wrap table td {background-color: #eee; color: black; padding: 20px 0px;}

.center .notice_wrap .number_pt {font-size: 14px; width: 223px; overflow: hidden; margin: 20px auto 0px auto;}
.center .notice_wrap .number_pt img{width: 15px; display: block; margin-top: 3px;}

.center .notice_wrap .number_pt ul li {float: left; border-top: 1px solid #a7a7a7;  border-right: 1px solid #a7a7a7;  border-bottom: 1px solid #a7a7a7; padding: 5px 9px;}
.center .notice_wrap .number_pt ul li:nth-child(1) {border-left: 1px solid #a7a7a7;;}

.center .notice_wrap .number_pt ul li:nth-child(2),
.center .notice_wrap .number_pt ul li:nth-child(3),
.center .notice_wrap .number_pt ul li:nth-child(4),
.center .notice_wrap .number_pt ul li:nth-child(5),
.center .notice_wrap .number_pt ul li:nth-child(6){   padding: 5px 11px;}

.center .faq { margin: 20px 0px;}
.center .faq div {width: 740px; background-color: #eaeaea; padding: 20px 30px; font-family: nbl;}
.center .faq .faq_t p {font-family: nbl; font-weight: bold; color: #2a2a2a; font-size: 15px; transition-duration: 1s;}

.center .faq .faq_t p span{ display: inline-block; text-align: center;line-height: 20px; font-weight: bold;font-family: nbb; margin-right: 5px; color: #fff; background: url('../img/sub/faq_circle.png'); background-repeat: no-repeat; background-position: center;width: 20px; height: 20px;}
.center .faq .faq_t {cursor: pointer;}
.center .faq .faq_a {border-top: 1px solid #a7a7a7; display: none;}




.center .question_wrap { width: 600px; margin:  0 auto;}
.center .question_wrap p{ font-size: 14px; font-family: nbl; text-align: center;}

.center .question_wrap .ques_wrap{ width: 350px; margin:  0 auto;}
.center .question_wrap .ques_wrap form {border-bottom: 2px solid black; padding-bottom: 10px;}
.center .question_wrap .ques_wrap form div{display: block;}
.center .question_wrap .ques_wrap div h2{font-size: 16px;font-family: nbb; margin-top: 40px;}
.center .question_wrap .ques_wrap div input[type="text"]{border: none;background-color: #fff; border-bottom: 2px solid #a7a7a7; width: 310px; padding: 10px 20px; margin-top: 10px; cursor: pointer;}
.center .question_wrap .ques_wrap div span {font-size: 12px; display: block; padding: 5px 0px;}
.center .question_wrap .ques_wrap input[type="button"] {background-color: #646464; color: #fff; border: none; font-size: 14px; padding: 10px 15px; display: block; width: 100px; margin: 30px auto; cursor: pointer;}


.faq_wrap, .question_wrap {display: none;}


.center_sub1 {width: 600px; margin: 0 auto; padding-top: 128px;}
.center_sub1 h1{  text-align: center; margin-top: 40px; font-size: 30px; font-family: nbb;}
.center_sub1  .center_con { margin-top: 40px;}
.center_sub1  .center_con .ct_wrap h2{font-family: nbb; font-size: 18px;}
.center_sub1  .center_con .ct_wrap .cs_date p{ font-size: 14px; padding: 5px 0px; font-family: nbl; font-weight: bold;}

.center_sub1  .center_con .ct_con {border-top: 2px solid #a7a7a7;border-bottom: 2px solid #a7a7a7; padding-top: 30px; margin-top: 30px;}


.center_sub1  .center_con .back_ct a {font-size: 14px; background-color: #646464; padding: 5px 10px; display: inline-block; margin-top: 20px; cursor: pointer;color: #fff; font-family: nbl;}



@media screen and (max-width:1300px) {

    


    .sub_1 {padding-bottom: 240px; width: 600px;}

    .sub_1 h1{font-size: 26px;}

    .sub_1 .mp_btn { margin: 30px auto; }

    .sub_1 .mp_btn ul li a{font-size: 14px;}

    .sub_1 form .my_page h2 { font-size: 18px; padding: 50px 0px 20px 0px;}



    .sub_1 form .my_page h1,
    .sub_1 form .store h1 {font-size: 23x; }

    .sub_1 form .my_page .infow label {font-size: 13px;}
    .sub_1 form .my_page .infow input[type="radio"] {font-size: 13px; vertical-align: middle;}

    .sub_1 form .my_page .infow input[type="text"] {font-size: 14px;}


    .sub_1 form .store {margin-top: 100px;}
    .sub_1 form .store h2 { font-size: 18px; padding: 50px 0px 20px 0px;}
    .sub_1 form .store .storew input[type="text"] {font-size: 14px;}



    .sub_2 {padding-bottom: 240px; width: 600px;}
    .sub_2 h1{font-size: 26px;}
    .sub_2 .mp_btn { margin: 30px auto; }

    .sub_2 .mp_btn ul li a{font-size: 14px;}

    .sub_2 table{font-size: 14px;}

    .sub_2 .number_pt {font-size: 13px;}
    .sub_2 .number_pt img{width: 14px;}

    .sub_3 {padding-bottom: 174px; width: 800px; margin: 0 auto;}



    .sub_3 h1{font-size: 26px;}

    .sub_3 .mp_btn { margin: 30px auto; }

    .sub_3 .mp_btn ul li a{font-size: 14px;}


    .sub_3 .product {width: 600px; margin: 0 auto; overflow: hidden;}
    .sub_3 .product a{width: 200px; margin: 0 auto; display: block; text-align: center; margin-top: 20px;  padding: 5px 10px; background-color: #646464; color: #fff; transition-duration: 1s; font-size: 15px; font-family: dr;}
    .sub_3 .product a:hover{background-color: black;}


    


    .sign_up {padding-bottom: 240px; width: 600px;}

    .sign_up h1{font-size: 26px;}

    .sign_up .mp_btn { margin: 30px auto; }

    .sign_up .mp_btn ul li a{font-size: 14px;}

    .sign_up form .my_page h2 { font-size: 18px; padding: 50px 0px 20px 0px;}



    .sign_up form .my_page h1,
    .sign_up form .store h1 {font-size: 23x; }

    .sign_up form .my_page .infow label {font-size: 13px;}
    .sign_up form .my_page .infow input[type="radio"] {font-size: 13px; vertical-align: middle;}

    .sign_up form .my_page .infow input[type="text"] {font-size: 14px;}


    .sign_up form .store {margin-top: 100px;}
    .sign_up form .store h2 { font-size: 18px; padding: 50px 0px 20px 0px;}
    .sign_up form .store .storew input[type="text"] {font-size: 14px;}



    
    


    .center {width: 500px;}
    .center h1{font-size: 26px;}


    .center .center_btn ul li { font-size: 14px; }


    .center .notice_wrap table{  font-size: 14px;}
    .center .notice_wrap table th,
    .center .notice_wrap table td{padding: 10px 0px; border: 1px solid #fff; }

    .center .notice_wrap table th {background-color: #646464; color: #fff; font-weight: bold;}
    .center .notice_wrap table td {background-color: #eee; color: black; padding: 20px 0px;}

    .center .notice_wrap .number_pt {font-size: 14px; width: 223px; overflow: hidden; margin: 20px auto 0px auto;}
    .center .notice_wrap .number_pt img{width: 15px; display: block; margin-top: 3px;}

    .center .notice_wrap .number_pt ul li {float: left; border-top: 1px solid #a7a7a7;  border-right: 1px solid #a7a7a7;  border-bottom: 1px solid #a7a7a7; padding: 5px 9px;}
    .center .notice_wrap .number_pt ul li:nth-child(1) {border-left: 1px solid #a7a7a7;;}

    .center .notice_wrap .number_pt ul li:nth-child(2),
    .center .notice_wrap .number_pt ul li:nth-child(3),
    .center .notice_wrap .number_pt ul li:nth-child(4),
    .center .notice_wrap .number_pt ul li:nth-child(5),
    .center .notice_wrap .number_pt ul li:nth-child(6){   padding: 5px 11px;}

    .center .faq { margin: 20px 0px;}
    .center .faq div {width: 740px; background-color: #eaeaea; padding: 20px 30px; font-family: nbl;}
    .center .faq .faq_t p {font-family: nbl; font-weight: bold; color: #2a2a2a; font-size: 15px; transition-duration: 1s;}

    .center .faq .faq_t p span{ display: inline-block; text-align: center;line-height: 20px; font-weight: bold;font-family: nbb; margin-right: 5px; color: #fff; background: url('../img/sub/faq_circle.png'); background-repeat: no-repeat; background-position: center;width: 20px; height: 20px; }
    .center .faq .faq_t {cursor: pointer;}
    .center .faq .faq_t.check p {padding-left: 30px;}
    .center .faq .faq_a {border-top: 1px solid #a7a7a7; display: none;}




    .center .question_wrap { width: 600px; margin:  0 auto;}
    .center .question_wrap p{ font-size: 14px; font-family: nbl; text-align: center;}

    .center .question_wrap .ques_wrap{ width: 350px; margin:  0 auto;}
    .center .question_wrap .ques_wrap form {border-bottom: 2px solid black; padding-bottom: 10px;}
    .center .question_wrap .ques_wrap form div{display: block;}
    .center .question_wrap .ques_wrap div h2{font-size: 16px;font-family: nbb; margin-top: 40px;}
    .center .question_wrap .ques_wrap div input[type="text"]{border: none;background-color: #fff; border-bottom: 2px solid #a7a7a7; width: 310px; padding: 10px 20px; margin-top: 10px; cursor: pointer;}
    .center .question_wrap .ques_wrap div span {font-size: 12px; display: block; padding: 5px 0px;}
    .center .question_wrap .ques_wrap input[type="button"] {background-color: #646464; color: #fff; border: none; font-size: 14px; padding: 10px 15px; display: block; width: 100px; margin: 30px auto; cursor: pointer;}


    .faq_wrap, .question_wrap {display: none;}


    .center_sub1 {width: 600px; margin: 0 auto; padding-top: 128px;}
    .center_sub1 h1{  text-align: center; margin-top: 40px; font-size: 30px; font-family: nbb;}
    .center_sub1  .center_con { margin-top: 40px;}
    .center_sub1  .center_con .ct_wrap h2{font-family: nbb; font-size: 18px;}
    .center_sub1  .center_con .ct_wrap .cs_date p{ font-size: 14px; padding: 5px 0px; font-family: nbl; font-weight: bold;}

    .center_sub1  .center_con .ct_con {border-top: 2px solid #a7a7a7;border-bottom: 2px solid #a7a7a7; padding-top: 30px; margin-top: 30px;}


    .center_sub1  .center_con .back_ct a {font-size: 14px; background-color: #646464; padding: 5px 10px; display: inline-block; margin-top: 20px; cursor: pointer;color: #fff; font-family: nbl;}



}





@media screen and (max-width:900px) {

    .sub_1 {width: 550px;}
     
    .sub_1 h1{font-size:22px;}

    .sub_1 .mp_btn { height: 35px; margin: 25px auto;}

    .sub_1 .mp_btn ul li a{font-size: 13px; line-height: 35px; }

    .sub_1 form .my_page h2 { font-size: 16px;}



    .sub_1 form .my_page h1,
    .sub_1 form .store h1 {font-size: 18px;}

    .sub_1 form .my_page .infow label {font-size: 13px;}
    .sub_1 form .my_page .infow label:nth-child(2) {margin-left: 0px;}
    .sub_1 form .my_page .infow input[type="radio"] {font-size: 15px;}

    .sub_1 form .my_page .infow input[type="text"] {font-size: 13px; width: 350px;}
    .sub_1 form .my_page .infow input[type="text"].w300 {width: 245px;}


    .sub_1 form .store {margin-top: 80px;}
    .sub_1 form .store h2 { font-size: 16px; padding: 40px 0px 20px 0px;}

    .sub_1 form .store .storew input[type="text"] {font-size: 13px; width: 350px;}
    .sub_1 form .store .storew input[type="text"].w300 {width: 245px;}



    .sub_1 .btn_change input[type="button"] {width: 80px;padding: 5px 0px; border: none; background-color: black; color: #fff; margin-top: 20px;  position: absolute; font-family: dr;}

    .sub_1 .btn_change input[type="button"]:nth-child(1) {top: 0px; right: 100px; border: 2px solid #a7a7a7; background-color: #fff; color: black;}
    .sub_1 .btn_change input[type="button"]:nth-child(2) {top: 0px; right: 0px; border: 2px solid black;}

    .sub_2 {width: 550px; padding-bottom: 100px;}

    .sub_2 h1{font-size: 22px; }
    .sub_2 .mp_btn { height: 35px; margin: 25px auto;}

    .sub_2 .mp_btn ul li a{font-size: 13px; line-height: 35px;}


    .sub_2 table{font-size: 13px;}
    .sub_2 table th,
    .sub_2 table td{padding: 5px 0px;}

    .sub_2 table td {padding: 15px 0px;}


    .sub_3 { width: 550px; }



    .sub_3 h1{ font-size: 22px; }

    .sub_3 .mp_btn { height: 35px; margin: 25px auto;}
    .sub_3 .mp_btn ul li a{font-size: 13px; line-height: 35px;}


    .sub_3 .product {width:450px; margin: 0 auto; overflow: hidden;}
    .sub_3 .product p{font-size: 18px;padding: 80px 0px;}
    .sub_3 .product a{font-size: 14px;}


    .sign_up {width: 550px;}
     
    .sign_up h1{font-size:22px;}

    .sign_up .mp_btn { height: 35px; margin: 25px auto;}

    .sign_up .mp_btn ul li a{font-size: 13px; line-height: 35px; }

    .sign_up form .my_page h2 { font-size: 16px;}



    .sign_up form .my_page h1,
    .sign_up form .store h1 {font-size: 18px;}

    .sign_up form .my_page .infow label {font-size: 13px;}
    .sign_up form .my_page .infow label:nth-child(2) {margin-left: 0px;}
    .sign_up form .my_page .infow input[type="radio"] {font-size: 15px;}

    .sign_up form .my_page .infow input[type="text"] {font-size: 13px; width: 350px;}
    .sign_up form .my_page .infow input[type="text"].w300 {width: 245px;}


    .sign_up form .store {margin-top: 80px;}
    .sign_up form .store h2 { font-size: 16px; padding: 40px 0px 20px 0px;}

    .sign_up form .store .storew input[type="text"] {font-size: 13px; width: 350px;}
    .sign_up form .store .storew input[type="text"].w300 {width: 245px;}



    .sign_up .btn_change input[type="button"] {width: 80px;padding: 5px 0px; border: none; background-color: black; color: #fff; margin-top: 20px;  position: absolute; font-family: dr;}

    .sign_up .btn_change input[type="button"]:nth-child(1) {top: 0px; right: 100px; border: 2px solid #a7a7a7; background-color: #fff; color: black;}
    .sign_up .btn_change input[type="button"]:nth-child(2) {top: 0px; right: 0px; border: 2px solid black;}


}





@media screen and (max-width: 640px) {

    .sub_1 {width: 300px; padding: 30px 0px 150px 0px;}
     
    .sub_1 h1{font-size:20px;}

    .sub_1 .mp_btn {width: 241px; height: 20px; margin: 25px auto;}

    .sub_1 .mp_btn ul li {width: 79px;}
    .sub_1 .mp_btn ul li a{font-size: 11px; line-height: 20px; }

    .sub_1 form .my_page h2 { font-size: 14px; padding: 30px 0px 15px 0px;}
   
    .sub_1 form .my_page .infow input[type="button"],
    .sub_1 form .store .storew input[type="button"] {width: 60px; padding: 5px 0px;}

    .sub_1 form .my_page .infow p { font-size: 11px; }

    .sub_1 form .my_page h1,
    .sub_1 form .store h1 {font-size: 15px;}

    .sub_1 form .my_page .infow label {font-size: 13px; margin-left: 10px;}
    .sub_1 form .my_page .infow input[type="radio"] {font-size: 13px;}

    .sub_1 form .my_page .infow input[type="text"] {font-size: 13px; width: 230px;}
    .sub_1 form .my_page .infow input[type="text"].w300 {width: 170px;}


    .sub_1 form .store {margin-top: 80px;}
    .sub_1 form .store h2 { font-size: 14px; padding: 30px 0px 15px 0px;}

    .sub_1 form .store .storew input[type="text"] {font-size: 13px; width: 230px;}
    .sub_1 form .store .storew input[type="text"].w300 {width: 170px;}



    .sub_1 .btn_change input[type="button"] {width: 60px;padding: 5px 0px;font-size: 12px;}

    .sub_1 .btn_change input[type="button"]:nth-child(1) {top: 0px; right: 70px; border: 2px solid #a7a7a7; background-color: #fff; color: black;}
    .sub_1 .btn_change input[type="button"]:nth-child(2) {top: 0px; right: 0px; border: 2px solid black;}
    
    
    .sub_2 {width: 300px; padding-top: 30px; padding-bottom: 100px;}

    .sub_2 h1{font-size: 20px; }
    .sub_2 .mp_btn { width: 241px; height: 20px; margin: 25px auto;}

    .sub_2 .mp_btn ul li a{font-size: 13px; line-height: 35px;}
    .sub_2 .mp_btn ul li {width: 79px;}
    .sub_2 .mp_btn ul li a{font-size: 11px; line-height: 20px; }


    .sub_2 table{font-size: 12px;}
    .sub_2 table th,
    .sub_2 table td{padding: 5px 0px;}
    
    
    .sub_2 table th:nth-child(1),
    .sub_2 table th:nth-child(5),
    .sub_2 table td:nth-child(1),
    .sub_2 table td:nth-child(5){display: none;}

    .sub_2 table td {padding: 15px 0px;}


    .sub_3 {width: 300px;     padding: 60px 0px 100px 0px}



    .sub_3 h1{ font-size: 20px; }

    .sub_3 .mp_btn { width: 241px; height: 20px; margin: 25px auto;}
    .sub_3 .mp_btn ul li {width: 79px;}
    .sub_3 .mp_btn ul li a{font-size: 11px; line-height: 20px;}

    .sub_3 .product {width:290px; margin: 0 auto; overflow: hidden;}
    .sub_3 .product p{font-size: 13px;padding: 60px 0px;}
    .sub_3 .product a{font-size: 14px;}


    .sign_up {width: 300px; padding: 30px 0px 150px 0px;}
     
    .sign_up h1{font-size:20px;}

    .sign_up .mp_btn {width: 241px; height: 20px; margin: 25px auto;}

    .sign_up .mp_btn ul li {width: 79px;}
    .sign_up .mp_btn ul li a{font-size: 11px; line-height: 20px; }

    .sign_up form .my_page h2 { font-size: 14px; padding: 30px 0px 15px 0px;}
   
    .sign_up form .my_page .infow input[type="button"],
    .sign_up form .store .storew input[type="button"] {width: 60px; padding: 5px 0px;}

    .sign_up form .my_page .infow p { font-size: 11px; }

    .sign_up form .my_page h1,
    .sign_up form .store h1 {font-size: 15px;}

    .sign_up form .my_page .infow label {font-size: 13px; margin-left: 10px;}
    .sign_up form .my_page .infow input[type="radio"] {font-size: 13px;}

    .sign_up form .my_page .infow input[type="text"] {font-size: 13px; width: 230px;}
    .sign_up form .my_page .infow input[type="text"].w300 {width: 170px;}


    .sign_up form .store {margin-top: 80px;}
    .sign_up form .store h2 { font-size: 14px; padding: 30px 0px 15px 0px;}

    .sign_up form .store .storew input[type="text"] {font-size: 13px; width: 230px;}
    .sign_up form .store .storew input[type="text"].w300 {width: 170px;}



    .sign_up .btn_change input[type="button"] {width: 60px;padding: 5px 0px;font-size: 12px;}

    .sign_up .btn_change input[type="button"]:nth-child(1) {top: 0px; right: 70px; border: 2px solid #a7a7a7; background-color: #fff; color: black;}
    .sign_up .btn_change input[type="button"]:nth-child(2) {top: 0px; right: 0px; border: 2px solid black;}
}

