*{margin:0; padding:0; border:0;font-family: 'Gill Sans','Gill Sans MT','Calibri',sans-serif;}
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}



header{width:100%; height:68px; background-color:#141821; overflow:hidden;}
#logo_wrap{width: 335px; height: 68px; float: left; }
#logo_wrap h1{margin-left: 50px; margin-top: 15px;}
header #nav_wrap {width:675px; height: 30px; margin:0 auto; margin-top:17px;}
#nav {width: 100%; overflow: hidden;}
#nav li{width: 110px; float:left; margin-left:25px; text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li:nth-child(1) h2 a {color: #b30c2f;}
#nav li h2 a {font-size:14px; font-weight:normal; color:#eee;}
#nav li  h2 a:hover{color:#b30c2f;}

#search_wrap{float:right; margin-top: -23px; margin-right:35px;}
#search_wrap input{ width:136px; height:20px;}
#search_wrap img{width:16px; height:16px; position:relative; top:3.5px; left:-30px;}


body{width:100%; background-color:#f2efea;}
section{width:1200px; margin:0 auto;}
section #menu_wrap{width:700px; height:14px; margin:0 auto; margin-top:50px;}
section #menu_wrap #about_menu{width:100%; overflow:hidden;}
section #menu_wrap #about_menu li{float:left;;}
section #menu_wrap #about_menu li a{font-size:14px; padding:0 15px; color:#141821; border-right:1.5px solid black}
section #menu_wrap #about_menu li:nth-child(5) a{border:none;}
section #menu_wrap #about_menu li a:hover{color:#b30c2f;}
section #menu_wrap #about_menu li:nth-child(5) a{color:#b30c2f;}

section #sub_logo h3{text-align:center; margin-top:80px;}
section #main_img {margin-top:80px;}
section #main_img #top_img {overflow: hidden; height:370px;}
section #main_img #top_img #left{width:356px; float:left; }
section #main_img #top_img #left img:nth-child(2){margin-top:8px;}
section #main_img #top_img #center{float:left; margin-left:21px;}
section #main_img #top_img #right{width: 357px; float:left; margin-left:21px;}

section #franchise{margin-top:100px;}
section #franchise #fran_title {width:100%;}
section #franchise #fran_title h4{font-size:70px; font-weight: normal; color:#00174f;}
section #franchise #fran_title h4 .fran_color{color:#b30c2f;}
section #franchise #fran_img{margin-top:60px;}
section #franchise .fran_text{font-size:12px; line-height: 1.3; margin-top:60px;}
section #franchise .fran_text .sub_title{font-size:26px; }

section #open_store{margin-top:100px;}
section #open_store #open_title {width:100%;}
section #open_store #open_title h4{font-size:70px; font-weight: normal; color:#00174f;}
section #open_store #open_title h4 .open_color{color:#b30c2f;}
section #open_store #open_text{font-size:13px;}
section #open_store #open_text .open_note{font-weight: bold;}
section #open_store #open_text .form_color{color:#b30c2f;}

section #open_store #label_wrap{margin-top:60px;}
section #open_store #label_wrap .label{width:100%; overflow: hidden;}
section #open_store #label_wrap .label p {font-size:14px; line-height: 1.2;}
section #open_store #label_wrap .label ul{overflow: hidden;}
section #open_store #label_wrap .label ul li{float:left;margin-left: 73px;margin-top: 40px;}
section #open_store #label_wrap .label ul li .form_color{color: #b30c2f;}
section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
section #open_store #label_wrap .label ul li p{cursor: pointer;}
section #open_store #label_wrap .label ul li input{width:245px; height: 25px; cursor: pointer;}

section #open_store #label_wrap #check_sub_wrap{width:100%; margin-top:40px;overflow:hidden;}
section #open_store #label_wrap #check_sub_wrap #check_accept{float:left;}
section #open_store #label_wrap #check_sub_wrap #check_accept input{float:left; cursor: pointer;}
section #open_store #label_wrap #check_sub_wrap #check_accept label{float:left; margin-top: -3px; font-size:15px; cursor: pointer;}
section #open_store #label_wrap #check_sub_wrap #check_accept label .check_text{color:#b30c2f;}
section #open_store #label_wrap #check_sub_wrap #submit{float:right;}
section #open_store #label_wrap #check_sub_wrap #submit div{width:118px; height: 34px; background-color: #b30c2f; border-radius: 10px;}
section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 16px; text-align: center; line-height: 2.2; color: #fff;}



footer{width:100%; height:30px; padding-top:15px; background-color:#fff; margin-top:90px;}
footer #change_con{float:left; margin-left:50px;}
footer #change_con a{font-size:11px; color:#4f5259;}

footer #foot_info {width:50%; margin:0 auto; }
footer #foot_info ul{}
footer #foot_info ul li{float:left; margin-left:30px;}
footer #foot_info ul li:nth-child(1){margin-left:0px;}
footer #foot_info ul li{font-size:11px; color:#4f5259;}

footer #gnb {width:175px;float:right; margin-right:50px;}
footer #gnb p{float:left}
footer #gnb p a{font-size:11px; color:#4f5259;}
footer #gnb ul{float:left; margin-left:13px;}
footer #gnb ul li{float:left; margin-left:5px;}
footer #gnb ul li a img{width:20px; height:20px;}


@media (min-width:900px) and (max-width:1450px){
    #search_wrap{display: none;}
    header #nav_wrap {width: 550px; float: right;}
    #nav li{width: 95px; float:left; margin-left:15px; text-align: center;}
    #nav li:nth-child(1) h2 a {color: #b30c2f;}
    #nav li h2 a {font-size:12px; font-weight:normal; color:#eee;}
    
    section {width: 900px;}
    section #menu_wrap{width:600px; height:14px; margin:0 auto; margin-top:50px;}
    section #menu_wrap #about_menu{width:100%; overflow:hidden;}
    section #menu_wrap #about_menu li{float:left;}
    section #menu_wrap #about_menu li:nth-child(5){border:none;}
    section #menu_wrap #about_menu li a{font-size:12px; padding:0 15px; color:#141821; border-right:1px solid black;}
    
    section #sub_logo h3{text-align:center; margin-top:80px;}
    section #sub_logo h3 img{width: 230px;}    

    
    section #main_img {width: 900px;margin: 0 auto; margin-top: 60px;}
    section #main_img #top_img {overflow: hidden; height:370px;}
    section #main_img #top_img #left{width:273px; float:left; }
    section #main_img #top_img #left img{width: 273px;}
    section #main_img #top_img #center{float:left; margin-left:10px;}
    section #main_img #top_img #center img{width: 350px;}
    section #main_img #top_img #right{width: 250px; float:left; margin-left:10px;}
    section #main_img #top_img #right img{width: 248px; }

    section #franchise {width: 900px; margin: 0 auto;}
    section #franchise #fran_img img{width: 900px;}
    section #franchise #fran_title {width:900px;}
    section #franchise #fran_title h4{font-size:60px;}
    section #franchise .fran_text{font-size:11px; line-height: 1.3; margin-top:60px;}
    section #franchise .fran_text .sub_title{font-size:24px; }

    section #open_store{width: 900px; margin: 0 auto;margin-top:60px;}
    section #open_store #open_title {width:100%;}
    section #open_store #open_title h4{font-size:60px; font-weight: normal; color:#00174f;}
    section #open_store #open_text{font-size:12px;}

    section #open_store #label_wrap{margin-top:60px;}
    section #open_store #label_wrap .label{width:100%; overflow: hidden;}
    section #open_store #label_wrap .label p {font-size:13px; line-height: 1.2;}
    section #open_store #label_wrap .label ul{overflow: hidden;}
    section #open_store #label_wrap .label ul li{float:left;margin-left: 73px;margin-top: 40px;}
    section #open_store #label_wrap .label ul li .form_color{color: #b30c2f;}
    section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
    section #open_store #label_wrap .label ul li p{cursor: pointer;}
    section #open_store #label_wrap .label ul li input{width:170px; height: 25px; cursor: pointer;}

    section #open_store #label_wrap #check_sub_wrap{width:900px;}
    section #open_store #label_wrap #check_sub_wrap #check_accept label{font-size:14px;}
    section #open_store #label_wrap #check_sub_wrap #submit{float:right;}
    section #open_store #label_wrap #check_sub_wrap #submit div{width:100px; height: 30px; background-color: #b30c2f; border-radius: 10px;}
    section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 13px; text-align: center; line-height: 2.2; color: #fff;}

    
    footer #change_con {display: none;}
    footer #foot_info {width:500px; margin:0 auto; }
    footer #foot_info ul li{float:left; margin-left:15px;}
    footer #foot_info ul li:nth-child(1){margin-left:0px;}
    footer #foot_info ul li{font-size:8px; color:#4f5259;}    
    footer #gnb {display: none;}
}


@media (min-width:750px) and (max-width:900px){
    #search_wrap{display: none;}
    header #nav_wrap {width: 400px; float: right;}
    #nav li{width: 70px; float:left; margin-left:10px;}
    #nav li h2 a {font-size:8px;}

    section {width:600px;}
    section #menu_wrap{width:450px; height:14px; margin:0 auto; margin-top:50px;}
    section #menu_wrap #about_menu{width:100%; overflow:hidden;}
    section #menu_wrap #about_menu li{float:left;}
    section #menu_wrap #about_menu li:nth-child(5){border:none;}
    section #menu_wrap #about_menu li a{font-size:9px; padding:0 10px; color:#141821; border-right:1px solid black;}
    
    section #sub_logo h3{text-align:center; margin-top:80px;}
    section #sub_logo h3 img{width: 180px;}
    
    section #main_img {width: 600px;margin: 0 auto; margin-top: 60px;}
    section #main_img #top_img {overflow: hidden; height:220px;}
    section #main_img #top_img #left{width:180px; float:left; }
    section #main_img #top_img #left img{width: 180px;}
    section #main_img #top_img #center{float:left; margin-left:9px;}
    section #main_img #top_img #center img{width: 235px;}
    section #main_img #top_img #right{width: 166px; float:left; margin-left:9px;}
    section #main_img #top_img #right img{width: 166px; }

    section #franchise {width: 600px; margin: 0 auto;}
    section #franchise #fran_img img{width: 600px;}
    section #franchise #fran_title {width:600px;}
    section #franchise #fran_title h4{font-size:50px;}
    section #franchise .fran_text{font-size:10px; line-height: 1.3; margin-top:60px;}
    section #franchise .fran_text .sub_title{font-size:22px; }

    section #open_store{width: 600px; margin: 0 auto;margin-top:60px;}
    section #open_store #open_title {width:100%;}
    section #open_store #open_title h4{font-size:45px; font-weight: normal; color:#00174f;}
    section #open_store #open_text{font-size:11px;}

    section #open_store #label_wrap{margin-top:60px;}
    section #open_store #label_wrap .label{width:100%; overflow: hidden;}
    section #open_store #label_wrap .label p {font-size:12px; line-height: 1.2;}
    section #open_store #label_wrap .label ul{overflow: hidden;}
    section #open_store #label_wrap .label ul li{float:left;margin-left: 16px;margin-top: 40px;}
    section #open_store #label_wrap .label ul li .form_color{color: #b30c2f;}
    section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
    section #open_store #label_wrap .label ul li p{cursor: pointer;}
    section #open_store #label_wrap .label ul li input{width:135px; height: 25px; cursor: pointer;}

    section #open_store #label_wrap #check_sub_wrap{width:600px;}
    section #open_store #label_wrap #check_sub_wrap #check_accept label{font-size:14px;}
    section #open_store #label_wrap #check_sub_wrap #submit{float:right;}
    section #open_store #label_wrap #check_sub_wrap #submit div{width:80px; height: 25px; margin-right: 15px;}
    section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 11px; }
    
    
    footer #change_con {display: none;}
    footer #foot_info {width:250px; margin:0 auto;  overflow: hidden;}
    footer #foot_info ul li{float:none;}
    footer #foot_info ul li:nth-child(1){display: none;}
    footer #foot_info ul li:nth-child(2){display: none;}
    footer #foot_info ul li:nth-child(3){display: none;}
    footer #foot_info ul li:nth-child(4){display: none;}
    footer #foot_info ul li{font-size:6px; color:#4f5259;}
    footer #gnb {display: none;}
}


@media (min-width:300px) and (max-width:750px){
    #logo_wrap{width:100%; height: 30px; }
    #logo_wrap h1{text-align: center; margin: 0; margin-top: 5px; margin-bottom: 5px;}
    #search_wrap{display: none;}
    header #nav_wrap {width: 390px;float: none;}
    #nav li{width: 78px; float:left; margin-left:0px; margin-top: 5px;}
    #nav li h2 a {font-size:8px;}

    section #menu_wrap{width:250px; height:14px; margin:0 auto; margin-top:50px;}
    section #menu_wrap #about_menu{width:100%; overflow:hidden;}
    section #menu_wrap #about_menu li{float:left;  border: none;}
    section #menu_wrap #about_menu li:nth-child(4) a{padding-right: 18px;}
    section #menu_wrap #about_menu li a{font-size:6px; border-right:0.5px solid black; margin: 0px; padding:0 5px; color:#141821;}
    section #menu_wrap #about_menu li:nth-child(3) a{border-right: none;}
    section #menu_wrap #about_menu li:nth-child(5) a{border-right: none;}
    
    section {width: 400px;}
    section #sub_logo h3{text-align:center; margin-top:60px;}
    section #sub_logo h3 img{width: 150px;}
    section #main_img {width: 400px;margin: 0 auto; margin-top: 60px;}
    section #main_img #top_img {overflow: hidden; height:140px;}
    section #main_img #top_img #left{width:115px; float:left; }
    section #main_img #top_img #left img{width: 115px;}
    section #main_img #top_img #center{float:left; margin-left:9px;}
    section #main_img #top_img #center img{width: 156px;}
    section #main_img #top_img #right{width: 110px; float:left; margin-left:9px;}
    section #main_img #top_img #right img{width: 109px; }

    section #franchise {width: 400px; margin: 0 auto; margin-top: 60px;}
    section #franchise #fran_img img{width: 400px;}
    section #franchise #fran_title {width:400px;}
    section #franchise #fran_title h4{font-size:40px;}
    section #franchise .fran_text{font-size:9px; line-height: 1.3; margin-top:60px;}
    section #franchise .fran_text .sub_title{font-size:20px; }

    section #open_store{width: 400px; margin: 0 auto;margin-top:60px;}
    section #open_store #open_title {width:100%;}
    section #open_store #open_title h4{font-size:40px; font-weight: normal; color:#00174f;}
    section #open_store #open_text{font-size:10px;}

    section #open_store #label_wrap{margin-top:60px;}
    section #open_store #label_wrap .label p {font-size:10px;}
    section #open_store #label_wrap .label ul li .form_color{color: #b30c2f;}
    section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
    section #open_store #label_wrap .label ul li{margin-left: 10px;margin-top: 40px;}
    section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(4){display: none;}
    section #open_store #label_wrap .label ul li p{cursor: pointer;}
    section #open_store #label_wrap .label ul li input{width:120px; height: 25px; cursor: pointer;}

    section #open_store #label_wrap #check_sub_wrap{width:400px;}
    section #open_store #label_wrap #check_sub_wrap #check_accept label{font-size:12px;}
    section #open_store #label_wrap #check_sub_wrap #submit{float:right;}
    section #open_store #label_wrap #check_sub_wrap #submit div{width:70px; height: 25px; margin-right: 20px;}
    section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 10px; }
    
    
    footer #change_con {display: none;}
    footer #foot_info {width:250px; margin:0 auto;  overflow: hidden;}
    footer #foot_info ul li{float:none;}
    footer #foot_info ul li:nth-child(1){display: none;}
    footer #foot_info ul li:nth-child(2){display: none;}
    footer #foot_info ul li:nth-child(3){display: none;}
    footer #foot_info ul li:nth-child(4){display: none;}
    footer #foot_info ul li{font-size:6px; color:#4f5259;}
    footer #gnb {display: none;}
}

