*{
    margin: 0px;
    padding: 0px;
}


body {
    font-family: open sans;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    text-align: center;
    margin: 0 auto;
  z-index: 99;
}

.overlay li {
    text-align: center;
}

.overlay .big_menu {
    padding: 30px 0px;
}

.overlay li a {
    color: #00174f;
    text-decoration: underline;
}

.overlay li a:hover{
    color: #b30c3f;
}


.overlay li .page_link{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif!important;
    text-align: left;

}

.overlay li .sub_link {
    width:100%;
    margin-top: 20px;
    overflow: hidden;
}

.overlay li .sub_link li{
    width: 20%;
    float: left;
    text-align: center;
}

.overlay li .sub_linkCOL li{
    width: 12.5%;
    float: left;
    text-align: center;
}

.overlay li .sub_link li a {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #b30c2f;
}

.overlay li .sub_link li a:hover {
    color: #00174f;
}



.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#myNav.change {
    height: 100%;
}
  







.open-close,
.containerN {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 12px !important;
    right: 12px !important;
    z-index: 11;
}



.containerN {
    position: absolute;
    width: 39px;
    height: 39px;
}
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 3px;
    background-color: #b30c2f;
    margin: 6px 0;
    transition: 0.4s;
}
  
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 4px) ;
    transform: rotate(-45deg) translate(-6px, 4px) ;
}
  
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -7px) ;
    transform: rotate(45deg) translate(-9px, -7px) ;
}




@media screen and (max-width: 1200px) {


    .overlay-content {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 70%;
        text-align: center;
        margin: 0 auto;
      z-index: 99;
    }

    .overlay li {
        text-align: center;
    }

    .overlay .big_menu {
        padding: 30px 0px;
    }

    .overlay li a {
        color: #00174f;
        text-decoration: underline;
    }

    .overlay li a:hover{
        color: #b30c3f;
    }


    .overlay li .page_link{
        display: inline-block;
        font-size: 30px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif!important;
        text-align: left;

    }

    .overlay li .sub_link {
        width:100%;
        margin-top: 20px;
        overflow: hidden;
    }

    .overlay li .sub_link li{
        width: 20%;
        float: left;
        text-align: center;
    }

    .overlay li .sub_linkCOL li{
        width: 12.5%;
        float: left;
        text-align: center;
    }

    .overlay li .sub_link li a {
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        color: #b30c2f;
    }

    .overlay li .sub_link li a:hover {
        color: #00174f;
    }



    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    #myNav.change {
        height: 100%;
    }

    .open-close,
    .containerN {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        top: 12px !important;
        right: 12px !important;
        z-index: 11;
    }



    .containerN {
        position: absolute;
        width: 39px;
        height: 39px;
    }
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 3px;
        background-color: #b30c2f;
        margin: 6px 0;
        transition: 0.4s;
    }

}

