*{margin:0; padding:0; border:0; font-family: 'Noto sans', sans-serif;}
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}

header{width:100%; height:68px; background-color:#141821; overflow:hidden;}
#logo_wrap{width: 335px; height: 68px; float: left; }
#logo_wrap h1{margin-left: 50px; margin-top: 15px;}
header #nav_wrap {width:675px; height: 30px; margin:0 auto; margin-top:17px;}
#nav {width: 100%; overflow: hidden;}
#nav li{width: 110px; float:left; margin-left:25px; text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li:nth-child(3) h2 a {color: #b30c2f;}
#nav li h2 a {font-size:14px; font-weight:normal; color:#eee;}
#nav li  h2 a:hover{color:#b30c2f;}


#img_wrap {
    width: 100%;
}

#img_wrap img{
    width: 100%;
}


.cont_wrap {
    width: 1100px;
    margin: 0 auto;
    margin-top: 60px;
    overflow: hidden;
}

.cont_wrap div {
    width: 23%;
    float: left;
    margin-left: 2.666%;
}

.item {
    margin-top: 30px;
}
.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4){
    margin-top: 00px;
}


.cont_wrap div:nth-child(1),.cont_wrap div:nth-child(5),.cont_wrap div:nth-child(9),.cont_wrap div:nth-child(13),.cont_wrap div:nth-child(17) {
    margin-left: 0px;
}


.cont_wrap div h3{
    color: #b30c2f;
    font-size: 30px;
}


.cont_wrap div h3 span{
    color: #00174f;
}

.cont_wrap div img{
    width: 100%;
}




@media screen and (max-width : 1200px) {

.cont_wrap {
    width: 740px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.cont_wrap div {
    width: 30%;
    float: left;
    margin-left: 5%;
}

.item {
    margin-top: 30px;
}
.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3){
    margin-top: 00px;
}

    .item:nth-child(4){
        margin-top: 30px;
    }

    .cont_wrap div:nth-child(5),
    .cont_wrap div:nth-child(9),
    .cont_wrap div:nth-child(17){
        margin-left: 5%;
    }

.cont_wrap div:nth-child(1),.cont_wrap div:nth-child(4),.cont_wrap div:nth-child(7),.cont_wrap div:nth-child(10),.cont_wrap div:nth-child(13) ,.cont_wrap div:nth-child(16),.cont_wrap div:nth-child(19)  {
    margin-left: 0px;
}


.cont_wrap div h3{
    color: #b30c2f;
    font-size: 27px;
}

}


@media screen and (max-width : 800px) {
    
.cont_wrap {
    width: 590px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: hidden;
}

.cont_wrap div {
    width: 30%;
    float: left;
    margin-left: 5%;
}

.item {
    margin-top: 30px;
}
.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3){
    margin-top: 00px;
}

    .item:nth-child(4){
        margin-top: 30px;
    }

    .cont_wrap div:nth-child(5),
    .cont_wrap div:nth-child(9),
    .cont_wrap div:nth-child(17){
        margin-left: 5%;
    }

.cont_wrap div:nth-child(1),.cont_wrap div:nth-child(4),.cont_wrap div:nth-child(7),.cont_wrap div:nth-child(10),.cont_wrap div:nth-child(13) ,.cont_wrap div:nth-child(16),.cont_wrap div:nth-child(19)  {
    margin-left: 0px;
}


.cont_wrap div h3{
    color: #b30c2f;
    font-size: 27px;
}

}


@media screen and (max-width : 640px) {


    .cont_wrap {
        width: 340px;
        margin: 0 auto;
        margin-top: 50px;
        overflow: hidden;
    }

    .cont_wrap div {
        width: 47.5%;
        float: left;
        margin-left: 5%;
    }

    .item {
        margin-top: 30px;
    }
    .item:nth-child(1),
    .item:nth-child(2){
        margin-top: 00px;
    }

        .item:nth-child(3){
            margin-top: 30px;
        }

        .cont_wrap div:nth-child(4),
        .cont_wrap div:nth-child(10),
        .cont_wrap div:nth-child(16){
            margin-left: 5%;
        }

    .cont_wrap div:nth-child(1),.cont_wrap div:nth-child(3),.cont_wrap div:nth-child(5),.cont_wrap div:nth-child(7),.cont_wrap div:nth-child(9) ,.cont_wrap div:nth-child(11),.cont_wrap div:nth-child(13) ,.cont_wrap div:nth-child(15) ,.cont_wrap div:nth-child(17),.cont_wrap div:nth-child(19)   {
        margin-left: 0px;
    }


    .cont_wrap div h3{
        color: #b30c2f;
        font-size: 27px;
    }

    
}

    
