*{margin:0; padding:0; border:0; font-family: 'Noto sans', sans-serif;}
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}

header{width:100%; height:68px; background-color:#141821; overflow:hidden;}
#logo_wrap{width: 335px; height: 68px; float: left; }
#logo_wrap h1{margin-left: 50px; margin-top: 15px;}
header #nav_wrap {width:675px; height: 30px; margin:0 auto; margin-top:17px;}
#nav {width: 100%; overflow: hidden;}
#nav li{width: 110px; float:left; margin-left:25px; text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li:nth-child(3) h2 a {color: #b30c2f;}
#nav li h2 a {font-size:14px; font-weight:normal; color:#eee;}
#nav li  h2 a:hover{color:#b30c2f;}


.coll_menu {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.coll_menu ul{
    overflow: hidden;
    margin-top: 60px;
}

.coll_menu ul li {
    float: left;
    text-align: center;
    width: 22%;
    background-color: #00174f;
    margin-left: 4%;
    cursor: pointer;
}

.coll_menu ul li.selected {
    background-color: #b30c2f;
}

.coll_menu ul li:hover {
    background-color: #b30c2f;
    transition-duration: 1s;
}

.coll_menu ul li:nth-child(1) {
    margin-left: 0px;
}

.coll_menu ul a{
    display: block;
    color: white;
    padding: 20px 0px;
    font-size: 14px;
}

body{width:100%; background-color:#f2efea;}
section {width:100%;position: relative; top: 0; left: 0; }
section .con_wrap{width:100%; margin-top:60px;}
section .con_wrap div video{width:100%;}

section .contents_now {}
section .contents_now .banner_wrap {width: 100%;}
section .contents_now .banner_wrap img{width: 100%;}
section .contents_now #sub_wrap {width:880px; margin: 0 auto; margin-top:60px; overflow: hidden;}
section .contents_now #sub_wrap #now_sub { width: 270px; float:left;  }
section .contents_now #sub_wrap #now_sub p{width: 270px; text-align: right;}
section .contents_now #sub_wrap #now_sub p:nth-child(1) {font-size: 30px; color: #b30c2f; font-weight: normal; line-height: 1.5;}
section .contents_now #sub_wrap #now_sub p:nth-child(2) {font-size: 16px; line-height: 1.5; margin-top: 20px;}
section .contents_now #sub_wrap #now_sub p:nth-child(3) {margin-top: 40px;}
section .contents_now #sub_wrap #now_sub p:nth-child(3) a{font-size: 16px; color: #b30c2f; text-decoration: underline;}
section .contents_now #sub_wrap #sub_img{width:500px; float:left;margin-left: 80px;}
section .contents_now #sub_wrap #sub_img img{width:100%;}



@media screen and (max-width : 1200px) {
    .coll_menu {width: 80%;}
    .coll_menu ul{margin-top: 35px;}
    .coll_menu ul a{padding: 17px 0px;font-size: 12px;}

    section .con_wrap{width:100%; margin-top:50px;}

    section .contents_now #sub_wrap {width:790px; margin: 0 auto; margin-top:50px; overflow: hidden;}
    section .contents_now #sub_wrap #now_sub { width: 245px; float:left;  }
    section .contents_now #sub_wrap #now_sub p{width: 230px; text-align: right;}
    section .contents_now #sub_wrap #now_sub p:nth-child(1) {font-size: 27px; color: #b30c2f; font-weight: normal; line-height: 1.5;}
    section .contents_now #sub_wrap #now_sub p:nth-child(2) {font-size: 15px; line-height: 1.5; margin-top: 20px; font-weight: lighter;}
    section .contents_now #sub_wrap #now_sub p:nth-child(3) {margin-top: 30px;}
    section .contents_now #sub_wrap #now_sub p:nth-child(3) a{font-size: 15px; color: #b30c2f; text-decoration: underline; font-weight: lighter;}
    section .contents_now #sub_wrap #sub_img{width:435px; float:left;margin-left: 80px;}
    section .contents_now #sub_wrap #sub_img img{width:100%;}

}


@media screen and (max-width : 800px) {
    .coll_menu {width: 80%;}
    .coll_menu ul{margin-top: 30px;}
    .coll_menu ul a{padding: 14px 0px;font-size: 12px;}
    section .con_wrap{width:100%; margin-top:50px;}

    section .contents_now #sub_wrap {width:600px; margin: 0 auto; margin-top:40px; overflow: hidden;}
    section .contents_now #sub_wrap #now_sub { width: 180px; float:left;  }
    section .contents_now #sub_wrap #now_sub p{width: 230px; text-align: right;}
    section .contents_now #sub_wrap #now_sub p:nth-child(1) {font-size: 24px; color: #b30c2f; font-weight: normal; line-height: 1.5;}
    section .contents_now #sub_wrap #now_sub p:nth-child(2) {font-size: 14px; line-height: 1.5; margin-top: 15px;}
    section .contents_now #sub_wrap #now_sub p:nth-child(3) {margin-top: 20px;}
    section .contents_now #sub_wrap #now_sub p:nth-child(3) a{font-size: 14px; color: #b30c2f; text-decoration: underline;}
    section .contents_now #sub_wrap #sub_img{width:300px; float:left;margin-left: 80px;}
    section .contents_now #sub_wrap #sub_img img{width:100%;}

    
}


@media screen and (max-width : 640px) {
    .coll_menu {width: 85%;}
    .coll_menu ul{margin-top: 25px;}
    .coll_menu ul a{padding: 11px 0px;font-size: 12px;}
    
    
    section .contents_now #sub_wrap {width:300px; margin: 0 auto; margin-top:30px; overflow: hidden;}
    section .contents_now #sub_wrap #now_sub { width: 250px; float:none; margin-left: 50px; }
    section .contents_now #sub_wrap #now_sub p{width: 250px; text-align: right;}
    section .contents_now #sub_wrap #now_sub p:nth-child(1) {font-size: 20px; color: #b30c2f; font-weight: normal; line-height: 1.5;}
    section .contents_now #sub_wrap #now_sub p:nth-child(2) {font-size: 13px; line-height: 1.5; margin-top: 15px;}
    section .contents_now #sub_wrap #now_sub p:nth-child(3) {margin-top: 18px;}
    section .contents_now #sub_wrap #now_sub p:nth-child(3) a{font-size: 13px; color: #b30c2f; text-decoration: underline;}
    section .contents_now #sub_wrap #sub_img{clear: both;width:300px; float:none;margin-left: 0px;margin-top: 30px;}
    section .contents_now #sub_wrap #sub_img img{width:100%;}
    
}