*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul, ol, li {
    list-style: none;
}

html,body {
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../img/con-ban2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh; 
}

.banner-wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(114,114,114,0.3);
    overflow: hidden;
}


.banner-wrap h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    color: white;
    text-align: center;
    font-weight: lighter;
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left: 0px;
    width: 100%;
    text-align: center;
}

.banner-wrap h1 .ment-top{
    margin-bottom: 30px;
    font-size: 30px;
}

.banner-wrap h1 .hypen{
    font-size: 20px;
}

.banner-wrap h1 .ment-bot{
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.contact-w{
    overflow: hidden;
    background-color: white;
}

.ml-w {
    width: 820px;
    margin:  auto;
    overflow: hidden;
}

.map-w {
    width: 400px;
    height: 500px;
    float: left;
    margin: 0 auto;
}


.input-w {
    width: 400px;
    float: left;
    margin-left: 20px;
    overflow: hidden;
}


.input-w h1{
    
    font-family: 'Pacifico', cursive;
}

.left-w {
    width: 400px;
    overflow: hidden;
}

.input-w .input1{
    width: 390px;
    float: left;
}
.input-w .input2{
    width: 390px;
    float: left;
    margin-top: 20px;
}

.input-w .input3 {
    width: 390px;
    float: left;
    margin-top: 20px;
}

.input input {
    height: 50px;
}

.input3 input {
    padding-top: 20px;
    padding-bottom: 98px;
}

.clear {
    content: '';
    
    clear: both;
}



.ml-w h1{
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    border-left: 5px solid #b57519;
    padding-left: 20px;
    margin: 40px 0px;
}



.adre {
    width: 180px;
    float: left;
    margin: 0 auto;
}

.subc {
    width: 180px;
    padding-top: 100px;
}

.subc p {
    text-align: left;
    font-size: 13px;
    line-height: 2;
}


.btn-w{
    clear: both;
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
}

.btn-w button{
    background: rgb(115, 71, 48);
    border: 0px;
}



.btn-w button:hover {
    background: rgb(181, 117, 25);
}


.btn-w button p{
    margin-bottom: 0px!important;
    color: white;
}


.infor {
    width: 920px;
    margin:  0 auto;
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 40px;
}

.infor-title {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

.infor-con {
    width: 300px;
    font-size: 20px;
    color: gray;
    font-family: 'Noto Sans KR', sans-serif;
    float: left;
}

.infor-con:nth-child(3),
.infor-con:nth-child(4) {
    margin-left: 10px;
}


.infor-con span {
    cursor: pointer;
    color: rgb(181, 117, 25);
}



.foot{
    width: 100%;
    padding: 100px 0px;
    background-color:  #734730;
}


.foot p {
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: white;
}



@media screen and (max-width : 1200px) {

    .banner-wrap h1 {
        font-size: 65px;
    }

    .banner-wrap h1 .ment-top{
        margin-bottom: 28px;
        font-size: 28px;
    }

    .banner-wrap h1 .hypen{
        font-size: 14px;
    }

    .banner-wrap h1 .ment-bot{
        font-size: 14px;

    }

    .ml-w {
        width: 640px;
        margin:  auto;
        overflow: hidden;
    }

    .map-w {
        width: 340px;
        height: 500px;
        float: left;
        margin: 0 auto;
    }
    
    .map-w iframe{
        width: 100%!important;
        height: 100%!important;
    }


    .input-w {
        width: 280px;
        float: left;
        margin-left: 20px;
        overflow: hidden;
    }


    .input-w h1{

        font-family: 'Pacifico', cursive;
    }

    .left-w {
        width: 340px;
        overflow: hidden;
    }

    .input-w .input1{
        width: 280px;
        float: left;
    }
    .input-w .input2{
        width: 280px;
        float: left;
        margin-top: 20px;
    }

    .input-w .input3 {
        width: 280px;
        float: left;
        margin-top: 20px;
    }

    .input input {
        height: 50px;
    }

    .input3 input {
        padding-top: 20px;
        padding-bottom: 98px;
    }

    .clear {
        content: '';

        clear: both;
    }



    .ml-w h1{
        font-size: 50px;
        font-family: 'Pacifico', cursive;
        border-left: 5px solid #b57519;
        padding-left: 20px;
        margin: 40px 0px;
    }



    .adre {
        width: 180px;
        float: left;
        margin: 0 auto;
    }

    .subc {
        width: 180px;
        padding-top: 100px;
    }

    .subc p {
        text-align: left;
        font-size: 13px;
        line-height: 2;
    }


    .btn-w{
        clear: both;
        width: 100px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .btn-w button{
        background: rgb(115, 71, 48);
        border: 0px;
    }



    .btn-w button:hover {
        background: rgb(181, 117, 25);
    }


    .btn-w button p{
        margin-bottom: 0px!important;
        color: white;
    }


    .infor {
        width: 640px;
        margin:  0 auto;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .infor-title {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
        font-size: 18px;
        color: black;
    }

    .infor-con {
        width: 200px;
        font-size: 18px;
        color: gray;
        font-family: 'Noto Sans KR', sans-serif;
        float: left;
    }

    .infor-con:nth-child(3),
    .infor-con:nth-child(4) {
        margin-left: 10px;
    }


    .infor-con span {
        display: block;
    }

    .foot {
        padding: 80px 0px 80px 0px;
    }

    .foot p{
        color: white;
        font-size: 16px;
        text-align: center;
    }

}



@media screen and (max-width : 800px) {

    .banner-wrap h1 {
        font-size: 65px;
    }

    .banner-wrap h1 .ment-top{
        margin-bottom: 28px;
        font-size: 28px;
    }

    .banner-wrap h1 .hypen{
        font-size: 14px;
    }

    .banner-wrap h1 .ment-bot{
        font-size: 14px;

    }
    
    .ml-w {
        width: 340px;
        margin:  auto;
        overflow: hidden;
    }

    .map-w {
        width: 340px;
        height: 300px;
        float: left;
        margin: 0 auto;
    }


    .input-w {
        width: 340px;
        float: left;
        margin-left: 0px;
    }


    .left-w {
        width: 340px;
        overflow: hidden;
    }

    .input-w .input1{
        width: 340px;
        margin-top: 20px;
    }
    
    
    .input-w .input2{
        width: 340px;
        float: left;
        margin-top: 20px;
    }

    .input-w .input3 {
        width: 340px;
        float: left;
        margin-top: 0px;
    }

    .input input {
        height: 50px;
    }

    .input3 input {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 98px;
    }

    .clear {
        content: '';

        clear: both;
    }



    .ml-w h1{
        font-size: 40px;
        font-family: 'Pacifico', cursive;
        border-left: 5px solid #b57519;
        padding-left: 20px;
        margin: 40px 0px;
    }



    .adre {
        width: 180px;
        float: left;
        margin: 0 auto;
    }

    .subc {
        width: 180px;
        padding-top: 100px;
    }

    .subc p {
        text-align: left;
        font-size: 13px;
        line-height: 2;
    }


    .btn-w{
        clear: both;
        width: 100px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .btn-w button{
        background: rgb(115, 71, 48);
        border: 0px;
    }

    .infor {
        width: 340px;
        margin:  0 auto;
        overflow: hidden;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .infor-title {
        font-family: 'Noto Sans KR', sans-serif;
        font-weight: bold;
        font-size: 20px;
        color: black;
        padding-top: 40px;
        margin-bottom: 20px;
        border-top: 2px solid black;
    }

    .infor-con {
        width: 340px;
        font-size: 16px;
        color: gray;
        font-family: 'Noto Sans KR', sans-serif;
        float: left;
    }

    .infor-con:nth-child(3),
    .infor-con:nth-child(4) {
        margin-left: 0px;
    }


    .infor-con span {
        cursor: pointer;
        color: rgb(181, 117, 25);
    }


    .infor-con span {
        display: inline;
    }


    .foot {
        padding: 60px 0px 60px 0px;
    }

    .foot p{
        color: white;
        font-size: 15px;
        text-align: center;
    }


}



@media screen and (max-width : 640px) {

    .banner-wrap h1 {
        font-size: 50px;
    }

    .banner-wrap h1 .ment-top{
        margin-bottom: 28px;
        font-size: 28px;
    }

    .banner-wrap h1 .hypen{
        font-size: 14px;
    }

    .banner-wrap h1 .ment-bot{
        font-size: 14px;

    }



    
    .ml-w {
        width: 270px;
        margin:  auto;
        overflow: hidden;
    }

    .map-w {
        width: 270px;
        height: 300px;
        float: left;
        margin: 0 auto;
    }


    .input-w {
        width: 270px;
        float: left;
        margin-left: 0px;
    }


    .left-w {
        width: 270px;
        overflow: hidden;
    }

    .input-w .input1{
        width: 270px;
        margin-top: 20px;
    }
    
    
    .input-w .input2{
        width: 270px;
        float: left;
        margin-top: 20px;
    }

    .input-w .input3 {
        width: 270px;
        float: left;
        margin-top: 0px;
    }

    .input input {
        height: 50px;
    }

    .input3 input {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 98px;
    }

    .clear {
        content: '';

        clear: both;
    }



    .ml-w h1{
        font-size: 35px;
        padding-left: 20px;
        margin: 40px 0px;
    }



    .adre {
        width: 180px;
        float: left;
        margin: 0 auto;
    }

    .subc {
        width: 180px;
        padding-top: 100px;
    }

    .subc p {
        text-align: left;
        font-size: 13px;
        line-height: 2;
    }


    .btn-w{
        clear: both;
        width: 100px;
        margin-top: 20px;
    }

    .infor {
        width: 270px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .infor-title {
        font-size: 18px;
        padding-top: 40px;
        margin-bottom: 20px;
        border-top: 2px solid black;
    }

    .infor-con {
        width: 270px;
        font-size: 14px;
    }

    .infor-con:nth-child(3),
    .infor-con:nth-child(4) {
        margin-left: 0px;
    }


    .infor-con span {
        cursor: pointer;
        color: rgb(181, 117, 25);
    }


    .infor-con span {
        display: inline;
    }

    .foot {
        padding: 60px 0px 60px 0px;
    }

    .foot p{
        color: white;
        font-size: 13px;
        text-align: center;
    }
    
}