*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul, ol, li {
    list-style: none;
}

body, html{
    width: 100%;
    height: 100%;
}













/*************** NAV BAR *************/
/*
nav{
    width: 100%;
    height: 80px;
    transition-duration: 1s;
    overflow: hidden;
    z-index: 9999;
    margin-top: 0px;
    background: rgba(162, 100, 67, 1);
}

nav .logo{
    width: 150px;
    height: 60px;
    background: url(../img/logo_w.png);
    background-size: 100% 100%;
    transition-duration: 1s;
    margin-top: 10px;
    margin-left: 40px;
    float: left;
}

nav .menu li:hover{
    transition-duration: 1s;
}


nav .menu li:hover a{
    text-decoration: underline;
    text-decoration: none;
    color: black;
    transition-duration: 1s;
}

.menu {
    float: right;
    width: 600px;
}

.menu ul li {
    float: left;
    width: 150px;
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    cursor: pointer;
}

.menu ul li a{
    color: white;
    font-family: 'Raleway', sans-serif;
}


.menu ul li a.active{
    color: black;
}
*/

/********* MAIN ***********/


.bxslider div .bx-caption {
    width: 100%!important;
    height: auto!important;
    text-align: center;
    background: rgba(0,0,0,0)!important;
    display: table;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}



.bx-caption h1 {
    font-family: 'Pacifico', cursive!important;
    font-size:80px;
    line-height: 1.5;
    color: white;
     text-shadow: 12px 4px 4px rgba(0,0,0,0.5)!important;
}

   .bx-caption div.busa p{
        font-size: 18px;
       width: 200px;
       padding: 10px;
       cursor: pointer;
       color: white;
       margin: 0 auto;
        display: block;
        margin-top: 40px;
        border: 2px solid white;
        font-family: 'Montserrat', sans-serif;
    }

.bx-caption div.busa p:hover{
    background-color: black;
    transition-duration: 1s;
}


.scroll {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    color: white;
    cursor: default;
}

.scroll p{
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

@keyframes scrollAnimation {
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes scrollAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes scrollAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes scrollAnimation{
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.scroll {
   -webkit-animation: scrollAnimation 1s infinite;
   -moz-animation: scrollAnimation 1s infinite;
   -o-animation: scrollAnimation 1s infinite;
    animation: scrollAnimation 1s infinite;
}

.menu-l{
    width: 100%;
    background-color: #faf4e9;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    
}

.menu-l .menu-wrap {
    width: 820px;
    padding: 100px 0px;
    margin: 0 auto;
    overflow: hidden;
}

.menu-l .menu-wrap .img-title{
    font-size: 40px;
    text-align: left;
    font-weight: 100;
    font-family: 'Pacifico', cursive;   
}

.menu-l .menu-wrap .img-title {
    padding-left: 20px;
    border-left: 6px solid black;
}

.menu-l .menu-wrap .title p {
    padding: 20px 0px 0px 20px;
}


.menu-l .menu-wrap .title p a {
    color: black;
    font-size: 15px;
}

/*


.menu-l .menu-wrap .img-title::after{
    content: ' ';
    display: block;
    width: 100px;
    margin:0 auto;
    border-bottom: 4px solid black;
}
*/

.menu-l .menu-wrap div img{
    width: 100%;
}

.mL {
    width: 270px;
    height: 540px;
    float: left;
}

.ml1 {
    width: 260px;
    height: 260px;
}

.ml1 .in {
    position: relative;
    width: 100%;
    height: 100%;
}

.ml1 .in .in-img {
    top: 0px;
    left: 0px;
}


.ml1 .in .in-text{
    position: absolute;
    display: block;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
}


.ml1 .in .back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background: rgba(114,114,114,0.0);
}

.ml1 .in .borderin{
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    transition-duration: 1s;
}
.ml1 .in:hover .borderin{
    opacity: 1;
}

.ml1 .in:hover .back {
    background: rgba(114,114,114,0.6);
}
.ml1 .in .borderin::after{
    content: ' ';
    position: absolute;
    display: block;
    width: 100%;
    height: 0%;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.ml1 .in .borderin::before{
    content: ' ';
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.ml1:hover .in .borderin::after{
    height: 100%;
    transition-duration: 1s;
}

.ml1:hover .in .borderin::before{
    width: 100%;
    transition-duration: 1s;
}

.ml1 .in .in-text{
    position: absolute;
    width: 100%;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
}


.ml1 .in .in-text h1{
    font-size:16px;
    text-align: center;
}

.ml1 .in .in-text p{
    font-size: 12px;
    color: white;
    margin-bottom: 0px!important;
}


.ml1 .in .in-textc h1{
    font-size:20px;
    text-align: center;
}

.ml1 .in .in-textc p{
    font-size: 16px;
    margin-bottom: 0px!important;
}


.ml2 {
    width: 260px;
    margin-top: 20px;
    height: 260px;
    background-size: 100% 100%; 
}

.mC {
    width: 270px;
    height: 540px;
    background-size: 100% 100%; 
    float: left;
    margin: 0px 10px;
}

.mC img {
    width: 100%;
    height: 100%;
}

.mR {
    width: 260px;
    float: left;
}

.mr1 {
    width: 260px;
    height: 260px;
    background-size: 100% 100%; 
}
.ml1 .in{
    width: 100%;
}


.mr2 {
    width: 260px;
    height: 260px;
    background-size: 100% 100%; 
    margin-top: 20px;
}




.mainbg {
    width: 100%;
    background-image: url(../img/main2_back.png);
    background-attachment: fixed;
    background-position: center;
}

.mainbg h1 {
    font-size: 10px;
}

.mainbg span{
    font-size: 40px;
}


.mainbg h1 {
    background-color: rgba(114,114,114,0.5);
    color: white;
    text-align: center;
    padding: 120px 0px;
    margin: 0px;
    font-size: 15px;
    line-height: 2;
}


.main-2 {
    width: 100%;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    overflow: hidden;
    background-color: #faf4e9;
    position: relative;
}


.main2_bg {
    width: 820px;
    margin: 0 auto;
    padding: 100px 0px;
    overflow: hidden;
    margin: 0 auto;
}

.lwrap2 {
    width: 820px;
    float: left;
}

.main2_bg .div{
    width: 260px;
    height: 260px;
    float: left;
}

.main2_bg .div1 {
    background-image: url(../img/keep1.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div2 {
    background-image: url(../img/keep2.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div4 {
    background-image: url(../img/keep3.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div5 {
    background-image: url(../img/keep4.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div6 {
    background-image: url(../img/keep5.png);
    background-size: 100% 100%;
    background-position: center;
}


.main2_bg .div2,.main2_bg .div3,.main2_bg .div5,.main2_bg .div6{
    margin-left: 20px;
}



.main2_bg .div4,.main2_bg .div4,.main2_bg .div5,.main2_bg .div6{
    margin-top: 20px;
}

.main2_bg .div3 h1{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    border-left: 6px solid black;
    padding-left: 20px;
}

.main2_bg .div3 p{
    margin-top: 40px;
    font-size: 15px;
    margin-left: 25px;
    color: black;
}


footer{
    width: 100%;
    height: 200px;
    background: rgb(115, 71, 48);
}

.foot {
    width: 800px;
    margin: 0 auto;
    padding-top: 40px;
}


.foot h1 {
    margin: 0px!important;
    color: white;
    padding: 0px!important;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.foot p{
    color: white;
    margin-top: 20px;
    font-size: 14px;
}




@media screen and (max-width : 1200px) {

    .bx-caption h1 {
        font-family: 'Pacifico', cursive!important;
        font-size:50px;
        color: white;
         text-shadow: 12px 4px 4px rgba(0,0,0,0.5)!important;
    }
    
   .bx-caption div.busa p{
        font-size: 15px;
        width: 140px;
        display: block;
        margin-top: 20px;
        border: 2px solid white;
        font-family: 'Montserrat', sans-serif;
    }
    
    .menu-l .menu-wrap {
        width: 600px;
    }
    
    .menu-l .menu-wrap .img-title{
        font-size: 23px;
    }
    
    .ml2 {
        width: 190px;
        height: 190px;
    }
    
    
    .ml1 {
        width: 190px;
        height: 190px;
    }
    .mr1 {
        width: 190px;
        height: 190px;
    }
    
    
    .mr2 {
        width: 190px;
        height: 190px;
    }
    
    .mC {
        width: 190px;
        height: 400px;
    }
    .mL {
        width: 190px;
        height: 400px;
    }
    .mR {
        width: 190px;
        height: 400px;
    }

    .main2_bg {
        width: 610px;
        margin: 0 auto;
    }

    .main2_bg .div{
        width: 190px;
        height: 190px;
    }
    
    .main2_bg .div3 h1{
        font-size:23px;
    }

    .main2_bg .div3 p{
        font-size: 12px;
    }

    .lwrap2 {
        width: 610px;
    }
    
    .foot{
        width: 600px;
    }

}



@media screen and (max-width : 800px) {

    
    .bx-caption h1 {
        font-family: 'Pacifico', cursive!important;
        font-size:50px;
        color: white;
         text-shadow: 12px 4px 4px rgba(0,0,0,0.5)!important;
    }
    
   .bx-caption div.busa p{
        font-size: 15px;
        width: 140px;
        display: block;
        margin-top: 20px;
        border: 2px solid white;
        font-family: 'Montserrat', sans-serif;
    }
    
    .menu-l .menu-wrap {
        width: 500px;
    }
    
    .menu-l .menu-wrap .img-title{
        font-size: 23px;
    }
    
    .ml2 {
        width: 160px;
        height: 160px;
    }
    
    
    .ml1 {
        width: 160px;
        height: 160px;
    }
    .mr1 {
        width: 160px;
        height: 160px;
    }
    
    
    .mr2 {
        width: 160px;
        height: 160px;
    }
    
    .mC {
        width: 160px;
        height: 340px;
    }
    .mL {
        width: 160px;
        height: 340px;
    }
    .mR {
        width: 160px;
        height: 340px;
    }
    
    .ml1 .in .in-text h1{
        font-size:13px;
        text-align: center;
    }

    .ml1 .in .in-text p{
        font-size: 11px;
        margin-bottom: 0px!important;
    }


    .main2_bg {
        width: 490px;
        margin: 0 auto;
    }

    .main2_bg .div{
        width: 150px;
        height: 150px;
    }
    
    .main2_bg .div3 h1{
        font-size:20px;
    }

    .main2_bg .div3 p{
        font-size: 10px;
        margin-top: 20px;
    }

    .lwrap2 {
        width: 490px;
    }
    
    .foot{
        width: 500px;
    }

}
@media screen and (max-width : 640px) {

    
    .bx-caption h1 {
        font-family: 'Pacifico', cursive!important;
        font-size:50px;
        color: white;
         text-shadow: 12px 4px 4px rgba(0,0,0,0.5)!important;
    }
    
   .bx-caption div.busa p{
        font-size: 15px;
        width: 140px;
        display: block;
        margin-top: 20px;
        border: 2px solid white;
        font-family: 'Montserrat', sans-serif;
    }
    
    .menu-l .menu-wrap {
        width: 340px;
    }
    
    .menu-l .menu-wrap .img-title{
        font-size: 23px;
    }
    
    .ml2 {
        width: 160px;
        height: 160px;
    }
    
    
    .ml1 {
        width: 160px;
        height: 160px;
    }
    .mr1 {
        width: 160px;
        height: 160px;
    }
    
    
    .mr2 {
        width: 160px;
        height: 160px;
    }
    
    .mC {
        width: 160px;
        height: 340px;
    }
    .mL {
        width: 160px;
        height: 340px;
    }
    .mR {
        width: 340px;
        height: 160px;
        clear: both;
    }
    
    .mR .ml1 {
        float: left;
        margin-top: 20px;
        
    }
    .mR .mr2  {
        margin-left: 10px;
    }
    
    
    .ml1 .in .in-text h1{
        font-size:13px;
        text-align: center;
    }

    .ml1 .in .in-text p{
        font-size: 11px;
        margin-bottom: 0px!important;
    }


    .main2_bg {
        width: 340px;
        margin: 0 auto;
    }

    .main2_bg .div{
        width: 150px;
        height: 150px;
    }
    
    .main2_bg .div3 h1{
        font-size:20px;
    }

    .main2_bg .div3 p{
        font-size: 10px;
        margin-top: 20px;
    }
    
    .main2_bg .div2 {
        clear: both;
        margin: 20px 0px 0px 0px;
    }
    .main2_bg .div4 {    
        margin: 20px 0px 0px 20px;
    }
    
    .main2_bg .div5{
        clear: both;
        margin: 20px 0px 0px 0px;
    }

    .mainbg h1 {
        font-size: 12px;
    }
    .mainbg span {
        font-size: 35px;
    }


    .lwrap2 {
        width: 490px;
    }
    
    .foot{
        width: 340px;
    }

}
