*{
    margin: 0px;
    padding: 0px;
}


body {
    font-family: open sans;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 1);
    overflow: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  z-index: 99;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    display: block;
    transition: 0.3s;
    font-family: 'Lexend Deca', sans-serif;
}

.overlay a:hover,
.overlay a:focus {
    color: #ccc;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#myNav.change {
    height: 100%;
}
  
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
}

h2 {
  font-size: 30px;
  color: #fff;
  font-family: open sans-serif;
}

h2 {
  position: relative;
  top: 450px;
  left: 50px;
}
p {
  position: relative;
  margin: 0;
  color: #ccc;
}
.open-close,
.containerN {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 5% !important;
    right: 2% !important;
    z-index: 11;
}


.logo {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    top: 4% !important;
    left: 2% !important;
    z-index: 11;
    font-size: 40px;
    color:  rgb(181, 117, 25);;
    padding: 6px;
    width: auto;
    font-family: 'Pacifico', cursive!important;
}

.containerN {
    position: fixed;
    width: 39px;
    height: 39px;
}
.bar1, .bar2, .bar3 {
    width: 45px;
    height: 8px;
    background-color: rgb(181, 117, 25);
    margin: 6px 0;
    transition: 0.4s;
}
  
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-13px, 9px) ;
    transform: rotate(-45deg) translate(-13px, 9px) ;
}
  
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-9px, -7px) ;
    transform: rotate(45deg) translate(-9px, -7px) ;
}





@media screen and (max-width : 1200px) {
    
    .logo {
        font-size: 35px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 40px;
        height: 7px;
        background-color: rgb(181, 117, 25);
        margin: 6px 0;
        transition: 0.4s;
    }

    .overlay a{
        font-size: 45px;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-13px, 9px) ;
        transform: rotate(-45deg) translate(-13px, 9px) ;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -5px) ;
        transform: rotate(45deg) translate(-9px, -5px) ;
    }
    
}



@media screen and (max-width : 800px) {
    
    .logo {
        font-size: 30px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: rgb(181, 117, 25);
        margin: 6px 0;
        transition: 0.4s;
    }

    .overlay a{
        font-size: 45px;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-11px, 6px) ;
        transform: rotate(-45deg) translate(-11px, 6px) ;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -5px) ;
        transform: rotate(45deg) translate(-9px, -5px) ;
    }

}


@media screen and (max-width : 640px) {
    
    .logo {
        font-size: 25px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 30px;
        height: 4px;
        background-color: rgb(181, 117, 25);
        margin: 6px 0;
        transition: 0.4s;
    }

    .overlay a{
        font-size: 45px;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 5px) ;
        transform: rotate(-45deg) translate(-9px, 5px) ;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -5px) ;
        transform: rotate(45deg) translate(-9px, -5px) ;
    }

}
