*{margin: 0; padding: 0;}
a{text-decoration: none;}
ul, ol, li {
    list-style: none;
}

body, html{
    width: 100%;
    height: 100%;
}

.banner-menu {
    width: 100%;
    height: 100%;
    background-image: url(../img/about-ban.jpg);
    background-size: 100% 100%;
    background-position: center;
}

.banner-wrap {
    width: 100%;
    height: 100%;
    background-color: rgba(114,114,114,0.3);
}


.banner-wrap h1 {
    width: 100%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: lighter;
}

.banner-wrap h1 .ment-top{
    margin-bottom: 30px;
    font-size: 30px;
}

.banner-wrap h1 .hypen{
    font-size: 20px;
}

.banner-wrap h1 .ment-bot{
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    
}




.sns span .fab{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
}


.about-t {
    width: 100%;
    height: 400px;
    position: relative;
    background-color: #faf4e9;
    background: url(../img/about-m.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.about-t h1 {
    font-family: 'Pacifico', cursive;
    padding-left: 20px;
    color: white;
    font-size: 60px;
    position: absolute;
    text-align: left;
    top: 70%;
    width: 100%;
    text-align: center;
    text-shadow: 10px 10px 4px rgba(0,0,0,0.5);
}

/*********list***********/


.main-2 {
    width: 100%;
    background-attachment: fixed;
    background-size: 100% auto;
    background-position: center;
    overflow: hidden;
    background-color: #faf4e9;
}


.main2_bg {
    width: 820px;
    overflow: hidden;
    margin: 0 auto;
}

.lwrap2 {
    width: 820px;
    padding: 0px 0px 40px 0px;
    float: left;
}

.main2_bg .div{
    width: 260px;
    height: 260px;
    float: left;
}

.main2_bg .div1 {
    background-image: url(../img/keep1.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div2 {
    background-image: url(../img/keep2.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div4 {
    background-image: url(../img/keep3.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div5 {
    background-image: url(../img/keep4.png);
    background-size: 100% 100%;
    background-position: center;
}

.main2_bg .div6 {
    background-image: url(../img/keep5.png);
    background-size: 100% 100%;
    background-position: center;
}


.main2_bg .div2,.main2_bg .div3,.main2_bg .div5,.main2_bg .div6{
    margin-left: 20px;
}



.main2_bg .div4,.main2_bg .div4,.main2_bg .div5,.main2_bg .div6{
    margin-top: 20px;
}

.main2_bg .div3 h1{
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    border-left: 6px solid black;
    padding-left: 20px;
}

.main2_bg .div3 p{
    margin-top: 40px;
    font-size: 15px;
    margin-left: 25px;
}



/*****************footer*******************/





.foot{
    width: 100%;
    padding: 100px 0px;
    background-color:  #734730;
}


.foot p {
    margin: 0px;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
    color: white;
}






@media screen and (max-width : 1200px) {
    
    

    .banner-wrap h1 {
        font-size: 60px;
    }

    .banner-wrap h1 .ment-top{
        font-size: 28px;
    }

    .banner-wrap h1 .hypen{
        font-size: 18px;
    }

    .banner-wrap h1 .ment-bot{
        font-size:  18px;
        font-family: 'Noto Sans KR', sans-serif;

    }


    .c-title {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        font-weight: lighter;
        margin-bottom: 20px;
        color: rgb(181, 117, 25);

    }

    .c-title-t {
        margin-bottom: -70px;
    }

    .c-wrap {
        width: 690px;
    }


    .top-text {
        font-family: 'Raleway', sans-serif;
        width: 230px;
        float: left;
        margin-left: 20px;
        padding: 0px 20px 20px 20px;
    }

    .top-text p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        color: black; 

    }

    .top-img {
        width: 210px;
        height: 290px;
        overflow: hidden;
        float: left;
    }
    


    .can-con {
        width: 740px;
    }

    .can-con h1{
        font-size:50px;
        padding-bottom: 30px;
    }
    .can-con .bar-bot{
        width: 400px;
        border-radius: 20px;
        margin-bottom: 60px;

    }
    
    .jang-wrap {
        margin: 0 auto;
        width: 740px;
    }
    
    
    .can-con .jang-wrap .jang {
        width: 241px;
    }



    .can-con .jang-wrap .jang2,
    .can-con .jang-wrap .jang3 {
        margin-left: 0px;
    }     
    
    .jang p{
        margin-top: 40px;
        font-size: 14px;
    }

    .jang .fas{
        font-size: 40px;
    }

    .jang-bor {
        width: 8px;
        height: 100px;
        margin-top: 40px;

    }

    .jang .jang-t{
        margin-top: 35px;
    }

    .jang .jang-c{
        margin-top: 8px;
    }



    
    
    
    
    
    
.preWrap {
    width: 750px;
}
.preWrap2 {
    margin-top: 10px;
    padding-bottom: 100px;
}


.preWrap2 .flip-hWrap{
    margin-left: 0px;
    margin-right: 10px;
}

.preWrap2 .flip-hWrap2{
    margin-left: 10px;
    margin-right: 0px;
}


.flip-container1{
	width: 370px;
	height: 370px;
    float: left;
}

.front1, .back1 {
    width: 370px;
    height: 370px;
    margin-right: 10px;
}

.flip-hWrap{
    width:180px;
    height: 370px;
    float: left;
    margin-left: 10px;
}


.flip-container2{
	width: 180px;
	height: 180px;
}

.front2, .back2 {
    width: 180px;
    height: 180px;
}

.flip-container3{
	width: 180px;
	height: 180px;
    margin-top: 10px;
}

.front2, .back3 {
    width: 180px;
    height: 180px;
}

.flip-container4{
	width: 180px;
	height: 180px;
}

.front2, .back4 {
    width: 180px;
    height: 180px;
}

.flip-container5{
	width: 180px;
	height: 180px;
    margin-top: 10px;
}

.front2, .back5 {
    width: 180px;
    height: 180px;
}

.reverf,.reverb {
    width: 180px;
    height: 180px;
    
}

.back1{
   font: 2.5em/500px 'Noto Sans KR', sans-serif;
    
}

.pre-title {
    width: 50%;
    padding: 20px 0px;
    margin: 0 auto;
}


.barL, .barR{
    width: 33%;
}

.pre-t {
    font-size: 50px;
    padding: 60px 0px;
}

.pre-t span{
    font-size: 15px;
}

.reverf{
    
   font: 15px/175px 'Noto Sans KR', sans-serif;
}
.back{
    
   font: 15px/175px 'Noto Sans KR', sans-serif;
}

.backb{
    
   font: 15px/360px 'Noto Sans KR', sans-serif;
}


    
    
}



@media screen and (max-width : 800px) {
    
    
    

    .banner-wrap h1 {
        font-size: 56px;
    }

    .banner-wrap h1 .ment-top{
        font-size: 26px;
    }

    .banner-wrap h1 .hypen{
        font-size: 16px;
    }

    .banner-wrap h1 .ment-bot{
        font-size:  16px;
        font-family: 'Noto Sans KR', sans-serif;

    }

    .c-title {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        font-weight: lighter;
        margin-bottom: 20px;
        color: rgb(181, 117, 25);

    }

    .c-title-t {
        margin-bottom: -70px;
    }

    .c-wrap {
        width:460px;
    }


    .top-text {
        font-family: 'Raleway', sans-serif;
        width: 300px;
        float: none;
        margin: 0 auto;
        text-align: center;
        padding: 0px 20px 20px 20px;
    }

    .top-text p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        color: black; 

    }

    .top-img {
        width: 220px;
        height: 280px;
        margin-bottom: 20px;
        overflow: hidden;
        float: left;
    }

    
    
    


    .can-con {
        width: 600px;
    }

    .can-con h1{
        font-size:40px;
        padding-bottom: 30px;
    }
    .can-con .bar-bot{
        width: 250px;
        height: 2px;
        border-radius: 20px;
        margin-bottom: 40px;

    }
    
    .jang-wrap {
        margin: 0 auto;
        width: 600px;
    }
    
    
    .can-con .jang-wrap .jang {
        width: 194px;
    }



    .can-con .jang-wrap .jang2,
    .can-con .jang-wrap .jang3 {
        margin-left: 0px;
    }     
    
    .jang p{
        margin-top: 40px;
        font-size: 11px;
    }

    .jang .fas{
        font-size: 30px;
    }

    .jang-bor {
        width: 4px;
        height: 80px;
        margin-top: 30px;

    }

    .jang .jang-t{
        margin-top: 30px;
    }

    .jang .jang-c{
        margin-top: 6px;
    }
    


    .preWrap {
        width: 590px;
    }
    .preWrap2 {
        margin-top: 10px;
        padding-bottom: 60px;
    }


    .preWrap2 .flip-hWrap{
        margin-left: 0px;
        margin-right: 10px;
    }

    .preWrap2 .flip-hWrap2{
        margin-left: 10px;
        margin-right: 0px;
    }


    .flip-container1{
        width: 280px;
        height: 280px;
        float: left;
    }

    .front1, .back1 {
        width: 280px;
        height: 280px;
        margin-right: 10px;
    }

    .flip-hWrap{
        width:135px;
        height: 280px;
        float: left;
        margin-left: 10px;
    }


    .flip-container2{
        width: 135px;
        height: 135px;
    }

    .front2, .back2 {
        width: 135px;
        height: 135px;
    }

    .flip-container3{
        width: 135px;
        height: 135px;
        margin-top: 10px;
    }

    .front2, .back3 {
        width: 135px;
        height: 135px;
    }

    .flip-container4{
        width: 135px;
        height: 135px;
    }

    .front2, .back4 {
        width: 135px;
        height: 135px;
    }

    .flip-container5{
        width: 135px;
        height: 135px;
        margin-top: 10px;
    }

    .front2, .back5 {
        width: 135px;
        height: 135px;
    }

    .reverf,.reverb {
        width: 135px;
        height: 135px;

    }

    .back1{
       font: 2.5em/500px 'Noto Sans KR', sans-serif;

    }

    .pre-title {
        width: 50%;
        padding: 20px 0px;
        margin: 0 auto;
    }


    .barL, .barR{
        width: 33%;
    }

    .pre-t {
        font-size: 40px;
        padding: 20px 0px;
    }

    .pre-t span{
        font-size: 15px;
    }

    .reverf{

       font: 13px/135px 'Noto Sans KR', sans-serif;
    }
    .back{

       font: 13px/135px 'Noto Sans KR', sans-serif;
    }

    .backb{

       font: 13px/280px 'Noto Sans KR', sans-serif;
    }



}


@media screen and (max-width : 640px) {
    
    

    .banner-wrap h1 {
        font-size: 52px;
    }

    .banner-wrap h1 .ment-top{
        font-size: 24px;
    }

    .banner-wrap h1 .hypen{
        font-size: 14px;
    }

    .banner-wrap h1 .ment-bot{
        font-size:  14px;
        font-family: 'Noto Sans KR', sans-serif;

    }

    .c-title {
        font-family: 'Pacifico', cursive;
        font-size: 40px;
        font-weight: lighter;
        margin-bottom: 20px;
        color: rgb(181, 117, 25);

    }

    .c-title-t {
        margin-bottom: -70px;
    }

    .c-wrap {
        width:320px;
    }


    .top-text {
        font-family: 'Raleway', sans-serif;
        width: 300px;
        float: none;
        margin: 0 auto;
        text-align: center;
        padding: 0px 20px 20px 20px;     
    }

    .top-text p{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 13px;
        color: black; 

    }

    .top-img {
        width: 150px;
        height: 250px;
        margin-bottom: 20px;
        overflow: hidden;
        float: left;
    }

    
    
    


    .can-con {
        width: 400px;
    }

    .can-con h1{
        font-size:30px;
        padding-bottom: 30px;
    }
    .can-con .bar-bot{
        width: 250px;
        height: 2px;
        border-radius: 20px;
        margin-bottom: 40px;

    }
    
    .jang-wrap {
        margin: 0 auto;
        width: 400px;
    }
    
    
    .can-con .jang-wrap .jang {
        width: 234px;
        float: none;
        margin: 0 auto;
    }
    
    
    .can-con .jang-wrap .jang-bor-t {
        width: 100px;
        height: 4px;
        background-color: #fff;
        margin: 0 auto;
        margin-top: 56px;
        margin-bottom: 70px;
        border-radius: 10px;
            
    }     
    



    .jang p{
        margin-top: 40px;
        font-size: 14px;
    }

    .jang .fas{
        font-size: 40px;
    }

    .jang-bor {
        display: none;

    }

    .jang .jang-t{
        margin-top: 20px;
    }

    .jang .jang-c{
        margin-top: 6px;
    }
    
    
    
    
    
    

    .preWrap {
        width: 320px;
    }
    .preWrap2 {
        margin-top: 10px;
        padding-bottom: 60px;
    }
    
    .preWrap2 .flip-hWrap{
        margin-left: 0px;
        margin-right: 0px;
    }

    .preWrap2 .flip-hWrap2{
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
    }



    .flip-container1{
        width: 320px;
        height: 320px;
        float: left;
        margin-top: 10px;
    }

    .front1, .back1 {
        width: 320px;
        height: 320px;
        margin-right: 10px;
    }

    .flip-hWrap{
        width:155px;
        height: 320px;
        float: left;
        margin-left: 0px;
    }

    .flip-1 {
        margin-top: 10px;
    }

    .flip-2 {
        margin-top: 10px;
        margin-left: 10px;
    }
    
    .flip-3 {
        width: 320px;
        height: 155px;
    }
    
    .flip-3  .flip-container{
        float: left;
        
    }
    
    .flip-3  .flip-container3 {
        margin-top: 0px;
        margin-left: 10px;
    }

    
    .flip-4 {
        width: 320px;
        height: 155px;
    }
    
    .flip-4  .flip-container{
        float: left;
        
    }
    
    .flip-4  .flip-container5{
        margin-top: 0px;
        margin-left: 10px;
        
    }

    
    .flip-container2{
        width: 155px;
        height: 155px;
        margin-left: 0px;
    }

    .front2, .back2 {
        width: 155px;
        height: 155px;
    }

    .flip-container3{
        width: 155px;
        height: 155px;
        margin-top: 10px;
    }

    .front2, .back3 {
        width: 155px;
        height: 155px;
    }

    .flip-container4{
        width: 155px;
        height: 155px;
    }

    .front2, .back4 {
        width: 155px;
        height: 155px;
    }

    .flip-container5{
        width: 155px;
        height: 155px;
        margin-top: 10px;
    }

    .front2, .back5 {
        width: 155px;
        height: 155px;
    }

    .reverf,.reverb {
        width: 155px;
        height: 155px;

    }

    .back1{
       font: 2.5em/320px 'Noto Sans KR', sans-serif;

    }

    .pre-title {
        width: 50%;
        padding: 20px 0px;
        margin: 0 auto;
    }


    .barL, .barR{
        width: 33%;
    }

    .pre-t {
        font-size: 30px;
        padding: 20px 0px;
        text-shadow: 4px 4px 4px black;
    }

    .pre-t span{
        font-size: 15px;
    }

    .reverf{

       font: 13px/155px 'Noto Sans KR', sans-serif;
    }
    .back{

       font: 13px/155px 'Noto Sans KR', sans-serif;
    }

    .backb{

       font: 13px/320px 'Noto Sans KR', sans-serif;
    }
    
    
    .container {
        width: 70%!important;
    }
    
    .row {
        margin-top: 0px;
    }

    .col-sm-4{
        margin-bottom: 40px;
    }
}
