
@font-face{ 
    font-family:b; 
    src:url('../font/NanumSquareRoundEB.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:l; 
    src:url('../font/NanumSquareRoundL.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:r; 
    src:url('../font/NanumSquareRoundR.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:b; 
    src:url('../font/NanumSquareRoundEB.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:l; 
    src:url('../font/NanumSquareRoundL.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:r; 
    src:url('../font/NanumSquareRoundR.eot'); 
    src:local(※), format(‘eot’) 
}


@font-face{ 
    font-family:nr; 
    src:url('../font/NanumSquareR.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:nr; 
    src:url('../font/NanumSquareR.eot'); 
    src:local(※), format(‘eot’) 
}

@font-face{ 
    font-family:nb; 
    src:url('../font/NanumSquareB.woff'); 
    src:local(※), format(‘woff’) 
}

@font-face{ 
    font-family:nb; 
    src:url('../font/NanumSquareB.eot'); 
    src:local(※), format(‘eot’) 
}

@font-face{ 
    font-family:br; 
    src:url('../font/NanumSquareEB.woff'); 
    src:local(※), format(‘woff’) 
}

@font-face{ 
    font-family:br; 
    src:url('../font/NanumSquareEB.eot'); 
    src:local(※), format(‘eot’) 
}


input[type="radio"],input[type="text"],input[type="password"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius:0px;
}

input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

* {margin: 0px; padding: 0px; list-style: none; text-decoration: none; border: none;}

body{
    background-color: #fff9e7;
}

section .main_visual{
    width: 100%;
    height: 800px;
    position: relative;
    background:#545454 url('../img/main/main_banner.png') no-repeat center center;
}

section .main_visual .visual_wrap {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
}

section .main_visual .visual_wrap h1{
    font-size: 60px;
    color: #fff;
    font-family: br;
    font-weight: bold;
}

section .main_visual .visual_wrap p {
    font-size: 22px;
    font-family: nr;
    margin: 60px auto;
    font-weight: bold;
    color: #fff;
}

section .main_visual .visual_wrap .visual_btn {
    width: 280px;
    margin: 0 auto;
}

section .main_visual .visual_wrap .visual_btn a {
    padding: 10px 0px;
    width: 120px;
    display: block;
    float: left;
    background-color: #323232;
    color: #fff;
    font-family: 16px;
    font-family: l;
    border-radius: 10px;
    margin-left: 40px;
    font-weight: bold;
    transition-duration: 1s;
}

section .main_visual .visual_wrap .visual_btn a:nth-child(1){
    margin-left: 0px;
}


section .main_visual .visual_wrap .visual_btn .rooms_btn{
    color: #fff;
}
section .main_visual .visual_wrap .visual_btn .reserve_btn{
    background-color: #a2a2a2;
    color: #323232;
}


section .main_visual .visual_wrap .visual_btn .rooms_btn:hover {
    background-color: #a2a2a2;
    color: #323232;
}
section .main_visual .visual_wrap .visual_btn .reserve_btn:hover {
    background-color: #323232;
    color: #fff;
}

section .main_center {
    width: 100%;
    overflow: hidden;
}

section .main_con h2{
    font-size: 35px;
    font-family: nb;
    color: #323232;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}
section .main_con p{
    font-size: 22px;
    font-family: nb;
    color: #323232;
    text-align: center;
    margin-bottom: 40px;
}

section .main_con .main_top{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

section .main_con .main_top div{
    width: 600px;
    height: 554px;
    float: left;
}


section .main_con .main_top .top_right img{
    width: 600px;
    height: 277px;
    display: block;
}


section .main_center{
    width: 1200px;
    margin: 0 auto;
}

section .main_center .center_title{
    font-size: 35px;
    font-family: nb;
    color: #323232;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: left;
}

section .main_center .center_title span {
    border-bottom: 3px solid #323232;
}

.single .single_right,
.twin .twin_left,
.share .share_right,
.bath .bath_left,
.kitchen .kitchen_right{
    background-color: #fff;
}



section .main_center .center_stitle{
    font-size: 22px;
    font-family: nb;
    color: #323232;
    text-align: left;
    margin-bottom: 40px;
}

section .main_center .main_reser {
    width: 1200px;
    overflow: hidden;
}

section .main_center .main_reser div{
    width: 600px;
    height: 400px;
    float: left;
    position: relative;
}

section .main_center .main_reser div img{
    display: block;
}

section .main_center .main_reser  div .main_twrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
}


section .main_center .main_reser  div .main_twrap .subt_t {
    color: #a2a2a2;
    font-size: 18px;
    font-family: r;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 20px 0px;
}

section .main_center .main_reser div .main_twrap p {
    font-size: 18px;
    font-family: r;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}


section .main_center .main_reser div .main_twrap .center_btn {
    padding: 10px 0px;
    width: 100px;
    display: block;
    background-color: #323232;
    color: #fff;
    font-family: 16px;
    font-family: l;
    border-radius: 10px;
    margin:  20px auto 0px auto;
    text-align: center;
    font-weight: bold;
    transition-duration: 1s;
}

section .main_center .main_reser div .main_twrap .center_btn:hover{
    background-color: #a2a2a2;
}

section .main_bottom {
    width: 100%;
    background: url('../img/main/main_bottom.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section .main_bottom .bot_wrap {
    width: 100%;
    display: block;
    background-color: rgba(114,114,114,0.7);
    padding: 40px 0px;
}



section .main_bottom .bot_wrap h1 {
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 40px 0px;
    font-family: nr;
}

section .main_bottom .bot_wrap p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding: 40px 0px;
    font-family: nr;
}


section .main_bottom .bot_wrap .bottom_btn {
    padding: 10px 0px;
    width: 100px;
    display: block;
    background-color: #323232;
    color: #fff;
    font-family: 16px;
    font-family: l;
    border-radius: 10px;
    margin:  40px auto 0px auto;
    text-align: center;
    font-weight: bold;
    transition-duration: 1s;
}


section .main_bottom .bot_wrap .bottom_btn:hover{
    background-color: #a2a2a2;
}




@media screen and (max-width:1280px) {

    section .main_visual{
        height: 600px;
    }

    section .main_visual .visual_wrap h1{
        font-size: 45px;
    }

    section .main_visual .visual_wrap p {
        font-size: 20px;
        margin: 50px auto;
    }

    section .main_visual .visual_wrap .visual_btn {
        width: 240px;
        margin: 0 auto;
    }

    section .main_visual .visual_wrap .visual_btn a {
        padding: 5px 0px;
        width: 100px;
        font-size: 12px;
    }


    section .main_con h2{
        font-size: 30px;
    }
    section .main_con p{
        font-size: 18px;
    }

    section .main_con .main_top{
        width: 740px;
    }

    section .main_con .main_top div{
        width: 370px;
        height: 342px;
    }


    section .main_con .main_top div img{
        width: 100%;
    }
    section .main_con .main_top .top_right img{
        width: 370px;
        height: 171px;
    }


    section .main_center{
        width: 740px;
        margin: 0 auto;
    }

    section .main_center .center_title{
        font-size: 30px;
    }


    section .main_center .center_stitle{
        font-size: 18px;
    }

    section .main_center .main_reser {
        width: 740px;
    }

    section .main_center .main_reser div{
        width: 370px;
        height: 246.666px;
    }

    section .main_center .main_reser div img{
        width: 100%;
    }


    section .main_center .main_reser  div .main_twrap .subt_t {
        font-size: 15px;
        padding: 10px 0px;
    }

    section .main_center .main_reser div .main_twrap p {
        font-size: 15px;
        line-height: 15px;
    }


    section .main_center .main_reser div .main_twrap .center_btn {
        padding: 5px 0px;
        font-size: 12px;
        margin:  10px auto 0px auto;
    }

    section .main_center .main_reser div .main_twrap .center_btn:hover{
        background-color: #a2a2a2;
    }

    section .main_bottom .bot_wrap {
        padding: 30px 0px;
    }



    section .main_bottom .bot_wrap h1 {
        font-size: 30px;
        padding: 30px 0px;
    }

    section .main_bottom .bot_wrap p {
        font-size: 18px;
        padding: 30px 0px;
    }


    section .main_bottom .bot_wrap .bottom_btn {
        font-family: 15px;
        margin:  30px auto 0px auto;
    }

}




@media screen and (max-width:900px) {

    section .main_visual{
        height: 500px;
    }

    section .main_visual .visual_wrap h1{
        font-size: 35px;
    }

    section .main_visual .visual_wrap p {
        font-size: 18px;
        margin: 50px auto;
    }

    section .main_visual .visual_wrap .visual_btn {
        width: 220px;
    }

    section .main_visual .visual_wrap .visual_btn a {
        padding: 5px 0px;
        width: 90px;
        font-size: 12px;
    }


    section .main_con h2{
        font-size: 25px;
    }
    section .main_con p{
        font-size: 17px;
    }

    section .main_con .main_top{
        width: 540px;
    }

    section .main_con .main_top div{
        width: 540px;
        height: 499px;
    }


    section .main_con .main_top div img{
        width: 100%;
    }
    section .main_con .main_top .top_right img{
        width: 540px;
        height: 249.5px;
    }


    section .main_center{
        width: 540px;
        margin: 0 auto;
    }

    section .main_center .center_title{
        font-size: 25px;
    }


    section .main_center .center_stitle{
        font-size: 17px;
    }

    section .main_center .main_reser {
        width: 540px;
        margin-top: 40px;
    }

    section .main_center .single {
        margin-top: 0px;
    }
    section .main_center .main_reser div{
        width: 540px;
    }
    section .main_center .main_reser  .single_right {
        height: 240px;
    }

    section .main_bottom .bot_wrap {
        padding: 20px 0px;
    }



    section .main_bottom .bot_wrap h1 {
        font-size: 25px;
        padding: 20px 0px;
    }

    section .main_bottom .bot_wrap p {
        font-size: 17px;
        padding: 20px 0px;
    }


    section .main_bottom .bot_wrap .bottom_btn {
        font-family: 15px;
        margin:  20px auto 0px auto;
    }

}






@media screen and (max-width:640px) {

    section .main_visual{
        height: 500px;
    }

    section .main_visual .visual_wrap h1{
        font-size: 25px;
    }

    section .main_visual .visual_wrap p {
        font-size: 16px;
        margin: 40px auto;
    }

    section .main_visual .visual_wrap .visual_btn {
        width: 180px;
    }

    section .main_visual .visual_wrap .visual_btn a {
        width: 70px;
    }


    section .main_con h2{
        font-size: 22px;
    }
    section .main_con p{
        font-size: 14px;
        font-family: l;
        font-weight: bold;
    }

    section .main_con .main_top{
        width: 300px;
        height: 554px;
    }

    section .main_con .main_top div{
        width: 100%;
    }


    section .main_con .main_top div img{
        width: 100%;
    }
    section .main_con .main_top .top_left{
        height: 277px;
    }
    section .main_con .main_top .top_right img{
        width: 300px;
        height: 138.5px;
    }


    section .main_center{
        width: 300px;
        margin: 0 auto;
    }

    section .main_center .center_title{
        font-size: 22px;
    }


    section .main_center .center_stitle{
        font-size: 15px;
        font-family: l;
        font-weight: bold;
    }

    section .main_center .main_reser {
        width: 300px;
    }

    section .main_center .single {
        margin-top: 0px;
    }
    section .main_center .main_reser div{
        width: 300px;
        height: 198.666px;
    }
    section .main_center .main_reser  .single_right {
        height: 250px;
    }
    
    section .main_center .main_reser div .main_twrap .subt_t {
        font-size: 13px;
        padding: 5px 0px;
    }
    
    section .main_center .main_reser div .main_twrap p {
        font-size: 13px;
    }
    section .main_center .main_reser div .main_twrap .center_btn {
        font-size: 12px;
        width: 60px;
    }
    
    
    section .main_bottom .bot_wrap {
        padding: 20px 0px;
    }



    section .main_bottom .bot_wrap h1 {
        font-size: 22px;
        padding: 10px 0px;
    }

    section .main_bottom .bot_wrap p {
        font-size: 15px;
        padding: 10px 0px;
        font-family: l;
        font-weight: bold;
    }


    section .main_bottom .bot_wrap .bottom_btn {
        font-size: 13px;
        margin:  20px auto 0px auto;
    }

}










