
@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.woff'); 
    src:local(※), format(‘woff’) 
}




@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.eot'); 
    src:local(※), format(‘eot’) 
}


.addmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
    height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.addmodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    overflow: hidden;
    border: 1px solid #888;
    width: 540px;
    height: 500px;
        overflow-y: scroll;  
        -ms-overflow-style: none; 
    position: relative;
}


.addmodal-content::-webkit-scrollbar {

display:none;

} 

.addmodal_title {
  color: #646464;
  float: right;
  font-size: 18px;
    font-family: rb;
  font-weight: bold;
    position: absolute;
    top: 10px;
    left: 15px;
}

/* The Close Button */
.addclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
    font-family: rb;
    position: absolute;
    top: 0px;
    right: 10px;
}

.addclose:hover,
.addclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.addmodal-content .addmodal_wrap{
    width: 500px;
    overflow: hidden;
    margin:  0 auto;
    margin-top: 20px;
}

.addmodal-content .addmodal_wrap div{
    width: 460px;
    overflow: hidden;
    padding: 20px 0px;
    margin:  0 auto;
}



.addmodal-content .addmodal_wrap div p {
    width: 80px;
    font-size: 14px;
    line-height: 30px;
    float: left;
    font-family: rr;
}


.addmodal-content .addmodal_wrap div input {
    width: 408px;
    padding-left: 10px;
    height: 30px;
    border: none;
    float: left;
    font-size: 13px;
    border: 1px solid #ddd;
    font-family: rr;
    cursor: pointer;
}
.addmodal-content .addmodal_wrap .video_y textarea, 
.addmodal-content .addmodal_wrap .video_y2 textarea{
    width: 488px;
    height: 60px;
    padding-left: 10px;
    padding-top: 10px;
    line-height: 15px;
    text-align: start;
    border: 1px solid #ddd;
    font-size: 13px;
    font-family: rr;
    cursor: pointer;
}
.addmodal-content .addmodal_wrap .video_y2 {
    padding-bottom: 0px;
}
.addmodal-content .addmodal_wrap .restrict {
    font-family: rr;
    font-weight: bold;
    font-size: 13px;
    color: #4a8ce8;
}

label {
    
    cursor: pointer;
}

.addmodal-content .addmodal_wrap .div input::placeholder
.addmodal-content .addmodal_wrap .video_y textarea::placeholder{
    color: #8a8a8a;
}

.addmodal-content .addmodal_wrap div input[type="radio"]{
    display: none;
}

.addmodal-content .addmodal_wrap div input[type="radio"]:checked + label{
    color: #fff;
    background-color: #4a8ce8;
}


.addmodal-content .addmodal_wrap .level span {
    width: 160px;
    display: block;
    float: left;
    color: #949494;
    line-height: 20px;
    margin-top: 15px;
}

.addmodal-content .addmodal_wrap .level div {
    width: 106px;
    float: left;
    margin-left: 10px;
}

.addmodal-content .addmodal_wrap .level div:nth-child(2){
    margin-left: 0px;
}
.addmodal-content .addmodal_wrap .level div label {
    color: #646464;
    font-size: 13px;
    font-family: rr;
    border: 1px solid #4a8ce8;
    display: block;
    text-align: center;
    padding: 5px 0px;
}



.addmodal-content .addmodal_wrap .preffer span {
    width: 160px;
    display: block;
    float: left;
    color: #949494;
    line-height: 20px;
    margin-top: 15px;
}

.addmodal-content .addmodal_wrap .preffer .lang,.addmodal-content .preffer .sex,.addmodal-content .preffer .explain {
    width: 340px!important;
    float: right;
}

.addmodal-content .addmodal_wrap .preffer .lang div,
.addmodal-content .addmodal_wrap .preffer .sex div,
.addmodal-content .addmodal_wrap .preffer .explain div{
    width: 165px!important;
    float: left;
}

.addmodal-content .kor,.addmodal-content .male {
    margin-left: 10px!important;
}

.addmodal-content .eng,.addmodal-content .kor,.addmodal-content .female,.addmodal-content .male {
    padding: 0px!important;
}


.addmodal-content .addmodal_wrap .preffer div:nth-child(2){
    margin-left: 0px;
}
.addmodal-content .addmodal_wrap .preffer div label {
    color: #646464;
    font-size: 13px;
    font-family: rr;
    border: 1px solid #4a8ce8;
    display: block;
    text-align: center;
    padding: 5px 0px;
}

.addmodal-content .addmodal_wrap div input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.addmodal-content .addmodal_wrap .interesting span {
    width: 160px;
    display: block;
    float: left;
    color: #949494;
    line-height: 35px;
}

.addmodal-content .addmodal_wrap .interesting div {
    width: 75px;
    float: left;
    margin-left: 10px;
}

.addmodal-content .addmodal_wrap .interesting div:nth-child(2),
.addmodal-content .addmodal_wrap .interesting div:nth-child(6){
    margin-left: 0px;
}


.addmodal-content .addmodal_wrap .interesting div:nth-child(6) {
    width: 340px;
    float: right;
}

.addmodal-content .addmodal_wrap .interesting div:nth-child(6) input{
    width: 318px;
    border: 1px solid #4a8ce8;
    padding: 10px;
    height: 20px;
}


.addmodal-content .addmodal_wrap .interesting div label {
    color: #646464;
    font-size: 13px;
    font-family: rr;
    display: block;
    text-align: center;
}


.addmodal-content .mo_btn {
    width: 220px;
    overflow: hidden;
    margin: 20px auto;
}
.addmodal-content input[type="button"] {
    float: left;
    width: 100px;
    font-size: 12px;
    font-family: rr;
    color: #fff;
    background-color: #646464;
    padding: 10px 0px;
    cursor: pointer;
    margin: 0 auto;
}

.addmodal-content input[type="button"]:nth-child(2){
    margin-left: 20px;
}

.confirm{
    display: block;
    font-size: 12px;
    font-family: rr;
    font-weight: bold;
    margin-top: 10px;
    color: #646464;
    text-align: center;
}

.addmodal-content .addmodal_wrap div  {
    width: 500px;
    display: block;
    padding: 10px 0px;
    margin:  0 auto;
    font-size: 14px;
    overflow: hidden;
}

.addmodal-content .addmodal_wrap div span{
    display: block;
    width: 80px;
    float: left;
    font-size: 14px;
    font-family: rr;
    line-height: 32px;
    font-weight: bold;
    color: #949494;
}
.addmodal-content .button_modal {
    width: 310px;
    margin: 0 auto;
    display: block;
    margin: 20px auto;
    padding: 10px 0px;
    font-size: 14px;
    font-family: rb;
    background-color: #9fc5eb;
    color: #fff;
    border: none;
    cursor: pointer;
}




@media screen and (max-width:1280px) {
    
.add_modal {
  padding-top: 100px; /* Location of the box */
}

/* Modal Content */
.addmodal-content {
    height: 500px;
}
}



@media screen and (max-width: 640px) {


    .add_modal {
        padding-top: 60px;
    }
    
    .addmodal-content {
        width: 230px;
        position: relative;
    }




    .addmodal-content .addmodal_wrap{
        width: 230px;
        margin-top: 10px;
    }

    .addmodal-content .addmodal_wrap div{
        width: 230px;
    }


    .addmodal-content .addmodal_wrap div input {
        width: 218px;
        font-size: 12px;
    }

    .addmodal-content .addmodal_wrap div  {
        width: 230px;
        font-size: 13px;
        padding: 5px 0px;
    }

    .modal_title {
      color: #646464;
      float: right;
      font-size: 18px;
        top: 15px;
        left: 15px;
    }

    .addmodal-content .addmodal_wrap div span {
        font-size: 12px;
    }
    .addmodal-content .addmodal_wrap div input {
        width: 218px;
        font-size: 11px;
    }
    .addmodal-content .addmodal_wrap .video_y textarea, 
    .addmodal-content .addmodal_wrap .video_y2 textarea{
        width: 218px;
        font-size: 11px;
    }
    .addmodal-content .addmodal_wrap .video_y2 {
        padding-bottom: 0px;
    }
    .addmodal-content .addmodal_wrap .restrict {
        font-size: 11px;
    }

    label {

        cursor: pointer;
    }

    .addmodal-content .addmodal_wrap .level span {
        width: 100%;
    }

    .addmodal-content .addmodal_wrap .level div {
        width: 70px;
    }
    .addmodal-content .addmodal_wrap .level div:nth-child(1) {
        float: none;
    }

    .addmodal-content .addmodal_wrap .level div label {
        color: #646464;
        font-size: 10px;
        border: 1px solid #4a8ce8;
        display: block;
        text-align: center;
        padding: 5px 0px;
    }



    .addmodal-content .addmodal_wrap .preffer span {
        width: 100%;
        display: block;
        float: left;
        color: #949494;
    }

    .addmodal-content .addmodal_wrap .preffer .lang, .addmodal-content .addmodal_wrap .preffer .sex, .addmodal-content .addmodal_wrap .preffer .explain {
        width: 165px!important;
        float: none;
    }

    .addmodal-content .addmodal_wrap .preffer .lang div,
    .addmodal-content .addmodal_wrap .preffer .sex div,
    .addmodal-content .addmodal_wrap .preffer .explain div{
        width: 165px!important;
        float: none;
    }

    .addmodal-content .addmodal_wrap .preffer .kor, .addmodal-content .addmodal_wrap .preffer .male {
        margin-left:0px!important;
    }

    .addmodal-content .addmodal_wrap .preffer div:nth-child(2){
        margin: 5px auto;
    }

    .addmodal-content .addmodal_wrap .preffer div div:nth-child(2){
        margin-top: 5px;
    }
    .addmodal-content .addmodal_wrap .preffer div label {
        font-size: 11px;
    }

    .addmodal-content .addmodal_wrap div input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }

    .addmodal-content .addmodal_wrap .interesting span {
        width: 100%;
        line-height: 35px;
    }

    .addmodal-content .addmodal_wrap .interesting div {
        width: 75px;
        float: left;
        margin-left: 40px;
    }


    .addmodal-content .addmodal_wrap .interesting div:nth-child(2){
        margin-left: 40px;
    }

    .addmodal-content .addmodal_wrap .interesting div:nth-child(2),
    .addmodal-content .addmodal_wrap .interesting div:nth-child(4) {
        margin-left: 20px;
    }
    .addmodal-content .addmodal_wrap .interesting div:nth-child(6) {
        width: 193px;
        float: none;
        margin: 0 auto;
    }

    .addmodal-content .addmodal_wrap .interesting div:nth-child(6) input{
        width: 170px;
    }


    .addmodal-content .addmodal_wrap .interesting div label {
        font-size: 11px;
    }
    .addmodal-content .mo_btn {
        width: 180px;
    }
    .addmodal-content input[type="button"] {
        width: 80px;
        font-size: 11px;
        display: block;
        padding: 10px 0px;
        margin: 0 auto;
    }

    .addmodal-content .confirm{
        font-size: 11px;
    }

}
