
@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.woff'); 
    src:local(※), format(‘woff’) 
}


@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.eot'); 
    src:local(※), format(‘eot’) 
}



.forgot_m {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  padding-top: 200px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* forgot Content */
.forgot-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
    width: 280px;
    position: relative;
}




/* The Close Button */
.forgotclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-family: rb;
    position: absolute;
    top: 0px;
    right: 10px;
}

.forgotclose:hover,
.forgotclose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.forgot-content .forgot_title{
    color: #646464;
    float: right;
    font-size: 18px;
    font-family: rb;
    font-weight: bold;
    position: absolute;
    top: 12px;
    left: 15px;
}

.forgot-content .forgot_wrap {
    width: 280px;
    margin-top: 40px;
}


.forgot-content .forgot_wrap div span{
    font-size: 14px;
    font-family: rr;
    width: 80px;
    font-weight: bold;
    display: block;
    float: left;
    color: #a7a7a7;
    line-height: 30px;
}

.forgot-content .forgot_wrap div input{
    border: 1px solid #a7a7a7;
    float: left;
    width: 138px;
    padding: 5px 10px;
}

.forgot-content .forgot_wrap .fg_mname{
    width: 240px;
    overflow: hidden;
    margin: 0 auto;
}

.forgot-content .forgot_wrap .fg_mmail{
    width: 240px;
    margin: 0 auto;
    margin-top: 20px;
    overflow: hidden;
}


.button_forgot {
    color: #fff;
    background-color: #4a8ce8;
    padding: 5px 20px;
    font-size: 14px;
    text-align: center;
    display: block;
    margin: 20px auto 0px auto;
}



@media screen and (max-width:640px) {
    
/* forgot Content */
.forgot-content {
  padding: 10px;
    width: 250px;
}




/* The Close Button */
.forgotclose {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
    position: absolute;
    top: 0px;
    right: 10px;
}


.forgot-content .forgot_title{
    font-size: 18px;
}

.forgot-content .forgot_wrap {
    width: 240px;
}


.forgot-content .forgot_wrap div span{
    font-size: 14px;
    width: 70px;
}

.forgot-content .forgot_wrap div input{
    width: 108px;
    padding: 5px 10px;
}

.forgot-content .forgot_wrap .fg_mname{
    width: 200px;
}

.forgot-content .forgot_wrap .fg_mmail{
    width: 200px;
}

}