
@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.woff'); 
    src:local(※), format(‘woff’) 
}




@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.eot'); 
    src:local(※), format(‘eot’) 
}





input[type="radio"],input[type="text"],input[type="password"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius:0px;

}
input {
    cursor: pointer;
}

label {
    cursor: pointer;
}

* {margin: 0px; padding: 0px; list-style: none; text-decoration: none; border: none;}


.owl-carousel .item-video video {
    width: 400px;
    height: 400px;
}



section {
    width: 100%;
}



/****************sban_wrap*********************/

.main_sban {
    width: 100%;
    height: 220px;
    background: url('../img/main/top_ban.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_sban .sban_wrap {
    width: 100%;
    padding: 40px 0px;
}

.main_sban .sban_wrap h1{
    font-size: 18px;
    font-weight: bold;
    font-family: rb;
    text-align: center;
    color: #073761;
}
.main_sban .sban_wrap .sban_input{
    width: 606px;
    overflow: hidden;
    margin: 40px auto 0px auto;
}

.main_sban .sban_wrap .sban_input input[type="text"]{
    width: 530px;
    padding-left: 20px;
    height: 50px;
    border: 3px solid #073761;
    border-right: none;
    float: left;
    font-size: 14px;
    font-family:rl;

}


.main_sban .sban_wrap .sban_input button[type="submit"]{
    width: 40px;
    height: 50px;
    border: 3px solid #073761;
    border-left: none;
    background: url('../img/main/blue_icon.png');
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    background-color: #fff;
    padding: 25px 25px;
    outline: none;
    cursor: pointer;
}

section article div .owl-carousel .item a {
    display: block;
}

section article div .owl-carousel .item a iframe {
    width: 100%!important;
    height: 200px!important;
  pointer-events: none;
    display: block;
}
/***************popular*******************/


section .populars{ 
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    border-top: 2px solid #ddd;
}

section .populars .pop_wrap {
    width: 1200px;
    margin: 0 auto;
}

section .populars h1{
    font-family: rr;
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    color: #073761;
}

section .populars .popular_wrap {
    width: 1100px;
}



/***************popular*******************/


section .lastest{ 
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
    background-color: #dddddd;
}

section .lastest .lat_wrap {
    width: 1200px;
    margin: 0 auto;
}
section .lastest h1{
    font-family: rr;
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    color: #073761;
}


section .lastest .last_wrap {
    width: 1100px;
}


/***************popular*******************/


section .recommends{ 
    width: 100%;
    margin: 0 auto;
    padding: 40px 0px;
}

section .recommends .recom_wrap {
    width: 1200px;
    margin: 0 auto;
}

section .recommends .recom_wrap  h1{
    font-family: rr;
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    color: #073761;
}

section .recommends .recommend_wrap {
    width: 1100px;
}



/****************category******************/


section .category{ 
    width: 1200px;
    margin: 40px auto;
}

section .category h1{ 
    font-family: rr;
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    color: #073761;
}

section .category .category_wrap{
    width: 100%;
    overflow: hidden;
}

section .category .category_wrap div {
    float: left;
    width: 285px;
    margin-left: 20px;
}
section .category .category_wrap div:nth-child(1) {
    margin: 0px;
}

section .category .category_wrap div input{
    float: left;
    width: 285px;
    height: 100px;
    padding: 25px 0px;
    font-family: rl;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

section .category .category_wrap .listening input {
    background: url('../img/main/listen_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section .category .category_wrap .reading input {
    background: url('../img/main/reading_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section .category .category_wrap .writing input {
    background: url('../img/main/writing_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section .category .category_wrap .speaking input {
    background: url('../img/main/speaking_img.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


section .login_tab{ 
    width: 100%;
    margin: 40px auto 0px auto;
    background-color: #9fc5eb;
}

section .login_tab .login_wrap{ 
    overflow: hidden;
    margin: 0 auto;
    width: 582px;
    padding: 40px 0px;
}

section .login_tab .login_wrap h1{ 
    font-family: rb;
    font-size: 18px;
    color: #fff;
    line-height: 43px;
    float: left;
}


section .login_tab .login_wrap input{ 
    float: left;
    font-size: 14px;
    font-family: rr;
    padding: 10px 30px;
    margin-left: 40px;
    background-color: #a7a7a7;
    color: #fff;
    border-radius: 30px;
    cursor: pointer;
}



/**************caption*****************/

.caption {
    background: transparent;
}

.cap-title {
    color: #666;
    font-size: 14px;
    font-family: rr;
    padding: 10px;
    line-height: 1.5;
}

.cap-info {
    color: #b8b8b8;
    font-size: 14px;
    font-family: rr;
    padding: 5px 10px;
}








@media screen and (max-width: 1280px) {





section article div .owl-carousel .item a iframe {
    width: 100%!important;
    height: 193px!important;
}
    /****************sban_wrap*********************/



    .main_sban .sban_wrap h1{
        font-size: 16px;
    }
    /***************popular*******************/


    section .populars .pop_wrap {
        width: 800px;
    }

    section .populars h1{
        font-size: 16px;
    }

    section .populars .popular_wrap {
        width: 700px;
    }



    /***************popular*******************/



    section .lastest .lat_wrap {
        width: 800px;
    }
    section .lastest h1{
        font-size: 16px;
    }


    section .lastest .last_wrap {
        width: 700px;
    }


    /***************popular*******************/
    section .recommends .recom_wrap {
        width: 800px;
    }

    section .recommends .recom_wrap  h1{
        font-size: 16px;
    }

    section .recommends .recommend_wrap {
        width: 700px;
    }


    /**************caption*****************/


    .cap-title {
        font-size: 13px;
    }

    .cap-info {
        font-size: 13px;
    }

    

    /****************category******************/


    section .category{ 
        width: 800px;
    }

    section .category h1{
        font-size: 16px;
        padding: 20px 0px;
    }

    section .category .category_wrap{
        width: 590px;
        margin: 0 auto;
        overflow: hidden;
    }

    section .category .category_wrap div:nth-child(1),
    section .category .category_wrap div:nth-child(3) {
        margin: 0px;
    }

    section .category .category_wrap div:nth-child(4),
    section .category .category_wrap div:nth-child(3) {
        margin-top: 20px;
    }

    section .category .category_wrap div input{
        font-size: 13px;
    }
    
    section .login_tab .login_wrap {
        width: 528px;
    }

    section .login_tab .login_wrap h1{ 
        font-size: 16px;
    }


    section .login_tab .login_wrap input{ 
        font-size: 13px;
    }



    /*****************rising ban*******************/

    section .rising_wrap .rising_ul{
        width: 785px;
    }


    section .rising_wrap ul li{
        width: 245px;
        height: 170px;
    }

    section .rising_wrap ul li:nth-child(1){
        margin-left: 0px;
    }

    section .rising_wrap h1 {
        font-size: 19px;
    }

}





@media screen and (max-width: 900px) {


section article div .owl-carousel .item a iframe {
    width: 100%!important;
    height: 138px!important;
}




    /****************sban_wrap*********************/



    .main_sban .sban_wrap h1{
    }
    
    .main_sban .sban_wrap .sban_input{
        width: 476px;
        overflow: hidden;
        margin: 40px auto 0px auto;
    }

    .main_sban .sban_wrap .sban_input input[type="text"]{
        width: 400px;
        padding-left: 20px;
        height: 50px;
        font-size: 11px;

    }


    .main_sban .sban_wrap .sban_input input[type="button"]{
        width: 40px;
        height: 50px;
        padding: 25px 25px;
    }
    /***************popular*******************/


    section .populars .pop_wrap {
        width: 600px;
    }

    section .populars h1{
    }

    section .populars .popular_wrap {
        width: 500px;
    }



    /***************popular*******************/



    section .lastest .lat_wrap {
        width: 600px;
    }
    section .lastest h1{
    }


    section .lastest .last_wrap {
        width: 500px;
    }


    /***************popular*******************/
    section .recommends .recom_wrap {
        width: 600px;
    }

    section .recommends .recom_wrap  h1{
    }

    section .recommends .recommend_wrap {
        width: 500px;
    }


    /**************caption*****************/


    .cap-title {
    }

    .cap-info {
    }

    

    /****************category******************/


    section .category{ 
        width: 600px;
    }

    section .category h1{
        padding: 20px 0px;
    }

    section .category .category_wrap{
        width: 500px;
        margin: 0 auto;
        overflow: hidden;
    }

    section .category .category_wrap div {
        width: 240px;
    }
    section .category .category_wrap div input{
        width: 240px;
        height: 80px;
    }
    
    section .category .category_wrap div:nth-child(1),
    section .category .category_wrap div:nth-child(3) {
        margin: 0px;
    }

    section .category .category_wrap div:nth-child(4),
    section .category .category_wrap div:nth-child(3) {
        margin-top: 20px;
    }

    section .category .category_wrap div input{
    }
    
    section .login_tab .login_wrap {
        width: 528px;
    }

    section .login_tab .login_wrap h1{ 
    }


    section .login_tab .login_wrap input{ 
    }




}


@media screen and (max-width: 640px) {





    /****************sban_wrap*********************/



    .main_sban .sban_wrap h1{
        font-family: b;
    }
    
    .main_sban .sban_wrap .sban_input{
        width: 310px;
        overflow: hidden;
        margin: 40px auto 0px auto;
    }

    .main_sban .sban_wrap .sban_input input[type="text"]{
        width: 234px;
        height: 50px;


    }


    .main_sban .sban_wrap .sban_input input[type="button"]{
        width: 40px;
        height: 50px;
        padding: 25px 25px;
    }
    


    .owl-carousel .owl-nav button.owl-prev{
        right: -32px!important;
        transform: translateY(-50%);
    }
    
    .owl-carousel .owl-nav button.owl-next{
        right: -64px!important;
        transform: translateY(-50%);
    }
    
    .owl-next.disabled, .owl-prev.disabled {
        display: none !important;
    }
      
    
    .owl-carousel .owl-nav button.owl-prev img,
    .owl-carousel .owl-nav button.owl-next img{
        width: 30px!important;
    }
    /***************popular*******************/


    section .populars .pop_wrap {
        width: 310px;
    }

    section .populars h1{
    }

    section .populars .popular_wrap {
        width: 250px;
    }



    /***************popular*******************/



    section .lastest .lat_wrap {
        width: 310px;
    }
    section .lastest h1{
    }


    section .lastest .last_wrap {
        width: 250px;
    }


    /***************popular*******************/
    section .recommends .recom_wrap {
        width: 310px;
    }

    section .recommends .recom_wrap  h1{
    }

    section .recommends .recommend_wrap {
        width: 250px;
    }


    /**************caption*****************/


    .cap-title {
    }

    .cap-info {
    }

    

    /****************category******************/


    section .category{ 
        width: 310px;
    }

    section .category h1{
        padding: 20px 0px;
    }

    section .category .category_wrap{
        width: 310px;
        margin: 0 auto;
        overflow: hidden;
    }

    section .category .category_wrap div {
        width: 140px;
    }
    section .category .category_wrap div input{
        width: 140px;
        height: 80px;
    }
    
    section .category .category_wrap div:nth-child(1),
    section .category .category_wrap div:nth-child(3) {
        margin: 0px;
    }

    section .category .category_wrap div:nth-child(4),
    section .category .category_wrap div:nth-child(3) {
        margin-top: 20px;
    }

    section .category .category_wrap div input{
        font-family: r;
    }
    
    section .login_tab .login_wrap {
        width: 310px;
    }

    section .login_tab .login_wrap h1{ 
        float: none;
        text-align: center;
    }


    section .login_tab .login_wrap input{ 
        float: none;
        display: block;
        margin: 0 auto;
    }

}
