*{margin:0; padding:0; border:0;font-family: 'Gill Sans','Gill Sans MT','Calibri',sans-serif;}
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}



header{width:100%; height:80px; background-color:#141821;  z-index: 999; position: relative;}
#logo_wrap{width: 260px; height: 15px; position: absolute; top: 50%; left: 30px; transform: translateY(-50%);}
#logo_wrap img{width: 100%;}
#nav {width: 100%; height: 80px;}
#nav li{width: 20%;  float:left;text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li h2 a {font-size:16px; line-height: 80px; font-weight:normal; color:#eee;font-family: 'Montserrat', sans-serif;}
#nav li  h2 a:hover{color:#b30c2f;}


html, body{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

body{width:100%;  background-color:#f2efea;}
section{width:1200px; margin:0 auto;}
section #menu_wrap{width:700px; height:14px; margin:0 auto; margin-top:50px;}
section #menu_wrap #about_menu{width:100%; overflow:hidden;}
section #menu_wrap #about_menu li{float:left;}
section #menu_wrap #about_menu li a{font-size:14px; padding:0 15px; color:#141821; border-right:1.5px solid black;}
section #menu_wrap #about_menu li:nth-child(5) a{border:none;}
section #menu_wrap #about_menu li a:hover{color:#b30c2f;}
section #menu_wrap #about_menu li:nth-child(4) a{color:#b30c2f;}


section #sub_logo h3{text-align:center; margin-top:80px;}
section article{margin-top:60px;}
section article #top_img{margin-top:40px; overflow:hidden;}
section article #top_img div:nth-child(1){float:left;}
section article #top_img div:nth-child(2){float:right;}
section article .brand_text p{font-size: 16px;}
section article .brand_text_2{margin-top:40px;}
section article #bot_img{margin-top:40px; overflow:hidden;}
section article #bot_img div:nth-child(1){float:left;}
section article #bot_img div:nth-child(2){float:right;}
section article .brand_text_3{margin-top:40px;}


footer{width:100%; height:30px; padding-top:15px; background-color:#fff; margin-top:90px;}
footer #change_con{float:left; margin-left:50px;}
footer #change_con a{font-size:11px; color:#4f5259;}

footer #foot_info {width:50%; margin:0 auto; }
footer #foot_info ul{}
footer #foot_info ul li{float:left; margin-left:30px;}
footer #foot_info ul li:nth-child(1){margin-left:0px;}
footer #foot_info ul li{font-size:11px; color:#4f5259;}

footer #gnb {width:175px;float:right; margin-right:50px;}
footer #gnb p{float:left}
footer #gnb p a{font-size:11px; color:#4f5259;}
footer #gnb ul{float:left; margin-left:13px;}
footer #gnb ul li{float:left; margin-left:5px;}
footer #gnb ul li a img{width:20px; height:20px;}



@media (min-width:900px) and (max-width:1450px){
    #search_wrap{display: none;}
    header #nav_wrap {width: 550px; float: right;}
    #nav li{width: 95px; float:left; margin-left:15px; text-align: center;}
    #nav li:nth-child(1) h2 a {color: #b30c2f;}
    #nav li h2 a {font-size:12px; font-weight:normal; color:#eee;}
    

    section #menu_wrap{width:600px; height:14px; margin:0 auto; margin-top:50px;}
    section #menu_wrap #about_menu{width:100%; overflow:hidden;}
    section #menu_wrap #about_menu li{float:left;}
    section #menu_wrap #about_menu li a{font-size:12px; padding:0 15px; color:#141821; border-right:1px solid black;}
    section #menu_wrap #about_menu li:nth-child(5){border:none;}
    
    section #sub_logo h3{text-align:center; margin-top:80px;}
    section #sub_logo h3 img{width: 230px;}    
    section {width: 900px;}
    section article #top_img{width: 700px; margin: 0 auto; margin-top:40px; overflow:hidden;}
    section article #top_img div:nth-child(1){float:none; margin: 0 auto;}
    section article #top_img div:nth-child(2){display: none;}
    section article .brand_text p{font-size: 14px;}
    section article .brand_text_2{margin-top:40px;}
    section article #bot_img{width: 809px; margin: 0 auto; margin-top:40px; overflow:hidden;}
    section article #bot_img div:nth-child(1){display: none;}
    section article #bot_img div:nth-child(2){float:right;}
    section article .brand_text_3{margin-top:40px;}
    

    footer #change_con {display: none;}
    footer #foot_info {width:500px; margin:0 auto; }
    footer #foot_info ul li{float:left; margin-left:15px;}
    footer #foot_info ul li:nth-child(1){margin-left:0px;}
    footer #foot_info ul li{font-size:8px; color:#4f5259;}    
    footer #gnb {display: none;}
}

@media (min-width:750px) and (max-width:900px){
    #search_wrap{display: none;}
    header #nav_wrap {width: 400px; float: right;}
    #nav li{width: 70px; float:left; margin-left:10px;}
    #nav li h2 a {font-size:8px;}

    
    section {width:600px;}
    section #menu_wrap{width:450px; height:14px; margin:0 auto; margin-top:50px;}
    section #menu_wrap #about_menu{width:100%; overflow:hidden;}
    section #menu_wrap #about_menu li{float:left;}
    section #menu_wrap #about_menu li a{font-size:9px; padding:0 10px; color:#141821; border-right:1px solid black;}
    section #menu_wrap #about_menu li:nth-child(5){border:none;}
    
    section {width:600px;}    
    section #sub_logo h3{text-align:center; margin-top:80px;}
    section #sub_logo h3 img{width: 180px;}
    section article #top_img{width: 600px; margin: 0 auto; margin-top:40px; overflow:hidden;}
    section article #top_img div:nth-child(1){float:none; margin: 0 auto;}
    section article #top_img div:nth-child(2){display: none;}
    section article .brand_text p{font-size: 13px;}
    section article .brand_text_2{margin-top:40px;}
    section article #bot_img{width: 600px; margin: 0 auto; margin-top:40px; overflow:hidden;}
    section article #bot_img div:nth-child(1){display: none;}
    section article #bot_img div:nth-child(2){float:right;}
    section article .brand_text_3{margin-top:40px;}

    
    footer #change_con {display: none;}
    footer #foot_info {width:600px; margin:0 auto; }
    footer #foot_info ul li{float:left; margin-left:15px;}
    footer #foot_info ul li:nth-child(1){margin-left:0px;}
    footer #foot_info ul li{font-size:6px; color:#4f5259;}
    footer #gnb {display: none;}
}


@media (min-width:300px) and (max-width:750px){
    #logo_wrap{width:100%; height: 30px; }
    #logo_wrap h1{text-align: center; margin: 0; margin-top: 5px; margin-bottom: 5px;}
    #search_wrap{display: none;}
    header #nav_wrap {width: 390px;float: none;}
    #nav li{width: 78px; float:left; margin-left:0px; margin-top: 5px;}
    #nav li h2 a {font-size:8px;}
    

    section #menu_wrap{width:250px; height:14px; margin:0 auto; margin-top:50px;}
    section #menu_wrap #about_menu{width:100%; overflow:hidden;}
    section #menu_wrap #about_menu li{float:left;  border: none;}
    section #menu_wrap #about_menu li:nth-child(4) a{padding-right: 18px;}
    section #menu_wrap #about_menu li a{font-size:6px; border-right:0.5px solid black; margin: 0px; padding:0 5px; color:#141821;}
    section #menu_wrap #about_menu li:nth-child(3) a{border-right: none;}
    section #menu_wrap #about_menu li:nth-child(5) a{border-right: none;}
    
    section {width:400px;}    
    section #sub_logo h3{text-align:center; margin-top:60px;}
    section #sub_logo h3 img{width: 150px;}
    section article #top_img{width: 400px; margin: 0 auto; margin-top:40px; overflow:hidden;}
    section article #top_img div:nth-child(1){ display: none;}
    section article #top_img div:nth-child(2){float:none; display: block;}
    section article .brand_text p{font-size: 13px;}
    section article .brand_text_2{margin-top:40px;}
    section article #bot_img{width: 400px; margin: 0 auto; margin-top:40px; overflow:hidden;}
    section article #bot_img img{width: 400px;}
    section article #bot_img div:nth-child(1){float:none; display: block;}
    section article #bot_img div:nth-child(2){display: none;}
    section article .brand_text_3{margin-top:40px;}
    
    footer #change_con {display: none;}
    footer #foot_info {width:250px; margin:0 auto;  overflow: hidden;}
    footer #foot_info ul li{float:none;}
    footer #foot_info ul li:nth-child(1){display: none;}
    footer #foot_info ul li:nth-child(2){display: none;}
    footer #foot_info ul li:nth-child(3){display: none;}
    footer #foot_info ul li:nth-child(4){display: none;}
    footer #foot_info ul li{font-size:6px; color:#4f5259;}
    footer #gnb {display: none;}
}    

