*{margin:0; padding:0; border:0; font-family: 'Noto sans', sans-serif;}
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}

header{width:100%; height:68px; background-color:#141821; overflow:hidden;}
#logo_wrap{width: 335px; height: 68px; float: left; }
#logo_wrap h1{margin-left: 50px; margin-top: 15px;}
header #nav_wrap {width:675px; height: 30px; margin:0 auto; margin-top:17px;}
#nav {width: 100%; overflow: hidden;}
#nav li{width: 110px; float:left; margin-left:25px; text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li:nth-child(3) h2 a {color: #b30c2f;}
#nav li h2 a {font-size:14px; font-weight:normal; color:#eee;}
#nav li  h2 a:hover{color:#b30c2f;}


.coll_menu {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.coll_menu ul{
    overflow: hidden;
    margin-top: 60px;
}

.coll_menu ul li {
    float: left;
    text-align: center;
    width: 22%;
    background-color: #00174f;
    margin-left: 4%;
    cursor: pointer;
}

.coll_menu ul li.selected {
    background-color: #b30c2f;
}

.coll_menu ul li:hover {
    background-color: #b30c2f;
    transition-duration: 1s;
}

.coll_menu ul li:nth-child(1) {
    margin-left: 0px;
}

.coll_menu ul a{
    display: block;
    color: white;
    padding: 20px 0px;
    font-size: 14px;
}

body{width:100%; background-color:#f2efea;}
section {width:100%;}
section .con_wrap{width:100%; margin-top:60px;}
section .con_wrap div img{width:100%;}


section .contents_holi #holi_subwrap{width: 1200px;margin: 0 auto; margin-top: 60px; overflow: hidden; }
section .contents_holi #holi_subwrap #holi_sub1{width: 310px; float: left;}
section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(1) {width: 140px; color: #00174f; font-size: 29px; line-height: 1.5; margin-top: 15px;}
section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(2) {width: 200px; font-size: 16px; line-height: 1.5; margin-top: 15px;}
section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) {margin-top: 15px;}
section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) a{font-size: 16px; color: #b30c2f; text-decoration: underline;}
section .contents_holi #holi_subwrap #holi_sub2{width: 280px; float: left; margin-left: 30px;}
section .contents_holi #holi_subwrap #holi_sub3{width: 310px; float: left; margin-left: 30px;}
section .contents_holi #holi_subwrap #holi_sub4{width: 210px; float: left; margin-left: 30px;}
section .contents_holi #holi_subwrap #holi_sub4 .text_right{width: 210px;}
section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(1){color: #00174f; font-size: 30px; line-height: 1.5; margin-top: 30px; text-align:right; padding-left:60px;}
section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(2){font-size: 16px; text-align: right; margin-top: 15px; line-height: 1.5;}
section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(3) a{font-size: 16px; color: #b30c2f;float: right; margin-top: 21px; text-decoration: underline;  }





@media screen and (max-width : 1200px) {
    
    .coll_menu {width: 80%;}
    .coll_menu ul{margin-top: 35px;}
    .coll_menu ul a{padding: 17px 0px;font-size: 12px;}

    section {width:100%;}
    section .con_wrap{width:100%; margin-top:60px;}
    section .con_wrap div img{width:100%;}


    section .contents_holi #holi_subwrap{width: 600px; margin: 0 auto; margin-top: 50px; overflow: hidden; }
    section .contents_holi #holi_subwrap #holi_sub1{width: 300px; float: left;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(1) {width: 140px; color: #00174f; font-size: 27px; line-height: 1.5; margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(2) {width: 200px; font-size: 15px; line-height: 1.5; margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) {margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) a{font-size: 15px; color: #b30c2f; text-decoration: underline;}
    section .contents_holi #holi_subwrap #holi_sub2{width: 270px; float: left; margin-left: 30px;}
    section .contents_holi #holi_subwrap #holi_sub3{width: 330px; float: left; margin-left: 0px;margin-top: 50px; }
    section .contents_holi #holi_subwrap #holi_sub4{width: 240px; float: left; margin-left: 30px;margin-top: 50px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right{width: 240px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(1){color: #00174f; font-size: 30px; line-height: 1.5; margin-top: 30px; text-align:right; padding-left:60px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(2){font-size: 15px; text-align: right; margin-top: 15px; line-height: 1.5;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(3) a{font-size: 15px; color: #b30c2f;float: right; margin-top: 21px; text-decoration: underline;  }

    
}


@media screen and (max-width : 800px) {
    .coll_menu {width: 80%;}
    .coll_menu ul{margin-top: 30px;}
    .coll_menu ul a{padding: 14px 0px;font-size: 12px;}
    section .con_wrap{width:100%; margin-top:40px;}


    section .contents_holi #holi_subwrap{width: 500px; margin: 0 auto; margin-top: 40px; overflow: hidden; }
    section .contents_holi #holi_subwrap #holi_sub1{width: 240px; float: left;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(1) {width: 140px; color: #00174f; font-size: 24px; line-height: 1.5; margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(2) {width: 200px; font-size: 15px; line-height: 1.5; margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) {margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) a{font-size: 14px; color: #b30c2f; text-decoration: underline;}
    section .contents_holi #holi_subwrap #holi_sub2{width: 230px; float: left; margin-left: 30px;}
    section .contents_holi #holi_subwrap #holi_sub3{width: 261px; float: left; margin-left: 0px;margin-top: 40px; }
    section .contents_holi #holi_subwrap #holi_sub4{width: 209px; float: left; margin-left: 30px;margin-top: 40px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right{width: 209px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(1){color: #00174f; font-size: 24px; line-height: 1.5; margin-top: 10px; text-align:right; padding-left:60px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(2){font-size: 14px; text-align: right; margin-top: 15px; line-height: 1.5;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(3) a{font-size: 14px; color: #b30c2f;float: right; margin-top: 21px; text-decoration: underline;  }


    
    
}


@media screen and (max-width : 640px) {
    .coll_menu {width: 85%;}
    .coll_menu ul{margin-top: 25px;}
    .coll_menu ul a{padding: 11px 0px;font-size: 12px;}
    
    
    
    section .contents_holi #holi_subwrap{width: 300px; margin: 0 auto; margin-top: 30px; overflow: hidden; }
    section .contents_holi #holi_subwrap #holi_sub1{width: 300px; float: none;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(1) {width: 300px; color: #00174f; font-size: 21px; line-height: 1.5; margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(2) {width: 300px; font-size: 13px; line-height: 1.5; margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) {margin-top: 15px;}
    section .contents_holi #holi_subwrap #holi_sub1 .text_left p:nth-child(3) a{font-size: 13px; color: #b30c2f; text-decoration: underline;}
    section .contents_holi #holi_subwrap #holi_sub2{width: 300px; float: left; margin-left: 0px; margin-top: 30px;}
    section .contents_holi #holi_subwrap #holi_sub3{width: 300px; float: left; margin-left: 0px;margin-top: 30px; }
    section .contents_holi #holi_subwrap #holi_sub4{width: 300px; float: left; margin-left: 0px;margin-top: 30px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right{width: 260px; float: right;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(1){color: #00174f; font-size: 21px; line-height: 1.5; margin-top: 10px; text-align:right; padding-left:60px;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(2){font-size: 13px; text-align: right; margin-top: 15px; line-height: 1.5;}
    section .contents_holi #holi_subwrap #holi_sub4 .text_right p:nth-child(3) a{font-size: 13px; color: #b30c2f;float: right; margin-top: 21px; text-decoration: underline;  }
}
