*{margin:0; padding:0; border:0; font-family: 'Noto sans', sans-serif;} 
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}

header{width:100%; height:68px; background-color:#141821; overflow:hidden;}
#logo_wrap{width: 335px; height: 68px; float: left; }
#logo_wrap h1{margin-left: 50px; margin-top: 15px;}
header #nav_wrap {width:675px; height: 30px; margin:0 auto; margin-top:17px;}
#nav {width: 100%; overflow: hidden;}
#nav li{width: 110px; float:left; margin-left:25px; text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li:nth-child(3) h2 a {color: #b30c2f;}
#nav li h2 a {font-size:14px; font-weight:normal; color:#eee;}
#nav li  h2 a:hover{color:#b30c2f;}

.coll_menu {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.coll_menu ul{
    overflow: hidden;
    margin-top: 60px;
}

.coll_menu ul li {
    float: left;
    text-align: center;
    width: 22%;
    background-color: #00174f;
    margin-left: 4%;
    cursor: pointer;
}

.coll_menu ul li.selected {
    background-color: #b30c2f;
}

.coll_menu ul li:hover {
    background-color: #b30c2f;
    transition-duration: 1s;
}

.coll_menu ul li:nth-child(1) {
    margin-left: 0px;
}

.coll_menu ul a{
    display: block;
    color: white;
    padding: 20px 0px;
    font-size: 14px;
}

body{width:100%; background-color:#f2efea;}
section {width:100%;position: relative; top: 0; left: 0; }

section .con_wrap{width:100%; margin-top:60px;}
section .con_wrap div img{width:100%;}

section .contents_men {margin-top:60px;}
section .contents_men #men_main{width: 100%;}
section .contents_men #men_main img{width: 100%;}
section .contents_men #men_subwrap { width: 1200px;margin: 0 auto; margin-top:60px; overflow: hidden;}
section .contents_men #men_subwrap #men_sub1_1 {width: 340px; float: left;}
section .contents_men #men_subwrap #men_sub1_2 {width: 450px; float: left; margin-left: 16px;}
section .contents_men #men_subwrap #men_sub1_3 {width: 377px; float: left; margin-left: 16px;}
section .contents_men #men_subwrap #men_sub1_3 p{text-align:right; color: #00174f; padding-left: 200px;}
section .contents_men #men_subwrap #men_sub1_3 p:nth-child(1){font-size: 30px; color: #00174f;line-height:1.3;}
section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2),section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3)
{font-size: 13px; padding-left:25px;}
section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2) {margin-top: 32px; line-height: 1.5;}
section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3){margin-top: 40px;}
section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}
section .contents_men #men_subwrap #men_sub1_3 #men_sub3_img {margin-top: 75px;}


section .contents_men #tommy_men2 {width: 100%; margin-top: 60px;}
section .contents_men #tommy_men2 #men_main2 {width: 100%;}
section .contents_men #tommy_men2 #men_main2 img {width: 100%;}
section .contents_men #tommy_men2 #men_subwrap2 {width: 1110px; overflow: hidden; margin: 0 auto; margin-top: 60px;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_1 {width: 435px; float: left;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_2 {width: 436px; float: left; margin-left: 57px;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 {width: 136px; float: left; margin-left: 38px;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p{text-align: right; padding-left: 10px;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1){font-size: 29px; color: #00174f; line-height: 1.5;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1) span{color: #b30c2f;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(2),section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3)
{font-size: 16px; line-height: 1.5; margin-top: 20px;}
section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}





@media screen and (max-width : 1200px) {
    .coll_menu {width: 80%;}
    .coll_menu ul{margin-top: 35px;}
    .coll_menu ul a{padding: 17px 0px;font-size: 12px;}

    section .con_wrap{width:100%; margin-top:50px;}
    section .con_wrap div img{width:100%;}

    section .contents_men {margin-top:50px;}
    section .contents_men #men_main{width: 100%;}
    section .contents_men #men_main img{width: 100%;}
    section .contents_men #men_subwrap { width: 740px;margin: 0 auto; margin-top:50px; overflow: hidden;}
    section .contents_men #men_subwrap #men_sub1_1 {width: 210px; float: left;}
    section .contents_men #men_subwrap #men_sub1_2 {width: 280px; float: left; margin-left: 16px;}
    section .contents_men #men_subwrap #men_sub1_3 {width: 200px; float: left; margin-left: 16px;}
    section .contents_men #men_subwrap #men_sub1_3 p{text-align:right; color: #00174f; padding-left: 0px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(1){font-size: 27px; color: #00174f;line-height:1.3;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2),section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3)
    {font-size: 15px; padding-left:25px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2) {margin-top: 30px; line-height: 1.5;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3){margin-top: 30px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}
    section .contents_men #men_subwrap #men_sub1_3 #men_sub3_img {margin-top: 35px;}


    section .contents_men #tommy_men2 {width: 100%; margin-top: 50px;}
    section .contents_men #tommy_men2 #men_main2 {width: 100%;}
    section .contents_men #tommy_men2 #men_main2 img {width: 100%;}
    section .contents_men #tommy_men2 #men_subwrap2 {width: 740px; overflow: hidden; margin: 0 auto; margin-top: 50px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_1 {width: 255px; float: left;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_2 {width: 255px; float: left; margin-left: 57px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 {width: 135px; float: left; margin-left: 38px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p{text-align: right; padding-left: 10px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1){font-size: 27px; color: #00174f; line-height: 1.5;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1) span{color: #b30c2f;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(2),section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3)
    {font-size: 15px; line-height: 1.5; margin-top: 20px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}

}


@media screen and (max-width : 800px) {
    
    
    .coll_menu {width: 80%;}
    .coll_menu ul{margin-top: 40px;}
    .coll_menu ul a{padding: 14px 0px;font-size: 12px;}
    section .con_wrap{width:100%; margin-top:40px;}
    

    section .con_wrap{width:100%; margin-top:50px;}
    section .con_wrap div img{width:100%;}

    section .contents_men {margin-top:40px;}
    section .contents_men #men_main{width: 100%;}
    section .contents_men #men_main img{width: 100%;}
    section .contents_men #men_subwrap { width: 600px;margin: 0 auto; margin-top:40px; overflow: hidden;}
    section .contents_men #men_subwrap #men_sub1_1 {width: 170px; float: left;}
    section .contents_men #men_subwrap #men_sub1_2 {width: 227px; float: left; margin-left: 16px;}
    section .contents_men #men_subwrap #men_sub1_3 {width: 170px; float: left; margin-left: 16px;}
    section .contents_men #men_subwrap #men_sub1_3 p{text-align:right; color: #00174f; padding-left: 0px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(1){font-size: 24px; color: #00174f;line-height:1.3;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2),section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3)
    {font-size: 14px; padding-left:25px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2) {margin-top:20px; line-height: 1.3;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3){margin-top: 20px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}
    section .contents_men #men_subwrap #men_sub1_3 #men_sub3_img {margin-top: 25px;}


    section .contents_men #tommy_men2 {width: 100%; margin-top: 30px;}
    section .contents_men #tommy_men2 #men_main2 {width: 100%;}
    section .contents_men #tommy_men2 #men_main2 img {width: 100%;}
    section .contents_men #tommy_men2 #men_subwrap2 {width: 600px; overflow: hidden; margin: 0 auto; margin-top: 50px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_1 {width: 215px; float: left;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_2 {width: 215px; float: left; margin-left: 20px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 {width: 150px; float: left; margin-left: 0px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p{text-align: right; padding-left: 10px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1){font-size: 27px; color: #00174f; line-height: 1.5;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1) span{color: #b30c2f;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(2),section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3)
    {font-size: 15px; line-height: 1.5; margin-top: 20px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}
}


@media screen and (max-width : 640px) {
    .coll_menu {width: 85%;}
    .coll_menu ul{margin-top: 25px;}
    .coll_menu ul a{padding: 11px 0px;font-size: 12px;}
    
    section .con_wrap{width:100%; margin-top:50px;}
    section .con_wrap div img{width:100%;}

    section .contents_men {margin-top:30px;}
    section .contents_men #men_main{width: 100%;}
    section .contents_men #men_main img{width: 100%;}
    section .contents_men #men_subwrap { width: 300px;margin: 0 auto; margin-top:40px; overflow: hidden;}
    section .contents_men #men_subwrap #men_sub1_1 {width: 300px; float: left;}
    section .contents_men #men_subwrap #men_sub1_2 {width: 300px; float: left; margin-left: 0px; margin-top: 30px;}
    section .contents_men #men_subwrap #men_sub1_3 {width: 300px; float: left; margin-left: 0px; margin-top: 30px;}
    section .contents_men #men_subwrap #men_sub1_3 p{text-align:right; color: #00174f; padding-left: 0px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(1){font-size: 24px; color: #00174f;line-height:1.3;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2),section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3)
    {font-size: 13px; padding-left:80px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(2) {margin-top:20px; line-height: 1.3;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3){margin-top: 20px;}
    section .contents_men #men_subwrap #men_sub1_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}
    section .contents_men #men_subwrap #men_sub1_3 #men_sub3_img {margin-top: 25px;}


    section .contents_men #tommy_men2 {width: 100%; margin-top: 30px;}
    section .contents_men #tommy_men2 #men_main2 {width: 100%;}
    section .contents_men #tommy_men2 #men_main2 img {width: 100%;}
    section .contents_men #tommy_men2 #men_subwrap2 {width: 300px; overflow: hidden; margin: 0 auto; margin-top: 50px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_1 {width: 300px; float: left;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_2 {width: 300px; float: left; margin-left: 0px; margin-top: 30px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 {width: 300px; float: left; margin-left: 0px; margin-top: 30px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p{text-align: right; padding-left: 10px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1){font-size: 21px; color: #00174f; line-height: 1.5;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(1) span{color: #b30c2f;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(2),section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3)
    {font-size: 13px; line-height: 1.5;padding-left: 50px; margin-top: 20px;}
    section .contents_men #tommy_men2 #men_subwrap2 #men_sub2_3 p:nth-child(3) a {color: #b30c2f; text-decoration: underline;}
}

    
