*{margin:0; padding:0; border:0;font-family: 'Gill Sans','Gill Sans MT','Calibri',sans-serif;}
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}



header{width:100%; height:80px; background-color:#141821;  z-index: 999; position: relative;}
#logo_wrap{width: 260px; height: 15px; position: absolute; top: 50%; left: 30px; transform: translateY(-50%);}
#logo_wrap img{width: 100%;}
#nav {width: 100%; height: 80px;}
#nav li{width: 20%;  float:left;text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li h2 a {font-size:16px; line-height: 80px; font-weight:normal; color:#eee;font-family: 'Montserrat', sans-serif;}
#nav li  h2 a:hover{color:#b30c2f;}

html, body{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

body{width:100%; background-color:#f2efea;}
section{width:1100px; margin:0 auto;}

#sub_logo { width: 311px; margin: 0 auto; margin-top: 60px;}
#sub_logo h2 img {
    width: 100%;
}

section #main_img {margin-top:60px;}
section #main_img #top_img {overflow: hidden;}
section #main_img #top_img #left{width:318px; float:left; }
section #main_img #top_img #left img{width:100%; height: 162px; }
section #main_img #top_img #left img:nth-child(2){margin-top:8px;}
section #main_img #top_img #center{width: 407Px; float:left; margin-left:20px;}
section #main_img #top_img #center img{width: 100%;}
section #main_img #top_img #right{width: 315px; float:left; margin-left:20px;}
section #main_img #top_img #right img{width: 100%; height: 162px;}
section #main_img #top_img #right img:nth-child(2){margin-top: 8px;}

section #franchise{margin-top: 60px;}
section #franchise #fran_title {width:100%;}
section #franchise #fran_title h4{font-size:60px; font-weight: normal; color:#00174f;}
section #franchise #fran_title h4 .fran_color{color:#b30c2f;}
section #franchise #fran_img{width: 100%; margin-top:60px;}
section #franchise #fran_img img{width: 100%;}
section #franchise .fran_text{font-size:16px; line-height: 1.3; margin-top:60px;}
section #franchise .fran_text .sub_title{font-size:30px; }

section #open_store{margin-top:60px;}
section #open_store #open_title {width:100%;}
section #open_store #open_title h4{font-size:70px; font-weight: normal; color:#00174f;}
section #open_store #open_title h4 .open_color{color:#b30c2f;}
section #open_store #open_text{font-size:16px;}
section #open_store #open_text .open_note{font-weight: bold;}
section #open_store #open_text .form_color{color:#b30c2f;}

section #open_store #label_wrap{margin-top:60px;}
section #open_store #label_wrap .label{width:100%; overflow: hidden;}
section #open_store #label_wrap .label p {font-size:14px; line-height: 1.2;}
section #open_store #label_wrap .label ul{overflow: hidden;}
section #open_store #label_wrap .label ul li{float:left;margin-left: 73px;margin-top: 40px;}
section #open_store #label_wrap .label ul li .form_color{color: #b30c2f;}
section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
section #open_store #label_wrap .label ul li p{cursor: pointer;}
section #open_store #label_wrap .label ul li input{width:220px; height: 25px; cursor: pointer;}

section #open_store #label_wrap #check_sub_wrap{width:100%; margin-top:60px;overflow:hidden;}
section #open_store #label_wrap #check_sub_wrap #check_accept{float:left;}
section #open_store #label_wrap #check_sub_wrap #check_accept input{float:left; cursor: pointer;}
section #open_store #label_wrap #check_sub_wrap #check_accept label{float:left; margin-top: -3px; font-size:15px; cursor: pointer;}
section #open_store #label_wrap #check_sub_wrap #check_accept label .check_text{color:#b30c2f;}
section #open_store #label_wrap #check_sub_wrap #submit{float:right;}
section #open_store #label_wrap #check_sub_wrap #submit div{width:118px; height: 34px; background-color: #b30c2f; border-radius: 10px;}
section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 16px; text-align: center; line-height: 2.2; color: #fff;}




@media screen and (max-width : 1200px) { 

    body{width:100%; background-color:#f2efea;}
    section{width:740px; margin:0 auto;}

    
    #sub_logo { width: 280px; margin: 0 auto; margin-top: 50px;}
    #sub_logo h2 img {width: 100%;}
    section #main_img {margin-top:40px;;}
    section #main_img #top_img {overflow: hidden;}
    section #main_img #top_img #left{width:313px; float:left; }
    section #main_img #top_img #left img{width:100%; height: 162px; }
    section #main_img #top_img #left img:nth-child(2){margin-top:8px;}
    section #main_img #top_img #center{width: 407Px; float:left; margin-left:20px;}
    section #main_img #top_img #center img{width: 100%;}
    section #main_img #top_img #right{display: none;}

    section #franchise{margin-top: 40px;;}
    section #franchise #fran_title {width:100%;}
    section #franchise #fran_title h4{font-size:45px; font-weight: normal; color:#00174f;}
    section #franchise #fran_img{width: 100%; margin-top:40px;;}
    section #franchise #fran_img img{width: 100%;}
    section #franchise .fran_text{font-size:16px; line-height: 1.3; margin-top:40px;;}
    section #franchise .fran_text .sub_title{font-size:27px; }

    section #open_store{margin-top:40px;;}
    section #open_store #open_title h4{font-size:45px; font-weight: normal; color:#00174f;}
    section #open_store #open_text{font-size:15px;}

    section #open_store #label_wrap{width: 400px; margin: 0 auto;margin-top:40px;;}
    section #open_store #label_wrap .label p {font-size:13px; line-height: 1.2;}
    section #open_store #label_wrap .label ul li{float:left;margin-left: 50px;margin-top: 40px;}
    section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(3){margin-left: 0px;}
    section #open_store #label_wrap .label ul li input{width:175px; height: 20px; cursor: pointer;}

    section #open_store #label_wrap #check_sub_wrap #check_accept label{float:left; margin-top: -3px; font-size:13px; cursor: pointer;}
    section #open_store #label_wrap #check_sub_wrap #submit div{width:118px; height: 34px; background-color: #b30c2f; border-radius: 5px;}
    section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 15px; text-align: center; line-height: 2.2; color: #fff;}


}

@media screen and (max-width : 800px) { 

    body{width:100%; background-color:#f2efea;}
    section{width:590px; margin:0 auto;}

    #sub_logo { width: 250px; margin: 0 auto; margin-top: 40px;}
    #sub_logo h2 img {width: 100%;}
    section #main_img {margin-top:40px;}
    section #main_img #top_img {overflow: hidden;}
    section #main_img #top_img #left{width:270px; float:left; }
    section #main_img #top_img #left img{width:100%; height: 118px; }
    section #main_img #top_img #left img:nth-child(2){margin-top:8px;}
    section #main_img #top_img #center{width: 300px; float:left; margin-left:20px;}
    section #main_img #top_img #center img{width: 100%;}
    section #main_img #top_img #right{display: none;}

    section #franchise{margin-top: 40px;;}
    section #franchise #fran_title {width:100%;}
    section #franchise #fran_title h4{font-size:40px; font-weight: normal; color:#00174f;}
    section #franchise #fran_img{width: 100%; margin-top:40px;;}
    section #franchise #fran_img img{width: 100%;}
    section #franchise .fran_text{font-size:14px; line-height: 1.3; margin-top:40px;;}
    section #franchise .fran_text .sub_title{font-size:24px; }

    section #open_store{margin-top:40px;;}
    section #open_store #open_title h4{font-size:35px; font-weight: normal; color:#00174f;}
    section #open_store #open_text{font-size:14px;}

    section #open_store #label_wrap{width: 400px; margin: 0 auto;margin-top:40px;;}
    section #open_store #label_wrap .label p {font-size:13px; line-height: 1.2;}
    section #open_store #label_wrap .label ul li{float:left;margin-left: 40px;;margin-top: 40px;}
    section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(3){margin-left: 0px;}
    section #open_store #label_wrap .label ul li input{width:175px; height: 20px; cursor: pointer;}

    section #open_store #label_wrap #check_sub_wrap #check_accept label{float:left; margin-top: -3px; font-size:13px; cursor: pointer;}
    section #open_store #label_wrap #check_sub_wrap #submit div{width:100px; height: 34px; background-color: #b30c2f; border-radius: 5px;}
    section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 15px; text-align: center; line-height: 2.2; color: #fff;}



}
@media screen and (max-width : 640px) { 


    body{width:100%; background-color:#f2efea;}
    section{width:300px; margin:0 auto;}

    #sub_logo { width: 220px; margin: 0 auto; margin-top: 30px;}
    #sub_logo h2 img {width: 100%;}
    section #main_img {margin-top:40px;}
    section #main_img #top_img {overflow: hidden;}
    section #main_img #top_img #left{width:300px; float:left; }
    section #main_img #top_img #left img{width:100%;}
    section #main_img #top_img #left img:nth-child(2){margin-top:20px;}
    section #main_img #top_img #center{width: 300px; float:left; margin-left:0px; margin-top: 20px;}
    section #main_img #top_img #center img{width: 100%;}
    section #main_img #top_img #right{display: none;}

    section #franchise{margin-top: 40px;;}
    section #franchise #fran_title {width:100%;}
    section #franchise #fran_title h4{font-size:30px; font-weight: normal; color:#00174f;}
    section #franchise #fran_img{width: 100%; margin-top:30px;}
    section #franchise #fran_img img{width: 100%;}
    section #franchise .fran_text{font-size:14px; line-height: 1.3; margin-top:30px;;}
    section #franchise .fran_text .sub_title{font-size:21px; }

    section #open_store{margin-top:30px;}
    section #open_store #open_title h4{font-size:35px; font-weight: normal; color:#00174f;}
    section #open_store #open_text{font-size:14px;}

    section #open_store #label_wrap{width: 300px; margin: 0 auto;margin-top:40px;;}
    section #open_store #label_wrap .label p {font-size:13px; line-height: 1.2;}
    section #open_store #label_wrap .label ul li{float:left;margin-left: 20px;;margin-top: 40px;}
    section #open_store #label_wrap .label ul li .label_1{margin-top: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(1){margin-left: 0px;}
    section #open_store #label_wrap .label ul li:nth-child(3){margin-left: 0px;}
    section #open_store #label_wrap .label ul li input{width:140px; height: 20px; cursor: pointer;}

    section #open_store #label_wrap #check_sub_wrap #check_accept label{float:left; margin-top: -3px; font-size:13px; cursor: pointer;}
    section #open_store #label_wrap #check_sub_wrap #submit div{width:100px; height: 34px; background-color: #b30c2f; border-radius: 5px;}
    section #open_store #label_wrap #check_sub_wrap #submit div p{font-size: 13px; text-align: center; line-height: 2.2; color: #fff;}
}

