*{margin:0; padding:0; border:0;font-family: 'Gill Sans','Gill Sans MT','Calibri',sans-serif; }
li{list-style:none; }
a{text-decoration:none; color:#00174f;}
img{border:0; margin:0; padding:0;}

header{width:100%; height:80px; background-color:#141821;  z-index: 999; position: relative;}
#logo_wrap{width: 260px; height: 15px; position: absolute; top: 50%; left: 30px; transform: translateY(-50%);}
#logo_wrap img{width: 100%;}
#nav {width: 100%; height: 80px;}
#nav li{width: 20%;  float:left;text-align: center;}
#nav li:nth-child(1) {margin-left:0px;}
#nav li h2 a {font-size:16px; line-height: 80px; font-weight:normal; color:#eee;font-family: 'Montserrat', sans-serif;}
#nav li  h2 a:hover{color:#b30c2f;}

html, body{
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

body{width:100%; background-color:#f2efea;}

section{width:100%;}
section #main_store {width: 100%;}

    
#title { width: 311px; margin: 0 auto; margin-top: 60px;}
#title h2 img {width: 100%;}
section #main_store #top_wrap {width: 1100px; margin: 0 auto; margin-top: 80px; padding-bottom: 40px; border-bottom: 2px solid #dedde0; overflow: hidden;}
section #main_store #top_wrap #store_subname {float: left;}
section #main_store #top_wrap #store_subname p {font-size: 24px;}
section #main_store #top_wrap #address {float: right;}
section #main_store #top_wrap #address #option_wrap {float: left; margin-top: 2px;}
section #main_store #top_wrap #address #option_wrap select {width: 210px; height: 20px;}
section #main_store #top_wrap #address #address_wrap {float: left;}
section #main_store #top_wrap #address #address_wrap input {width:210px; height: 20px; padding-left: 15px; margin-left: 20px;}
section #main_store #top_wrap #address #address_wrap img{width: 16px; height: 16px; position: relative;  top: 3px; left: -30px;}

section #store_con {width: 1100px; margin: 0 auto;}
section #store_con .store_wrap {width: 100%; margin-top: 20px; padding-bottom: 20px; overflow: hidden; border-bottom: 1px solid #dedde0;}
section #store_con .store_wrap:nth-child(9) {border-bottom: 2px solid #dedde0;}
section #store_con .store_wrap .store_img {float: left; width: 500px;}
section #store_con .store_wrap .store_img img {width: 100%;}
section #store_con .store_wrap .store_menu {width: 130px; margin-left: 40px; float: left;}
section #store_con .store_wrap .store_menu ul li{font-size: 14px; color: #7a7979; margin-top: 35px;}
section #store_con .store_wrap .store_menu ul li:nth-child(1){margin-top: 0px;}
section #store_con .store_wrap .store_contents {width: 340px; margin-left: 40px; float: left; margin-top: -1px;}
section #store_con .store_wrap .store_contents ul li{font-size: 14px;color: #141821; margin-top: 35px;}
section #store_con .store_wrap .store_contents ul li:nth-child(1){margin-top: 0px;}



@media screen and (max-width : 1200px) {

    
    #title { width: 280px; margin: 0 auto; margin-top: 50px;}
    #title h2 img {width: 100%;}

    section #main_store #top_wrap {width: 750px; margin: 0 auto; margin-top: 70px; padding-bottom: 30px; border-bottom: 2px solid #dedde0; overflow: hidden;}
    section #main_store #top_wrap #store_subname {float: left;}
    section #main_store #top_wrap #store_subname p {font-size: 23px;}
    section #main_store #top_wrap #address {float: right;}
    section #main_store #top_wrap #address #option_wrap {float: left; margin-top: 2px;}
    section #main_store #top_wrap #address #option_wrap select {width: 210px; height: 20px;}
    section #main_store #top_wrap #address #address_wrap {float: left;}
    section #main_store #top_wrap #address #address_wrap input {width:210px; height: 20px; padding-left: 15px; margin-left: 20px;}
    section #main_store #top_wrap #address #address_wrap img{width: 16px; height: 16px; position: relative;  top: 3px; left: -30px;}

    section #store_con {width: 750px; margin: 0 auto;}
    section #store_con .store_wrap {width: 100%; margin-top: 20px; padding-bottom: 20px; overflow: hidden; border-bottom: 1px solid #dedde0;}
    section #store_con .store_wrap:nth-child(9) {border-bottom: 2px solid #dedde0;}
    section #store_con .store_wrap .store_img {float: left; width: 310px;}
    section #store_con .store_wrap .store_img img {width: 100%;}
    section #store_con .store_wrap .store_menu {width: 60px; margin-left: 40px; float: left;}
    section #store_con .store_wrap .store_menu ul li{font-size: 13px; color: #7a7979; margin-top: 20px;}
    section #store_con .store_wrap .store_menu ul li:nth-child(1){margin-top: 0px;}
    section #store_con .store_wrap .store_contents {width: 300px; margin-left: 40px; float: left; margin-top: -1px;}
    section #store_con .store_wrap .store_contents ul li{font-size: 13px;color: #141821; margin-top: 20px;}
    section #store_con .store_wrap .store_contents ul li:nth-child(1){margin-top: 0px;}


}

@media screen and (max-width : 800px) {


    
    #title { width: 250px; margin: 0 auto; margin-top: 40px;}
    #title h2 img {width: 100%;}
    
    
    section #main_store #top_wrap {width: 600px; margin: 0 auto; margin-top: 60px; padding-bottom: 20px; border-bottom: 2px solid #dedde0; overflow: hidden;}
    section #main_store #top_wrap #store_subname {float: left;}
    section #main_store #top_wrap #store_subname p {font-size: 22px;}
    section #main_store #top_wrap #address {float: right;}
    section #main_store #top_wrap #address #option_wrap {float: left; margin-top: 2px;}
    section #main_store #top_wrap #address #option_wrap select {width: 150px; height: 20px;}
    section #main_store #top_wrap #address #address_wrap {float: left;}
    section #main_store #top_wrap #address #address_wrap input {width:150px; height: 20px; padding-left: 15px; margin-left: 20px;}
    section #main_store #top_wrap #address #address_wrap img{width: 16px; height: 16px; position: relative;  top: 3px; left: -30px;}

    section #store_con {width: 600px; margin: 0 auto;}
    section #store_con .store_wrap {width: 100%; margin-top: 20px; padding-bottom: 20px; overflow: hidden; border-bottom: 1px solid #dedde0;}
    section #store_con .store_wrap:nth-child(9) {border-bottom: 2px solid #dedde0;}
    section #store_con .store_wrap .store_img {float: left; width: 250px;}
    section #store_con .store_wrap .store_img img {width: 100%;}
    section #store_con .store_wrap .store_menu {width: 60px; margin-left: 30px; float: left;}
    section #store_con .store_wrap .store_menu ul li{font-size: 12px; color: #7a7979; margin-top: 15px;}
    section #store_con .store_wrap .store_menu ul li:nth-child(1){margin-top: 0px;}
    section #store_con .store_wrap .store_contents {width: 220px; margin-left: 40px; float: left; margin-top: -1px;}
    section #store_con .store_wrap .store_contents ul li{font-size: 12px;color: #141821; margin-top: 15px;}
    section #store_con .store_wrap .store_contents ul li:nth-child(1){margin-top: 0px;}


}


@media screen and (max-width : 640px) {


    
    #title { width: 220px; margin: 0 auto; margin-top: 30px;}
    #title h2 img {width: 100%;}

    section #main_store #top_wrap {width: 300px; margin: 0 auto; margin-top: 60px; padding-bottom: 20px; border-bottom: 2px solid #dedde0; overflow: hidden;}
    section #main_store #top_wrap #store_subname {float: none;  width: 100%;}
    section #main_store #top_wrap #store_subname p {font-size: 22px;}
    section #main_store #top_wrap #address {float: none; width: 100%;margin-top: 10px; overflow: hidden;}
    section #main_store #top_wrap #address #option_wrap {float: left; margin-top: 2px;}
    section #main_store #top_wrap #address #option_wrap select {width: 132.5px; height: 20px;}
    section #main_store #top_wrap #address #address_wrap {float: left;}
    section #main_store #top_wrap #address #address_wrap input {width:132.5px; height: 20px; padding-left: 15px; margin-left: 20px;}
    section #main_store #top_wrap #address #address_wrap img{width: 16px; height: 16px; position: relative;  top: 3px; left: -30px;}

    section #store_con {width: 300px; margin: 0 auto;}
    section #store_con .store_wrap {width: 100%; margin-top: 20px; padding-bottom: 20px; overflow: hidden; border-bottom: 1px solid #dedde0;}
    section #store_con .store_wrap:nth-child(9) {border-bottom: 2px solid #dedde0;}
    section #store_con .store_wrap .store_img {float: left; width: 100%;}
    section #store_con .store_wrap .store_img img {width: 100%;}
    section #store_con .store_wrap .store_menu {width: 60px; margin-left: 0px; float: left;}
    section #store_con .store_wrap .store_menu ul li{font-size: 11px; color: #7a7979; margin-top: 10px;}
    section #store_con .store_wrap .store_menu ul li:nth-child(1){margin-top: 0px;}
    section #store_con .store_wrap .store_contents {width: 200px; margin-left: 40px; float: left; margin-top: -1px;}
    section #store_con .store_wrap .store_contents ul li{font-size: 11px;color: #141821; margin-top: 10px;}
    section #store_con .store_wrap .store_contents ul li:nth-child(1){margin-top: 0px;}


}
