
@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.woff'); 
    src:local(※), format(‘woff’) 
}

@font-face{ 
    font-family:nsr; 
    src:url('../font/NanumSquareR.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:nsb; 
    src:url('../font/NanumSquareB.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:nseb; 
    src:url('../font/NanumSquareEB.woff'); 
    src:local(※), format(‘woff’) 
}

@font-face{ 
    font-family:nsrl; 
    src:url('../font/NanumSquareRoundL.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:nsrr; 
    src:url('../font/NanumSquareRoundR.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:nsrb; 
    src:url('../font/NanumSquareRoundEB.woff'); 
    src:local(※), format(‘woff’) 
}


@font-face{ 
    font-family:ds; 
    src:url('../font/DancingScriptOT.woff'); 
    src:local(※), format(‘woff’) 
}
@font-face{ 
    font-family:ds; 
    src:url('../font/DancingScriptOT.eot'); 
    src:local(※), format(‘eot’) 
}




@font-face{ 
    font-family:rl; 
    src:url('../font/Roboto-Light.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/Roboto-Medium.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/Roboto-Regular.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rb; 
    src:url('../font/Roboto-Bold.eot'); 
    src:local(※), format(‘eot’) 
}

@font-face{ 
    font-family:nsr; 
    src:url('../font/NanumSquareR.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rm; 
    src:url('../font/NanumSquareB.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:rr; 
    src:url('../font/NanumSquareEB.eot'); 
    src:local(※), format(‘eot’) 
}


@font-face{ 
    font-family:nsrl; 
    src:url('../font/NanumSquareRoundL.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:nsrr; 
    src:url('../font/NanumSquareRoundR.eot'); 
    src:local(※), format(‘eot’) 
}
@font-face{ 
    font-family:nsrb; 
    src:url('../font/NanumSquareRoundEB.eot'); 
    src:local(※), format(‘eot’) 
}



* {
    margin: 0;
    padding: 0px;
}

a { 
    color: black;
    text-decoration: none;
}    

ul, li, ol {
    list-style: none;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

.main_visu {
    width: 100%;
    height: 100vh;
    background: url('../img/main/main_visu.png') no-repeat center;
    background-size: cover;
}

.main_visu .main_ment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main_visu .main_ment h1 {
    font-size: 70px;
    color: #fff;
    text-align: center;
    display: inline-block;
    text-shadow: 5px 5px 5px black;
    font-family: rm;
    line-height: 1.5;
}

.main_visu .main_ment h1 span{
    font-size: 60px;
    text-align: center;
    display: block;
    font-family: ds;
}




.sns_tag {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    
}

.sns_tag ul li {
    float: left;
    width: 100px;
    text-align: center;
}

.sns_tag ul li a{
    font-size: 25px;
    color: #fff;
    transition-duration: 1s;
}


.sns_tag ul li:nth-child(1) {
    margin-top: 0px;
}

.sns_tag ul li:nth-child(3) a {
    font-size: 22px;
}

.sns_tag ul li:nth-child(1) a:hover{
    color: #3b5998;
}

.sns_tag ul li:nth-child(2) a:hover{
    color: #c13584
}

.sns_tag ul li:nth-child(3) a:hover{
    color: #ffe812
}





.page_2 {
    width: 100%;
    height: 100vh;
    background-color: #646464;
    position: relative;
}


.page_2 .line {
    width: 2px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.page_2 h1{
    font-family:  ds;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    color: #fff;
    text-shadow: 5px 5px 5px black;
}

.page_2 .about {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 60px;
}

.page_2 .about .about_l{
    width: 100%;
    position: relative;
}

.page_2 .about .about_l h3 {
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}
.page_2 .about .about_l p{
    font-size: 21px;
    font-family: nseb;
    text-align: center;
    line-height: 2;
    color: #fff;
}

.page_2 .about .about_l a {
    display: block;
    width: 200px;
    color: black;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    padding: 5px 0px;
    margin-top: 40px;
    border-radius: 10px;
    background: linear-gradient(to right, black 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .7s ease-out;
}

.page_2 .about .about_l a:hover{
    color: #fff;
    transition-duration: .7s;
  background-position: left bottom;
}





.page_3 {
    width: 100%;
    height: 100vh;
    background-color: #646464;
    position: relative;
}


.page_3 .line {
    width: 2px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9000;
}

.page_3 h1{
    font-family:  ds;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    color: #fff;
    text-shadow: 5px 5px 5px black;
    z-index: 9000;
    position: absolute;
    width: 100%;
    text-align: center;
}


.page_3 .port-op {
    width: 250px;
    margin: 0 auto;
}


.page_3 .port-op select{
    width: 230px;
    margin: 0 auto;
    position: absolute;    
    padding: 10px 20px;
    border-radius: 10px;
    font-family: nseb;
    margin-top: 230px;
    border: 3px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    z-index: 9000;
}

.page_3 .port-op select option{
    background: rgba("114,114,114,0.3");
    color: black;
    padding: 10px;
    cursor: pointer;
}

.page_3 .port_wrap {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 99;
}

.page_3 .port_wrap .overlay_b{
    position: absolute; 
    width: 100%; 
    height: 100vh;
}

.page_3 .port_wrap .overlay_b .port_over{
    position: absolute; 
    width: 100%; 
    height: 100vh;
    background: rgba(114,114,114,0.7);
}

.page_3 .port_wrap .overlay_b .port_over .move{
    position: absolute;
    top: 190px;
    width: 100%;
    display: block;
    text-align: center;
    cursor: pointer;
    z-index: 9000;
    font-size: 22px;
    font-family: nseb;
}

.page_3 .port_wrap .overlay_b .port_over .move a {
    color: #fff;
}

.page_3 .port_wrap .overlay_b .port_over .over_info{
    font-size: 22px;
    font-family: nseb;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 55%;
    transform: translateY(-50%);
    line-height: 1.5;
    color: #fff;
}


.page_3 .port_wrap .overlay_b .port_over .port_info{
    font-size: 22px;
    font-family: nseb;
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
    line-height: 1.5;
    color: black;
    width: 650px;
    margin: 0 auto;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color {
    background-color: #fff;
    width: 300px;
    float: left;
    padding: 10px 0px;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color p {
    line-height: 2;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color p span {
    font-size: 16px;
    color: #fff;
    padding: 5px;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .b30c2f{
    background-color:  #b30c2f;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .c00174f{
    background-color:  #00174f;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .b231f20{
    background-color:  #231f20;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .c9fad3b{
    background-color: #9fad3b;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .b57519{
    background-color:  #b57519;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .c734730{
    background-color: #734730;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .b57519{
    background-color:  #b57519;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .c99be3b{
    background-color: #99be3b;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .b323232{
    background-color:  #323232;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .c2a2a2a{
    background-color: #2a2a2a;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .b4e8ce8{
    background-color:  #4e8ce8;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .color .c0d4392{
    background-color: #0d4392;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .skill {
    background-color: #fff;
    width: 300px;
    float: left;
    margin-left: 50px;
    padding: 10px 0px;
}


.page_3 .port_wrap .overlay_b .port_over .port_info ul .skill p {
    line-height: 2;
}

.page_3 .port_wrap .overlay_b .port_over .port_info ul .skill p span {
    font-size: 16px;
}

.page_3 .port_wrap #port1 {
    background: url("../img/main/port_1.png") no-repeat center;
    background-size: cover;
}

.page_3 .port_wrap #port2 {
    background: url("../img/main/port_2.png") no-repeat center;
    background-size: cover;
}

.page_3 .port_wrap #port3 {
    background: url("../img/main/port_3.png") no-repeat center;
    background-size: cover;
}

.page_3 .port_wrap #port4 {
    background: url("../img/main/port_4.png") no-repeat center;
    background-size: cover;
}

.page_3 .port_wrap #port5 {
    background: url("../img/main/port_5.png") no-repeat center;
    background-size: cover;
}

footer {
    width: 900px;
    overflow: hidden;
    padding: 60px 0px;
    margin: 0 auto;
}

footer h1 {
    font-size: 30px;
    font-family: nseb;
    text-align: center;
    padding-bottom: 40px;
}

footer ul li {
    width: 300px;
    float: left;
    text-align: center;
    font-size: 20px;
    font-family: nseb;
}



@media screen and (max-width:1280px) {
    

    .main_visu .main_ment h1 {
        font-size: 40px;
    }

    .main_visu .main_ment h1 span{
        font-size: 45px;
    }




    .sns_tag {
        width: 210px;

    }

    .sns_tag ul li {
        width: 70px;
    }


    .sns_tag ul li:nth-child(3) a {
        font-size: 20px;
    }




    .page_2 h1{
        font-size: 60px;
    }

    .page_2 .about {
        width: 800px;
    } 

    .page_2 .about .about_l h3 {
        font-size: 25px;
    }
    .page_2 .about .about_l p{
        font-size: 17px;
    }

    .page_2 .about .about_l a {
        font-size: 15px;
        width: 180px;
    }

    .page_3 h1{
        font-size: 60px;
    }



    .page_3 .port_wrap .overlay_b .port_over .move{
        font-size: 20px;
    }


    .page_3 .port_wrap .overlay_b .port_over .over_info{
        font-size: 20px;
    }


    .page_3 .port_wrap .overlay_b .port_over .port_info{
        font-size: 20px;
    }
    .page_3 .port_wrap .overlay_b .port_over .port_info ul .color p span {
        font-size: 15px;
    }


    .page_3 .port_wrap .overlay_b .port_over .port_info ul .skill p {
        line-height: 2;
    }

    .page_3 .port_wrap .overlay_b .port_over .port_info ul .skill p span {
        font-size: 16px;
    }

    footer {
        width: 720px;
        padding: 50px 0px;
    }

    footer h1 {
        font-size: 20px;
    }

    footer ul li {
        width: 240px;
        font-size: 15px;
    }

    
    
    
    
}



@media screen and (max-width:900px) {
  


    .main_visu .main_ment h1 {
        font-size: 40px;
    }

    .main_visu .main_ment h1 span{
        font-size: 50px;
    }




    .sns_tag {
        width: 240px;

    }

    .sns_tag ul li {
        width: 80px;
    }

    .sns_tag ul li a{
        font-size: 22px;
    }


    .page_2 .line {
        height: 150px;
    }



    .page_2 h1{
        font-size: 40px;
        padding-top: 130px;
    }


    .page_2 .about .about_l h3 {
        font-size: 24px;
    }
    .page_2 .about .about_l p{
        font-size: 17px;
    }

    .page_2 .about .about_l a {
        width: 140px;
        font-size: 14px;
    }




    .page_3 .line {
        height: 150px;
    }


    .page_3 h1{
        font-size: 40px;
        padding-top: 130px;
    }


    .page_3 .port-op select{
        width: 150px;
        padding: 5px 10px;
        font-family: nseb;
        margin-top: 230px;
        left: 50%;
        transform: translateX(-50%);
    }



    .page_3 .port_wrap .overlay_b .port_over .move{
        top: 190px;
        font-size: 16px;
    }
    .page_3 .port_wrap .overlay_b .port_over .over_info{
        font-size: 18px;
        top: 380px;
    }


    .page_3 .port_wrap .overlay_b .port_over .port_info{
        font-size: 18px;
        left: 50%;
        bottom: 80px;
        width: 450px;
    }

    .page_3 .port_wrap .overlay_b .port_over .port_info ul .color {
        background-color: #fff;
        width: 200px;
        float: left;
        padding: 10px 0px;
    }

    .page_3 .port_wrap .overlay_b .port_over .port_info ul .color p {
        line-height: 2;
    }

    .page_3 .port_wrap .overlay_b .port_over .port_info ul .color p span {
        font-size: 16px;
        color: #fff;
        padding: 5px;
    }



    .page_3 .port_wrap .overlay_b .port_over .port_info ul .skill {
        background-color: #fff;
        width: 200px;
        float: left;
        margin-left: 50px;
        padding: 10px 0px;
    }

    .page_3 .port_wrap .overlay_b .port_over .port_info ul .skill p span {
        font-size: 16px;
    }

    footer {
        width: 600px;
        padding: 50px 0px;
    }

    footer h1 {
        font-size: 20px;
    }

    footer ul li {
        width: 200px;
        font-size: 14px;
        font-family: nsr;
    }



    
}


@media screen and (max-width:640px) {


        .main_visu .main_ment h1 {
            font-size: 25px;
        }

        .main_visu .main_ment h1 span{
            font-size: 30px;
        }

        .sns_tag {
            width: 150px;
        }

        .sns_tag ul li {
            width: 50px;
        }

        .sns_tag ul li a{
            font-size: 18px;
            color: #fff;
            transition-duration: 1s;
        }


        .sns_tag ul li:nth-child(1) {
            margin-top: 0px;
        }

        .sns_tag ul li:nth-child(3) a {
            font-size: 18px;
        }

        .page_2 h1{
            font-size: 40px;
        }

        .page_2 .about {
            width: 100%;
            padding-top: 40px;
        }

        .page_2 .about .about_l h3 {
            font-size: 20px;
        }
        .page_2 .about .about_l p{
            width: 80%;
            margin: 0 auto;
            font-size: 15px;
            font-weight: bold;
            font-family: nsrr;
        }

        .page_2 .about .about_l a {
            width: 120px;
            font-size: 12px;
            font-weight: bold;
            font-family: nsrr;
        }

        .page_3 h1{
            font-size: 40px;
        }


        .page_3 .port-op {
            width: 180px;
            margin: 0 auto;
        }


        .page_3 .port-op select{
            width: 180px;
        }

        .page_3 .port-op select option{
            background: rgba("114,114,114,0.3");
            color: black;
            padding: 10px;
            cursor: pointer;
        }

        .page_3 .port_wrap .overlay_b .port_over .move{
            font-size: 16px;
            font-family: nsrr;
            font-weight: bold;
        }
    
        .page_3 .port_wrap .overlay_b .port_over .over_info{
            font-size: 12px;
            font-weight: bold;
            font-family: nsrr;
            text-align: center;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
            top: 285px;
        }


        .page_3 .port_wrap .overlay_b .port_over .port_info{
            font-size: 12px;
            width: 300px;
            bottom: 60px;
        }

        .page_3 .port_wrap .overlay_b .port_over .port_info ul .color {
            width: 300px;
        }

        .page_3 .port_wrap .overlay_b .port_over .port_info ul .color p span {
            font-size: 14px;
            color: #fff;
            padding: 5px;
        }



        .page_3 .port_wrap .overlay_b .port_over .port_info ul .skill {
            background-color: #fff;
            width: 300px;
            margin-left: 0px;
            margin-top: 20px;
            padding: 10px 0px;
        }


        .page_3 .port_wrap .overlay_b .port_over .port_info ul .skill p {
            line-height: 2;
        }

        .page_3 .port_wrap .overlay_b .port_over .port_info ul .skill p span {
            font-size: 14px;
        }
    
        footer {
            width: 300px;
            padding: 30px 0px;
        }

        footer h1 {
            font-size: 15px;
            font-family: nsrr;
            font-weight: bold;
            text-align: center;
            padding-bottom: 40px;
        }

        footer ul li {
            width: 300px;
            float: left;
            text-align: center;
            font-size: 15px;
            font-family: nsrr;
            font-weight: bold;
            padding: 5px 0px;
        }


}


